            <!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"titan-power-plus.myshopify.com",ver:"2.1"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,i){return void 0===i&&(i=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(i)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

<script> (function(_0x2ab43c,_0x320588){function _0x4d52ad(_0x33ae8d,_0x564383,_0xfd0912,_0x42ad29){return _0xf736(_0xfd0912-0x248,_0x564383);}var _0x1854bc=_0x2ab43c();function _0x3b4cc3(_0x53415d,_0x3f8702,_0x2edf1b,_0x47c233){return _0xf736(_0x47c233-0x3b4,_0x2edf1b);}while(!![]){try{var _0x4bbed7=parseInt(_0x4d52ad(0x440,0x486,0x4a0,0x4cc))/(0x1*0x172f+-0x5ea+0x104*-0x11)+-parseInt(_0x3b4cc3(0x60b,0x60a,0x5ed,0x645))/(-0x98*-0x3d+0x692*0x1+-0x559*0x8)+parseInt(_0x4d52ad(0x419,0x414,0x459,0x4a1))/(0x1f0f*-0x1+0x2*0xa4d+-0x218*-0x5)*(parseInt(_0x3b4cc3(0x5b9,0x641,0x5ad,0x5ef))/(-0x1*0xecb+-0x105b*0x1+0xf95*0x2))+parseInt(_0x3b4cc3(0x639,0x63c,0x5be,0x619))/(-0x925*-0x2+0x1e50+0x3095*-0x1)*(-parseInt(_0x3b4cc3(0x5ba,0x64e,0x5f0,0x5f9))/(0x9d8+0x1bf6+-0x25c8))+-parseInt(_0x4d52ad(0x3f3,0x41d,0x456,0x428))/(0x12d*0x1d+0x142b+0x1*-0x363d)*(parseInt(_0x4d52ad(0x4b1,0x465,0x476,0x433))/(-0x5*-0x35b+-0x92*-0xf+-0x3*0x86f))+parseInt(_0x3b4cc3(0x680,0x689,0x66f,0x64f))/(-0x1897+-0x1215+0x2ab5)+parseInt(_0x4d52ad(0x436,0x48e,0x481,0x4c6))/(0x4c5+0x23e8+-0x28a3)*(-parseInt(_0x3b4cc3(0x599,0x5b0,0x5ac,0x5a3))/(-0x1881+0x26dc+-0x10*0xe5));if(_0x4bbed7===_0x320588)break;else _0x1854bc['push'](_0x1854bc['shift']());}catch(_0x418732){_0x1854bc['push'](_0x1854bc['shift']());}}}(_0x4dbf,-0x217*0x481+0x27a44+0xdf812));var _0x2ad31d=(function(){function _0x548799(_0x30fd33,_0x2bdb5b,_0x41b377,_0x442985){return _0xf736(_0x2bdb5b-0x38,_0x442985);}function _0x33e1e5(_0x162fd6,_0x42d94e,_0x47af8c,_0x585184){return _0xf736(_0x47af8c-0x156,_0x585184);}var _0x1b3d34={};_0x1b3d34[_0x33e1e5(0x33d,0x38d,0x372,0x3ac)]=function(_0xabb114,_0xd7fe57){return _0xabb114!==_0xd7fe57;},_0x1b3d34[_0x33e1e5(0x352,0x38f,0x352,0x2ed)]='znkRi';var _0x1663e0=_0x1b3d34,_0x2fbf73=!![];return function(_0x4ecd2f,_0xc28003){function _0x344dcc(_0x2c2b8a,_0x5da741,_0x5b0c5c,_0x573de6){return _0x33e1e5(_0x2c2b8a-0x1ba,_0x5da741-0x15c,_0x5b0c5c- -0x18,_0x5da741);}if(_0x1663e0['Cpbpr'](_0x344dcc(0x316,0x363,0x34d,0x39e),_0x1663e0['AMegj'])){var _0x4ecb8a=_0x2fbf73?function(){function _0x568355(_0x227f1f,_0x462843,_0x952ef7,_0x48a2dc){return _0x344dcc(_0x227f1f-0x85,_0x462843,_0x48a2dc-0x187,_0x48a2dc-0x114);}if(_0xc28003){var _0x3a8a21=_0xc28003[_0x568355(0x54d,0x52b,0x538,0x537)](_0x4ecd2f,arguments);return _0xc28003=null,_0x3a8a21;}}:function(){};return _0x2fbf73=![],_0x4ecb8a;}else{var _0x225b32=_0x304f3d['apply'](_0x1d4874,arguments);return _0x49e6a2=null,_0x225b32;}};}()),_0x3ca2bf=_0x2ad31d(this,function(){function _0x385f1d(_0x23ef39,_0x5ac5dc,_0x2be3f2,_0x4c6225){return _0xf736(_0x5ac5dc- -0x223,_0x2be3f2);}function _0x5f496b(_0x5aa9d2,_0xa8e4e,_0x2e956d,_0x357399){return _0xf736(_0x2e956d- -0x59,_0x5aa9d2);}return _0x3ca2bf[_0x5f496b(0x269,0x1ff,0x24e,0x28c)]()[_0x5f496b(0x262,0x212,0x201,0x219)](_0x385f1d(0x44,0x20,-0x2d,-0xa)+'+$')[_0x385f1d(0x9f,0x84,0xea,0x9d)]()['constructo'+'r'](_0x3ca2bf)[_0x5f496b(0x248,0x1bd,0x201,0x217)]('(((.+)+)+)'+'+$');});_0x3ca2bf();var _0x1eeb51=(function(){var _0x231689=!![];return function(_0x41b940,_0x11d053){var _0x4b78a2=_0x231689?function(){function _0x280667(_0x524583,_0x5b4bea,_0x57eaf6,_0x8a813f){return _0xf736(_0x524583-0x60,_0x8a813f);}if(_0x11d053){var _0x232ec4=_0x11d053[_0x280667(0x2d2,0x2a3,0x2d5,0x316)](_0x41b940,arguments);return _0x11d053=null,_0x232ec4;}}:function(){};return _0x231689=![],_0x4b78a2;};}()),_0x4fbf37=_0x1eeb51(this,function(){var _0x4670cc={'TPQNa':'5|0|2|4|3|'+'1','bCIjf':function(_0x4b7fd3,_0xfca51a){return _0x4b7fd3!==_0xfca51a;},'sfuJg':_0x277a12(-0x14b,-0x183,-0x1a3,-0x191),'ydMVV':_0x329164(0x333,0x361,0x330,0x371),'EeXOc':_0x277a12(-0x198,-0x16e,-0x13e,-0x10a),'hVCve':function(_0xc599b5,_0x5b6a83){return _0xc599b5(_0x5b6a83);},'rhkjD':function(_0x5e18b1,_0x2bace7){return _0x5e18b1+_0x2bace7;},'CkCQZ':function(_0x18d9bc,_0x3a9865){return _0x18d9bc+_0x3a9865;},'caxhv':_0x329164(0x367,0x38f,0x36f,0x328)+_0x329164(0x2ea,0x319,0x307,0x29e),'ALveM':_0x329164(0x377,0x31b,0x318,0x3c3)+_0x277a12(-0x1d4,-0x17c,-0x14a,-0x1df)+_0x329164(0x2eb,0x33a,0x2de,0x32d)+'\x20)','wpYiq':function(_0x11a086){return _0x11a086();},'gIATg':_0x277a12(-0x13a,-0xe5,-0x12c,-0xd0),'ALPEJ':'warn','SjDnN':_0x329164(0x394,0x36a,0x3be,0x384),'lwrOb':_0x277a12(-0x153,-0x189,-0x159,-0x156),'hivAZ':'exception','qzDbG':_0x277a12(-0x16e,-0x182,-0x198,-0x1ca),'pnHOh':'trace','cbNjc':function(_0x2ea5da,_0x2164fe){return _0x2ea5da<_0x2164fe;}};function _0x329164(_0xa4d8ea,_0xf6caf8,_0x591728,_0x47dc19){return _0xf736(_0xa4d8ea-0x104,_0x591728);}var _0x5ebaa1=function(){var _0x3da0b9={};_0x3da0b9[_0x3b59c3(0x4fc,0x4d8,0x4a9,0x4c4)]=_0x4670cc[_0x5c9814(0x43c,0x466,0x425,0x43d)];function _0x3b59c3(_0x80fd39,_0xbb3692,_0x149f75,_0xdaef9f){return _0x277a12(_0x80fd39-0xd7,_0xdaef9f-0x64b,_0xbb3692,_0xdaef9f-0xfe);}function _0x5c9814(_0xf2224b,_0x212645,_0x5bc055,_0x62d398){return _0x277a12(_0xf2224b-0xb9,_0xf2224b-0x51d,_0x212645,_0x62d398-0x3d);}var _0x14cff1=_0x3da0b9;if(_0x4670cc[_0x5c9814(0x3a2,0x3d4,0x3e2,0x408)](_0x4670cc[_0x3b59c3(0x541,0x5b8,0x5ac,0x589)],_0x4670cc['sfuJg'])){_0x1485a9[_0x3b59c3(0x516,0x51f,0x5a4,0x574)]=!(0x913+-0x948+0x36);var _0x3421a9=null;_0x3217e3[_0x3b59c3(0x501,0x53c,0x48e,0x4e5)]='!1';}else{var _0xce31d4;try{if(_0x4670cc['bCIjf'](_0x4670cc[_0x5c9814(0x3ac,0x3f8,0x34d,0x3a0)],_0x4670cc['EeXOc']))_0xce31d4=_0x4670cc[_0x5c9814(0x404,0x440,0x448,0x454)](Function,_0x4670cc[_0x3b59c3(0x4e1,0x474,0x4cd,0x4c0)](_0x4670cc[_0x3b59c3(0x4c9,0x4d5,0x4fb,0x506)](_0x4670cc[_0x5c9814(0x3b9,0x3fe,0x353,0x3c7)],_0x4670cc[_0x3b59c3(0x517,0x504,0x58c,0x548)]),');'))();else{var _0x5af094=_0x14cff1['LjeQY']['split']('|'),_0x1a8601=0x23e7+0xe*-0x41+-0x27d*0xd;while(!![]){switch(_0x5af094[_0x1a8601++]){case'0':var _0x145080=_0x1ede34[_0x4f6c11];continue;case'1':_0x4863c6[_0x145080]=_0x49e74d;continue;case'2':var _0x49eeb7=_0x26135a[_0x145080]||_0x49e74d;continue;case'3':_0x49e74d[_0x5c9814(0x458,0x457,0x444,0x449)]=_0x49eeb7[_0x3b59c3(0x52c,0x52b,0x55a,0x586)]['bind'](_0x49eeb7);continue;case'4':_0x49e74d[_0x5c9814(0x413,0x455,0x3fb,0x43e)]=_0x3235b3[_0x3b59c3(0x511,0x56b,0x50b,0x52f)](_0x4db510);continue;case'5':var _0x49e74d=_0x29574a[_0x5c9814(0x3e3,0x386,0x416,0x43a)+'r'][_0x5c9814(0x3c7,0x3be,0x3c0,0x42c)][_0x5c9814(0x401,0x39c,0x3a4,0x39d)](_0x2bcd30);continue;}break;}}}catch(_0x155f7e){_0xce31d4=window;}return _0xce31d4;}},_0x1a1507=_0x4670cc[_0x277a12(-0xda,-0xff,-0xf0,-0x158)](_0x5ebaa1);function _0x277a12(_0x36db66,_0x33ae81,_0x5a028e,_0x4b75e9){return _0xf736(_0x33ae81- -0x36c,_0x5a028e);}var _0x553bba=_0x1a1507[_0x329164(0x30f,0x2d5,0x353,0x373)]=_0x1a1507[_0x329164(0x30f,0x325,0x2ca,0x333)]||{},_0x5dd219=[_0x4670cc[_0x329164(0x31d,0x2ef,0x2dc,0x311)],_0x4670cc[_0x329164(0x309,0x2be,0x2bf,0x317)],_0x4670cc['SjDnN'],_0x4670cc[_0x277a12(-0x127,-0x120,-0x107,-0x11e)],_0x4670cc[_0x277a12(-0x11a,-0x12e,-0x16d,-0x15e)],_0x4670cc[_0x277a12(-0x173,-0x149,-0x16b,-0x1a2)],_0x4670cc[_0x277a12(-0xd1,-0x116,-0x131,-0x171)]];for(var _0x23336e=0xc78+-0x6*0x510+-0x23d*-0x8;_0x4670cc[_0x277a12(-0x16f,-0x134,-0x175,-0xf3)](_0x23336e,_0x5dd219['length']);_0x23336e++){var _0x3f1952=_0x1eeb51[_0x329164(0x336,0x385,0x2e5,0x340)+'r'][_0x329164(0x31a,0x2ce,0x311,0x300)]['bind'](_0x1eeb51),_0x41baeb=_0x5dd219[_0x23336e],_0x56c762=_0x553bba[_0x41baeb]||_0x3f1952;_0x3f1952[_0x329164(0x366,0x33c,0x31a,0x398)]=_0x1eeb51['bind'](_0x1eeb51),_0x3f1952[_0x277a12(-0xd6,-0xc5,-0x61,-0xc1)]=_0x56c762[_0x329164(0x3ab,0x410,0x3df,0x392)][_0x329164(0x354,0x398,0x394,0x3ac)](_0x56c762),_0x553bba[_0x41baeb]=_0x3f1952;}});_0x4fbf37();var lazy_css=[],lazy_js=[];function _debounce(_0x24604f,_0x1f358c=0x16eb+-0x1a49+0x48a*0x1){var _0x530fe4={'ETnQV':function(_0x3061e3,_0x24fc6d){return _0x3061e3===_0x24fc6d;},'Xpwld':_0xb12d29(-0x46,-0xa5,0x14,-0x1f),'LJKSc':'bnIhG','DTNis':function(_0x3b9ee7,_0xc25ce6){return _0x3b9ee7(_0xc25ce6);},'gKuoS':function(_0x5015f7,_0x1d7dba,_0x107226){return _0x5015f7(_0x1d7dba,_0x107226);}};function _0xb12d29(_0x3bb73b,_0x4c1040,_0x262c44,_0x102f9c){return _0xf736(_0x3bb73b- -0x295,_0x102f9c);}let _0x29bc83;return(..._0x16bb6c)=>{function _0x36ae57(_0x23bc47,_0x5478da,_0x393ac6,_0x2d308a){return _0xb12d29(_0x393ac6- -0xea,_0x5478da-0x1da,_0x393ac6-0x10f,_0x23bc47);}function _0x334e3a(_0x1cac12,_0x395754,_0x77633d,_0x24b55f){return _0xb12d29(_0x24b55f-0x21d,_0x395754-0x1bb,_0x77633d-0x17c,_0x1cac12);}if(_0x530fe4[_0x334e3a(0x13d,0x1cf,0x1ad,0x173)](_0x530fe4[_0x334e3a(0x1ed,0x226,0x1a5,0x1c8)],_0x530fe4[_0x36ae57(-0x19b,-0x19e,-0x162,-0x174)])){var _0x2d97b8=_0x45ee8a[_0x36ae57(-0xce,-0xcc,-0x10d,-0x157)](_0x35810f,arguments);return _0x2d18fc=null,_0x2d97b8;}else _0x530fe4[_0x36ae57(-0x160,-0x1ba,-0x182,-0x183)](clearTimeout,_0x29bc83),_0x29bc83=_0x530fe4['gKuoS'](setTimeout,()=>_0x24604f[_0x334e3a(0x1df,0x1ba,0x1f6,0x1fa)](this,_0x16bb6c),_0x1f358c);};}window[_0x58469d(-0x120,-0xc8,-0x106,-0x108)]=_0x4defe7(0x46f,0x3f8,0x3e7,0x430)+(window[_0x58469d(-0x88,-0x9b,-0x93,-0x6d)]||'')+_0x4defe7(0x3e6,0x452,0x477,0x441);function _0x4defe7(_0x3a9f29,_0x4b4d26,_0x582a04,_0x232fee){return _0xf736(_0x232fee-0x1c4,_0x4b4d26);}window['___plt']=_0x58469d(-0x6a,-0x6f,-0xc3,-0xd4)+(window[_0x4defe7(0x3ce,0x443,0x397,0x3f7)]||'')+_0x4defe7(0x444,0x49c,0x3fe,0x442);try{var a=navigator[window[_0x58469d(-0xec,-0xc8,-0xb2,-0xc9)]],e=navigator[window['___plt']];window[_0x4defe7(0x40e,0x419,0x4a2,0x459)]=e[_0x58469d(-0x48,-0x7c,-0xb6,-0xc5)](_0x58469d(-0xd9,-0xa8,-0x86,-0xe3))>-(0x11d*-0xf+0x60d+-0x12f*-0x9)&&a[_0x58469d(-0xb8,-0x7c,-0x94,-0xd5)]('CrOS')<0x250f+0x14e8+-0x39f7,window['___mnag']='!1',c=null;}catch(_0x251f9a){window[_0x58469d(0x17,-0x39,-0x99,-0x1a)]=!(0xf98+-0x4ab+0x1d2*-0x6);var c=null;window[_0x4defe7(0x3f9,0x400,0x41d,0x3ca)]='!1';}window[_0x4defe7(0x419,0x413,0x42c,0x459)]=__isPSA;function _0x4dbf(){var _0x5a6f09=['bJulF','ement','huOfM','loadBarInj','htMJa','qzDbG','AwxEe','VksuC','x86_64','CkCQZ','data-src','auBAg','ZloTH','SVNoc','cjLfN','szySj','920VAPDlg','cinNl','QjCBP','forEach','constructo','___mnag1',',\x20function','LFmyy','UqLtT','smWza','cbNjc','19280kSfKCk','frYpJ','43564AsFvPK','yLTrA','NBByZ','hivAZ','(event){as','Xpwld','ibute','removeAttr','(((.+)+)+)','length','66XDLxWr','rinzV','QHqOe','type','lazy','YtFMy','GsFwd','lwrOb','PfVjB','OWTlC','iyXEN','bind','hropw','indexOf','hVCve','mGjgT','DOMContent','pnHOh','Loaded','900974oIZjPP','sedLX','search','IMG','document.a','OYnBp','VZHyf','plat','innerHTML','uAFMP','__proto__','return\x20(fu','dBrfL','108335otNxSr','XzjSz','FIYdq','oad','ALveM','VNrcG','zNcBD','userA','wpYiq','yncLoad();','zMrOV','xtTyo','replaceAll','apply','{}.constru','ydOla','LgFfu','tagName','setAttribu','XlLwl','ZNjHC','cAptk','sMadh','src','gent','form','loading','AiaGD','text/lazyl','lZsHc','xlnuN','NpZbA','SDOmD','ZcdtY','log','apVOW','pEEJI',',\x20asyncLoa','TPQNa','adminBarIn','icNOR','rUEMm','zIWPz','info','998960fsNABX','attachEven','xamAa','rjpba','__isPSA','});if(wind','tener(\x27asy','ARiKn','ector','vUYkm','7335918QHyysa','NkCFq','rmWMt','yrjRp','pHyHK','asyncLoad','qSXnl','xNSep','xFfGO','CtbMo','data-href','ddEventLis','toString','dMEOH','pUqgx','sfuJg','includes','cduUW','rhkjD','KeyFo','error','IFRAME','LjeQY','nction()\x20','rn\x20this\x22)(','nodeType','gZFZa','table','ETnQV','vent)','qjqew','qHPxk','726DbByLH','ctor(\x22retu','bCIjf','PreviewBar','href','VnZdO','ow.attachE','daLuZ','replace','Amnjc','lRuqo','YlgRw','ydMVV','AMegj','DTNis','wXRGH','ZOsnV','subtree','INhCB','yaGDn','GdHLI','jector','ALPEJ','___mnag','YuIgI','caxhv','documentEl','bRgSl','console','(){}','SCRIPT','27055qJcjgi','cDoBK','bbTQC','15jvSSgz','iCGoX','UukCW','eGZHR','zpIrc','prototype','bcdus','fKBmI','gIATg','OWKWS','if(window.','Cpbpr','LJKSc'];_0x4dbf=function(){return _0x5a6f09;};return _0x4dbf();}function _0xf736(_0x3ca2bf,_0x2ad31d){var _0x4dbf01=_0x4dbf();return _0xf736=function(_0xf7360,_0x17d7e8){_0xf7360=_0xf7360-(0xfff+-0x9*-0x161+-0x2*0xd44);var _0x4e7c43=_0x4dbf01[_0xf7360];return _0x4e7c43;},_0xf736(_0x3ca2bf,_0x2ad31d);}if(__isPSA)var uLTS=new MutationObserver(_0x16f9a8=>{var _0x33c8a9={};_0x33c8a9[_0x153fa3(0x2a4,0x283,0x29f,0x2af)]=_0x3f35f3(0x14b,0x1a1,0x149,0x122),_0x33c8a9[_0x3f35f3(0x1b5,0x1f8,0x1f2,0x213)]='data-href',_0x33c8a9[_0x3f35f3(0x152,0x105,0xef,0x1b7)]=function(_0x73b3b0,_0x3b991a){return _0x73b3b0===_0x3b991a;},_0x33c8a9[_0x3f35f3(0x16c,0x182,0x14e,0x133)]=_0x153fa3(0x1d5,0x1d9,0x230,0x185),_0x33c8a9[_0x153fa3(0x1e4,0x1ec,0x1e6,0x212)]=_0x3f35f3(0x1e1,0x199,0x1df,0x23d),_0x33c8a9[_0x153fa3(0x184,0x1ba,0x1bb,0x1d1)]='IFRAME';function _0x153fa3(_0x1e4575,_0x2d13c3,_0x25156f,_0xe2f730){return _0x58469d(_0x1e4575-0x151,_0x2d13c3-0x2a8,_0x25156f,_0xe2f730-0x11);}_0x33c8a9['icNOR']=_0x3f35f3(0x1d7,0x19a,0x212,0x21c),_0x33c8a9[_0x3f35f3(0x1e7,0x1f6,0x229,0x181)]=_0x3f35f3(0x1a1,0x1c3,0x155,0x17d),_0x33c8a9[_0x153fa3(0x251,0x203,0x1a3,0x1a2)]=_0x3f35f3(0x180,0x1aa,0x1c1,0x182),_0x33c8a9[_0x153fa3(0x242,0x272,0x216,0x257)]='src',_0x33c8a9[_0x3f35f3(0x1bf,0x21b,0x192,0x1c6)]=_0x153fa3(0x297,0x235,0x241,0x27c),_0x33c8a9[_0x3f35f3(0x1e6,0x234,0x1dd,0x1bc)]=function(_0x53caeb,_0x5cd543){return _0x53caeb>_0x5cd543;},_0x33c8a9[_0x153fa3(0x1c4,0x210,0x26b,0x231)]='LINK',_0x33c8a9['qSXnl']=function(_0x15c1e5,_0x165627){return _0x15c1e5===_0x165627;},_0x33c8a9[_0x153fa3(0x227,0x1fe,0x1d3,0x225)]='SCRIPT',_0x33c8a9[_0x153fa3(0x1a1,0x1d2,0x20b,0x20b)]=_0x153fa3(0x251,0x25b,0x279,0x26d)+_0x3f35f3(0x1c0,0x18e,0x1ef,0x1ae),_0x33c8a9[_0x3f35f3(0x15a,0x146,0x16a,0x179)]=function(_0x4771ab,_0x4c613f){return _0x4771ab===_0x4c613f;},_0x33c8a9['KeyFo']=function(_0x18e93f,_0x1343d7){return _0x18e93f===_0x1343d7;},_0x33c8a9[_0x3f35f3(0x184,0x139,0x17c,0x19c)]=function(_0x388788,_0x414a20){return _0x388788>_0x414a20;},_0x33c8a9['bbTQC']=function(_0x54bb56,_0xd54a9a){return _0x54bb56===_0xd54a9a;},_0x33c8a9[_0x153fa3(0x2ba,0x25d,0x28a,0x229)]=_0x153fa3(0x227,0x236,0x25a,0x1f0)+_0x153fa3(0x238,0x280,0x24a,0x2d3)+'tener(\x27asy'+'ncLazyLoad'+'\x27,function'+_0x3f35f3(0x197,0x1f8,0x1c5,0x1ad)+_0x153fa3(0x2a8,0x248,0x272,0x25e)+_0x3f35f3(0x1ee,0x1e5,0x202,0x247)+_0x153fa3(0x16e,0x1cf,0x201,0x1ff)+_0x3f35f3(0x144,0x154,0xf2,0x197),_0x33c8a9[_0x3f35f3(0x1c2,0x1d5,0x1f5,0x1e6)]=_0x153fa3(0x1eb,0x1cc,0x21c,0x206)+'Injector',_0x33c8a9[_0x3f35f3(0x182,0x170,0x172,0x1d6)]=_0x153fa3(0x1c6,0x1fb,0x228,0x228)+_0x153fa3(0x241,0x273,0x292,0x232);function _0x3f35f3(_0x32dc2a,_0x506331,_0x3fb64c,_0x1e9c38){return _0x4defe7(_0x32dc2a-0x23,_0x506331,_0x3fb64c-0xf4,_0x32dc2a- -0x26c);}var _0x2de671=_0x33c8a9;_0x16f9a8[_0x153fa3(0x246,0x20b,0x1ad,0x241)](({addedNodes:_0xecc865})=>{function _0x35e3b1(_0x384e80,_0xa97178,_0x4c41e5,_0x492392){return _0x3f35f3(_0xa97178- -0x10c,_0x4c41e5,_0x4c41e5-0x1ba,_0x492392-0x1ce);}var _0x45e330={'XlLwl':function(_0x2b9e30,_0x21def2){return _0x2de671['YlgRw'](_0x2b9e30,_0x21def2);},'ZcdtY':_0x5b8c6b(0x39e,0x42c,0x3db,0x413),'rjpba':_0x2de671[_0x5b8c6b(0x3af,0x3a3,0x3eb,0x3ac)],'OWTlC':_0x2de671[_0x5b8c6b(0x3ea,0x35d,0x385,0x3d0)],'CtbMo':_0x2de671[_0x35e3b1(0xae,0xe4,0xc5,0x11c)],'bRgSl':function(_0x4f7111,_0x1a4d83){function _0x8b92da(_0x3a9b0b,_0x320ff3,_0x233263,_0x53c40e){return _0x35e3b1(_0x3a9b0b-0xa7,_0x53c40e-0x139,_0x3a9b0b,_0x53c40e-0x91);}return _0x2de671[_0x8b92da(0x136,0x122,0x152,0x187)](_0x4f7111,_0x1a4d83);},'mGjgT':function(_0x3fb97c,_0xda6c7c){function _0x3937b4(_0xf91bfb,_0x1c315d,_0x4e01ec,_0x5dfb55){return _0x35e3b1(_0xf91bfb-0xeb,_0x5dfb55-0x355,_0x4e01ec,_0x5dfb55-0x158);}return _0x2de671[_0x3937b4(0x324,0x391,0x3c6,0x383)](_0x3fb97c,_0xda6c7c);},'RaoFz':_0x2de671[_0x5b8c6b(0x3b1,0x426,0x3c3,0x3df)],'ydOla':function(_0x28cc46,_0x2d8ff8){return _0x2de671['cjLfN'](_0x28cc46,_0x2d8ff8);},'FzCgU':function(_0x2a5ea8,_0x23eb33){function _0xd02512(_0x3f1de7,_0x13426c,_0x59234b,_0x561fee){return _0x35e3b1(_0x3f1de7-0x1c5,_0x13426c-0x195,_0x59234b,_0x561fee-0x1a1);}return _0x2de671[_0xd02512(0x212,0x1f1,0x18e,0x1af)](_0x2a5ea8,_0x23eb33);},'yAwGy':_0x2de671[_0x35e3b1(0x35,0x82,0x70,0xba)],'zpIrc':function(_0xf934cd,_0x57b56e){return _0xf934cd===_0x57b56e;},'AiaGD':_0x2de671[_0x35e3b1(0xb2,0x70,0xa7,0xb9)],'zNcBD':'if(window.'+_0x35e3b1(0x7c,0xde,0x9c,0xb0)+'t)','NBByZ':_0x2de671['xlnuN'],'MBeHi':_0x2de671[_0x35e3b1(0x83,0xb6,0x5f,0x82)],'htMJa':_0x35e3b1(0xa6,0xd8,0x93,0xe8)+_0x5b8c6b(0x341,0x33c,0x360,0x355),'qjqew':_0x5b8c6b(0x3f7,0x37c,0x3b1,0x3c4)+_0x35e3b1(0xb2,0xa3,0xc0,0xea),'MxuKq':_0x2de671[_0x5b8c6b(0x32c,0x35b,0x386,0x359)]};function _0x5b8c6b(_0x2b1d9e,_0x3ecdec,_0x393a0e,_0x157c3b){return _0x3f35f3(_0x393a0e-0x204,_0x3ecdec,_0x393a0e-0x174,_0x157c3b-0x1dc);}_0xecc865[_0x35e3b1(0x87,0x7d,0x99,0x7f)](_0x47a15b=>{var _0x56fa90={};_0x56fa90[_0x596085(0x16,0x3,-0x2d,0x2c)]=_0x2de671[_0x4485cf(0x234,0x260,0x218,0x1ff)];function _0x596085(_0x191063,_0x178f8d,_0x5cd9c4,_0x1ebebe){return _0x35e3b1(_0x191063-0xb8,_0x1ebebe- -0x8f,_0x5cd9c4,_0x1ebebe-0x1eb);}function _0x4485cf(_0x5a8481,_0x27cd9f,_0x5c821a,_0x5e4b60){return _0x35e3b1(_0x5a8481-0x64,_0x27cd9f-0x16b,_0x5a8481,_0x5e4b60-0x1bf);}_0x56fa90[_0x596085(0x34,0x5a,0x2a,0x21)]=_0x2de671[_0x596085(0x33,-0x4a,0x31,0x1a)];var _0x1bcc68=_0x56fa90;if(_0x2de671['YlgRw'](_0x2de671[_0x596085(-0x67,-0x4f,-0x47,-0x2f)],_0x2de671[_0x596085(-0x4e,0x2d,0x27,-0x31)])){var _0x1aaf03={};_0x1aaf03[_0x4485cf(0x226,0x1fe,0x25c,0x1eb)]=_0x4485cf(0x23f,0x1df,0x18d,0x19d);var _0x30cbc2=_0x1aaf03;_0x45e330[_0x596085(0x67,0x4f,-0x20,0x35)](-0xc50+-0xd5d+0x19ae,_0x261937[_0x596085(-0x58,-0x99,-0x2,-0x5b)])&&_0x45e330[_0x596085(-0x18,0x71,0x2f,0x35)]('IFRAME',_0x37f87b[_0x596085(0x41,0x4e,0x7c,0x33)])&&(_0x2e0591[_0x596085(0x2,0x36,0x59,0x34)+'te'](_0x45e330[_0x4485cf(0x232,0x23d,0x224,0x20f)],_0x45e330[_0x4485cf(0x1ec,0x24b,0x1fb,0x27c)]),_0x30005f[_0x596085(-0x25,-0x7,0x13,0x34)+'te'](_0x45e330[_0x4485cf(0x1b3,0x205,0x1f6,0x244)],_0x4cc9fa[_0x596085(0x61,0x65,0x6b,0x39)]),_0x5b1690[_0x4485cf(0x23b,0x1f9,0x194,0x19e)+_0x596085(0x45,0x1a,-0x3,-0x2)](_0x45e330[_0x596085(0x37,0xb9,0x72,0x61)])),_0x45e330['bRgSl'](0x821+-0x6*0x1e7+0x34a,_0x4aeffe['nodeType'])&&_0x45e330[_0x596085(0x5d,-0x3a,-0x24,0x11)](_0x45e330['RaoFz'],_0x1e9156['tagName'])&&_0x45e330[_0x596085(-0x3,0x25,0x32,0x31)](++_0x5cee88,_0x580248)&&_0x54832b[_0x4485cf(0x207,0x22e,0x237,0x1f2)+'te'](_0x45e330[_0x4485cf(0x288,0x23d,0x226,0x226)],_0x45e330[_0x4485cf(0x296,0x24b,0x225,0x257)]),_0x45e330['FzCgU'](-0x9c1+-0x1409+0x1dcb,_0x208cec[_0x596085(-0x1d,-0x3c,-0x2f,-0x5b)])&&_0x45e330['bRgSl'](_0x45e330['yAwGy'],_0x3ccf63[_0x596085(0x6,-0x30,0x21,0x33)])&&_0x3508fd[_0x596085(0x2b,0x60,-0x22,0x1)]&&_0x566485[_0x596085(0x4a,-0x56,0x41,-0x12)](_0x289804=>{function _0x44e246(_0x3bcae0,_0x489468,_0x1a60e5,_0x43253c){return _0x4485cf(_0x43253c,_0x489468-0x301,_0x1a60e5-0x141,_0x43253c-0x26);}function _0x37de09(_0x435f59,_0x41af27,_0xbf97e6,_0x330ad0){return _0x4485cf(_0xbf97e6,_0x330ad0- -0xe2,_0xbf97e6-0x3e,_0x330ad0-0x4f);}_0x3de7c5[_0x44e246(0x465,0x4ab,0x471,0x49c)]['includes'](_0x289804)&&(_0x17322a[_0x37de09(0xef,0x11b,0x139,0x14c)+'te'](_0x44e246(0x584,0x55d,0x52a,0x53b),_0x4d3246[_0x44e246(0x4b5,0x4ab,0x48f,0x4ce)]),_0xee1b2d[_0x44e246(0x523,0x4fa,0x4d8,0x4c6)+_0x44e246(0x4c9,0x4f9,0x53a,0x49f)](_0x1bcc68['zMrOV']));}),_0x45e330[_0x596085(-0x50,-0x40,0x8,-0x2e)](-0xada+0x496*-0x3+0x189d,_0x18e1f5[_0x4485cf(0x168,0x19f,0x1e0,0x1ea)])&&_0x45e330[_0x596085(-0x9f,-0x43,-0x3,-0x39)](_0x45e330[_0x596085(0x86,0x7d,0xa1,0x3d)],_0x5dc678[_0x596085(-0x7,0x47,0x51,0x33)])&&(_0x4abee1[_0x4485cf(0x258,0x1fb,0x21c,0x1cd)]&&_0x5d9b30[_0x4485cf(0x1b6,0x1e8,0x1df,0x1dc)](_0x2bf0f4=>{function _0x11a9a8(_0x3d62c4,_0x3db909,_0x305a20,_0x4cf050){return _0x596085(_0x3d62c4-0x85,_0x3db909-0x86,_0x3db909,_0x4cf050- -0x80);}function _0x52ed04(_0x19b2d4,_0x115f14,_0x47bfee,_0x253c9c){return _0x596085(_0x19b2d4-0x10a,_0x115f14-0x176,_0x253c9c,_0x19b2d4-0xa1);}_0x38391c[_0x52ed04(0xda,0xc3,0x9e,0xc5)][_0x11a9a8(-0x29,0x4d,-0x52,-0x18)](_0x2bf0f4)&&(_0x5e8f4f[_0x11a9a8(-0x30,-0x9b,-0x10,-0x4c)+'te'](_0x30cbc2[_0x52ed04(0xa5,0x106,0x56,0xb7)],_0xd21f7d[_0x52ed04(0xda,0x96,0x109,0xcf)]),_0xb4086f['removeAttr'+'ibute']('src'));}),_0x19ac8e[_0x596085(0x44,0x7,0x7d,0x1d)][_0x596085(0x9f,0x89,0x92,0x68)](_0x4485cf(0x29f,0x257,0x28a,0x2af))&&(_0x240e32[_0x4485cf(0x1c9,0x217,0x1bc,0x1f5)]=_0x14041d[_0x596085(0x6,0x5f,0x28,0x1d)][_0x4485cf(0x1ba,0x1ae,0x19d,0x14e)](_0x45e330[_0x596085(-0x19,0x8e,0x0,0x28)],_0x45e330[_0x4485cf(0x244,0x1f4,0x221,0x241)])['replaceAll'](_0x596085(0x8f,0x42,0x2c,0x47)+'d',_0x596085(-0x6,0x34,-0x48,-0xf)+_0x4485cf(0x222,0x1c3,0x190,0x185))),(_0x11a4a5[_0x4485cf(0x222,0x217,0x267,0x26e)][_0x4485cf(0x260,0x262,0x28c,0x22d)](_0x45e330['MBeHi'])||_0x276531[_0x4485cf(0x212,0x217,0x22c,0x25a)][_0x596085(0xac,0x1d,0x74,0x68)](_0x45e330[_0x596085(-0x5c,-0x48,-0x2a,-0x21)]))&&(_0x1b1631[_0x596085(0x2e,0xc,0x52,0x1d)]=_0x2ac5a2[_0x596085(0x34,0x63,0x36,0x1d)][_0x4485cf(0x20f,0x1ae,0x16b,0x182)](_0x45e330[_0x4485cf(0x20a,0x1a4,0x15e,0x1bf)],_0x45e330['MxuKq'])));}else-0xd76+0x253e+-0x17c7===_0x47a15b[_0x596085(-0xab,-0x1d,-0x9d,-0x5b)]&&_0x2de671[_0x596085(-0xb8,-0xa,-0x12,-0x63)]===_0x47a15b['tagName']&&(_0x47a15b[_0x4485cf(0x201,0x22e,0x1da,0x294)+'te'](_0x2de671[_0x4485cf(0x2a6,0x244,0x219,0x273)],_0x2de671[_0x596085(0xae,0x1,0x54,0x4c)]),_0x47a15b[_0x4485cf(0x24a,0x22e,0x205,0x275)+'te'](_0x2de671[_0x596085(-0x4f,-0x2b,0x44,-0x1a)],_0x47a15b[_0x596085(0x90,0x95,0x1d,0x39)]),_0x47a15b[_0x596085(0x1f,0xc,0x5a,-0x1)+_0x4485cf(0x194,0x1f8,0x25a,0x1ce)](_0x2de671[_0x596085(0x50,0x3a,0x1f,0x55)])),_0x2de671[_0x596085(-0xb,-0x72,-0x8a,-0x49)](0x84a*-0x2+0x1397+-0x302,_0x47a15b['nodeType'])&&_0x2de671[_0x4485cf(0x192,0x1b1,0x173,0x1ae)](_0x2de671[_0x596085(0x64,-0x2b,-0x21,0x24)],_0x47a15b['tagName'])&&_0x2de671[_0x596085(0x7f,-0x17,0xb1,0x4b)](++imageCount,lazyImages)&&_0x47a15b[_0x596085(0x41,0x50,-0x26,0x34)+'te'](_0x2de671[_0x4485cf(0x21b,0x244,0x260,0x290)],_0x2de671['zIWPz']),_0x2de671[_0x596085(-0x2f,-0x84,-0x41,-0x49)](-0x3*-0x8d+-0x2607+0x1*0x2461,_0x47a15b[_0x4485cf(0x185,0x19f,0x1fa,0x1eb)])&&_0x2de671['UqLtT']===_0x47a15b[_0x4485cf(0x207,0x22d,0x22a,0x223)]&&lazy_css[_0x596085(-0x2f,-0x4b,-0x4f,0x1)]&&lazy_css[_0x4485cf(0x1de,0x1e8,0x221,0x1bf)](_0x14c7db=>{function _0x13e0db(_0x464eb9,_0x5302e5,_0x4810c7,_0x55aa6f){return _0x596085(_0x464eb9-0x16f,_0x5302e5-0x49,_0x5302e5,_0x55aa6f- -0x19);}function _0x275df1(_0x4931a9,_0x1eb05e,_0x5111ca,_0x4a4712){return _0x596085(_0x4931a9-0x121,_0x1eb05e-0x2d,_0x5111ca,_0x1eb05e-0x3a);}_0x47a15b[_0x275df1(-0x52,-0x16,-0x25,-0x4d)][_0x275df1(0x5f,0xa2,0xbc,0xad)](_0x14c7db)&&(_0x47a15b[_0x13e0db(-0x4b,0x7e,-0x45,0x1b)+'te'](_0x1bcc68[_0x275df1(0x16,0x5b,0x97,0xb8)],_0x47a15b[_0x275df1(0x37,-0x16,-0x32,-0xc)]),_0x47a15b[_0x275df1(0x6,0x39,0x0,-0x1e)+_0x275df1(-0x1f,0x38,0x94,0x2e)](_0x275df1(-0x21,-0x16,-0x51,0x3)));}),_0x2de671[_0x4485cf(0x175,0x1b1,0x16d,0x15b)](0x1f46+0x1c25+0x5*-0xbe2,_0x47a15b[_0x4485cf(0x160,0x19f,0x1d7,0x13c)])&&_0x2de671[_0x596085(0x7d,0x3b,0xb3,0x5e)](_0x2de671[_0x596085(0xd,0x21,-0x67,-0x1f)],_0x47a15b[_0x596085(0x36,-0x2,0x5,0x33)])&&(_0x47a15b['setAttribu'+'te'](_0x2de671[_0x4485cf(0x208,0x1e0,0x200,0x1e3)],_0x47a15b[_0x4485cf(0x1ef,0x233,0x24e,0x260)]),_0x47a15b[_0x4485cf(0x224,0x1f9,0x23b,0x248)+'ibute'](_0x2de671[_0x596085(0x30,0x24,0x9f,0x55)]),_0x47a15b[_0x596085(0x31,0x1c,0xe,0x5)]=_0x2de671[_0x596085(-0x91,-0x90,-0xa4,-0x4b)]);});});}),imageCount=0xf35*-0x1+0x365*0x3+0x506,lazyImages=0xf59*0x1+-0xed7+-0x6e;else var uLTS=new MutationObserver(_0xebf4e5=>{var _0xe6dc2c={};_0xe6dc2c['pHyHK']=function(_0x518979,_0x4118af){return _0x518979!==_0x4118af;},_0xe6dc2c[_0x49dd8b(0x361,0x2fc,0x2f0,0x357)]=_0x49dd8b(0x315,0x336,0x31f,0x355),_0xe6dc2c[_0x49dd8b(0x29f,0x2b4,0x271,0x26d)]=_0x49dd8b(0x2f9,0x2d9,0x2c3,0x2dc),_0xe6dc2c[_0x49dd8b(0x382,0x359,0x30b,0x2f4)]=_0x2f282b(0x271,0x25f,0x239,0x263);function _0x49dd8b(_0x26f6da,_0x456e7b,_0x86d540,_0x30c0f7){return _0x4defe7(_0x26f6da-0xa1,_0x86d540,_0x86d540-0x9,_0x456e7b- -0x113);}_0xe6dc2c[_0x49dd8b(0x307,0x30a,0x31c,0x30b)]=_0x2f282b(0x24d,0x20c,0x22d,0x231),_0xe6dc2c[_0x2f282b(0x282,0x1fc,0x285,0x25e)]=_0x2f282b(0x263,0x2ee,0x25f,0x2b1)+_0x2f282b(0x28e,0x223,0x1ce,0x22e)+_0x49dd8b(0x292,0x298,0x2f0,0x2e0)+'\x20)',_0xe6dc2c[_0x2f282b(0x290,0x2cc,0x2ba,0x2c6)]='GuZEd',_0xe6dc2c['qHPxk']=function(_0x3c0518,_0x2a86fd){return _0x3c0518===_0x2a86fd;},_0xe6dc2c[_0x49dd8b(0x32b,0x353,0x309,0x333)]=_0x2f282b(0x261,0x262,0x28d,0x2ba),_0xe6dc2c['frYpJ']='IMG';function _0x2f282b(_0x587caf,_0x1ab524,_0xeecf0a,_0x56d75d){return _0x4defe7(_0x587caf-0xf5,_0x587caf,_0xeecf0a-0x106,_0x56d75d- -0x186);}_0xe6dc2c[_0x2f282b(0x2f6,0x2ca,0x2f7,0x2b3)]=function(_0x16a442,_0x2d8fc3){return _0x16a442>_0x2d8fc3;},_0xe6dc2c['xgXlj']='LINK',_0xe6dc2c['XzjSz']=_0x49dd8b(0x3ac,0x351,0x37c,0x34b),_0xe6dc2c[_0x2f282b(0x209,0x22d,0x293,0x245)]=_0x49dd8b(0x2c9,0x30d,0x324,0x2ad)+_0x2f282b(0x339,0x290,0x333,0x2e4)+_0x49dd8b(0x3a9,0x348,0x339,0x390)+'ncLazyLoad'+'\x27,function'+'(event){as'+_0x2f282b(0x2db,0x308,0x2f4,0x2ac)+'});if(wind'+_0x49dd8b(0x2bb,0x2a6,0x2c4,0x25c)+'vent)',_0xe6dc2c[_0x49dd8b(0x361,0x302,0x320,0x311)]=_0x2f282b(0x27b,0x2f4,0x27e,0x2c8)+'d',_0xe6dc2c[_0x49dd8b(0x2ab,0x2e6,0x2d0,0x2b5)]=_0x2f282b(0x2c9,0x306,0x281,0x2ca)+'jector',_0xe6dc2c[_0x49dd8b(0x2a7,0x2dc,0x27b,0x2d5)]=_0x2f282b(0x289,0x2a0,0x2a2,0x293)+'Loaded',_0xe6dc2c[_0x2f282b(0x2ae,0x2a4,0x297,0x275)]=_0x49dd8b(0x2c7,0x2d2,0x336,0x330)+_0x2f282b(0x27c,0x2b0,0x312,0x2d7);var _0x251924=_0xe6dc2c;_0xebf4e5[_0x2f282b(0x288,0x28c,0x249,0x26f)](({addedNodes:_0x4f12bf})=>{function _0x445385(_0x104366,_0x3e6b26,_0x5094de,_0x3d660b){return _0x2f282b(_0x3e6b26,_0x3e6b26-0x6c,_0x5094de-0x1e0,_0x5094de-0x80);}function _0x4ef49f(_0x4a3498,_0x2ae1d4,_0x5077a1,_0x5da8fb){return _0x2f282b(_0x5077a1,_0x2ae1d4-0x29,_0x5077a1-0x2e,_0x2ae1d4-0x140);}var _0x278b4={'lRuqo':function(_0x1f1237,_0x265f24){function _0x392684(_0x4b03f7,_0x13a58a,_0x46fff7,_0x101366){return _0xf736(_0x46fff7-0x1eb,_0x13a58a);}return _0x251924[_0x392684(0x478,0x4c6,0x48a,0x4be)](_0x1f1237,_0x265f24);},'vUYkm':_0x4ef49f(0x3e7,0x3df,0x412,0x3d6),'YtFMy':_0x251924[_0x445385(0x359,0x314,0x309,0x2c9)],'lZsHc':_0x251924[_0x4ef49f(0x364,0x381,0x3b7,0x36c)],'QjCBP':_0x251924['dMEOH'],'WsZHs':_0x251924['sedLX'],'NkCFq':function(_0x5920de,_0xe510aa){return _0x5920de(_0xe510aa);},'xFfGO':function(_0x36581f,_0x14309c){return _0x36581f+_0x14309c;},'cAptk':_0x445385(0x32d,0x2e8,0x321,0x2be)+_0x4ef49f(0x368,0x364,0x32a,0x32f),'daLuZ':_0x251924['huOfM'],'sMadh':'mMYHH','OWKWS':_0x251924[_0x4ef49f(0x3f3,0x406,0x3bb,0x402)],'INhCB':function(_0x157774,_0x3a068f){function _0x34f056(_0x12ca4e,_0x205a57,_0x64c359,_0x5ddbee){return _0x445385(_0x12ca4e-0x8c,_0x12ca4e,_0x5ddbee-0x148,_0x5ddbee-0x72);}return _0x251924[_0x34f056(0x446,0x420,0x403,0x3f4)](_0x157774,_0x3a068f);},'VZHyf':_0x4ef49f(0x33f,0x362,0x343,0x3b3),'xtTyo':_0x4ef49f(0x3d5,0x3fd,0x44c,0x400),'ZNjHC':_0x4ef49f(0x3e7,0x3c7,0x37a,0x3b5),'rmWMt':_0x251924[_0x445385(0x32d,0x32e,0x360,0x33d)],'ZSxMh':_0x251924[_0x4ef49f(0x380,0x3b8,0x41a,0x3a8)],'rinzV':function(_0x36d765,_0x37ba7a){function _0x3bc1f9(_0x2f5118,_0x247cd4,_0x849ad2,_0x25f401){return _0x445385(_0x2f5118-0x1ee,_0x849ad2,_0x2f5118- -0x1ec,_0x25f401-0xf9);}return _0x251924[_0x3bc1f9(0x147,0xe8,0x18e,0x13e)](_0x36d765,_0x37ba7a);},'gAgOS':function(_0x5b2f0b,_0x313a44){return _0x5b2f0b===_0x313a44;},'Jrbgc':_0x251924['xgXlj'],'yLTrA':function(_0x54766e,_0x2ac991){function _0x251cb8(_0x95ecf4,_0x51f921,_0x1728d5,_0x4cc597){return _0x445385(_0x95ecf4-0xd4,_0x51f921,_0x4cc597- -0x2ff,_0x4cc597-0x134);}return _0x251924[_0x251cb8(-0xb9,-0x29,-0x62,-0x53)](_0x54766e,_0x2ac991);},'UukCW':_0x445385(0x285,0x267,0x2cb,0x285),'jLpvB':_0x251924[_0x4ef49f(0x432,0x3e4,0x3af,0x3a5)],'yrjRp':_0x251924[_0x4ef49f(0x3c8,0x385,0x3d8,0x3e7)],'fKBmI':_0x251924[_0x4ef49f(0x36b,0x3cf,0x3ac,0x42f)],'VnZdO':_0x445385(0x2ca,0x2d2,0x2b0,0x281)+'Injector','bJulF':_0x251924[_0x445385(0x356,0x341,0x2f3,0x303)],'fxtPU':_0x251924[_0x4ef49f(0x3a1,0x3a9,0x39f,0x3db)],'PfVjB':_0x251924[_0x4ef49f(0x3d6,0x3b5,0x3a5,0x3dd)]};_0x4f12bf[_0x4ef49f(0x3da,0x3af,0x3ab,0x3db)](_0x2b1726=>{function _0x578506(_0x20f18c,_0x26e49c,_0x28a33c,_0x421407){return _0x445385(_0x20f18c-0xc6,_0x20f18c,_0x28a33c-0xd4,_0x421407-0x96);}var _0x262982={'PKIhV':_0x278b4[_0xa15c8e(-0x19,-0x20,-0x38,-0x68)],'xamAa':_0x278b4['WsZHs'],'NpZbA':function(_0x3c669e,_0x2f3514){function _0x390b0a(_0x213d95,_0x3af9a6,_0x149a2f,_0x28518a){return _0xa15c8e(_0x28518a-0x1fd,_0x3af9a6-0x5d,_0x213d95,_0x28518a-0x1b5);}return _0x278b4[_0x390b0a(0x277,0x20e,0x223,0x250)](_0x3c669e,_0x2f3514);},'wXwSX':function(_0x486f16,_0x25a6bd){function _0xd8c6c8(_0x47e172,_0x55337e,_0x53a7de,_0x47a09b){return _0xa15c8e(_0x47a09b-0x121,_0x55337e-0x16c,_0x53a7de,_0x47a09b-0x1b4);}return _0x278b4[_0xd8c6c8(0x13c,0x19e,0x129,0x17b)](_0x486f16,_0x25a6bd);},'bcdus':_0x278b4[_0xa15c8e(0x31,-0x1,0x18,0x41)],'szySj':_0x278b4[_0x578506(0x3d3,0x365,0x388,0x376)]};function _0xa15c8e(_0x4e9ffa,_0x5a550a,_0x4b0003,_0x2140eb){return _0x4ef49f(_0x4e9ffa-0xe6,_0x4e9ffa- -0x3c7,_0x4b0003,_0x2140eb-0x11b);}_0x278b4[_0x578506(0x348,0x3bc,0x38b,0x32b)](_0x278b4[_0x578506(0x459,0x41d,0x40d,0x425)],_0x278b4[_0x578506(0x3ae,0x34e,0x3ac,0x379)])?(-0x3f6+-0x277+-0x2*-0x337===_0x2b1726[_0xa15c8e(-0x61,-0x75,-0x90,-0x63)]&&_0x278b4[_0x578506(0x3f9,0x383,0x393,0x369)](_0x278b4[_0x578506(0x40f,0x3fa,0x3f0,0x3ab)],_0x2b1726[_0x578506(0x3cc,0x431,0x408,0x3a5)])&&(_0x2b1726[_0x578506(0x3be,0x3f9,0x409,0x3fc)+'te'](_0x278b4[_0xa15c8e(0x27,-0x25,-0x2c,-0x19)],_0x278b4[_0x578506(0x3ab,0x441,0x40b,0x3c7)]),_0x2b1726[_0x578506(0x44e,0x3ed,0x409,0x426)+'te'](_0x278b4[_0xa15c8e(0x39,0x47,0x15,0x98)],_0x2b1726['src']),_0x2b1726[_0xa15c8e(-0x7,0x2a,0x4c,-0x18)+_0xa15c8e(-0x8,0x25,0x34,0xd)](_0x278b4[_0xa15c8e(0x54,-0x10,0x9c,0x9e)])),0x7e5+-0x3*0x215+0x1*-0x1a5===_0x2b1726[_0xa15c8e(-0x61,-0xaf,-0x5e,-0x85)]&&_0x278b4[_0xa15c8e(-0x48,-0x6a,-0x10,0x1b)](_0x278b4['ZSxMh'],_0x2b1726[_0x578506(0x451,0x444,0x408,0x3f7)])&&_0x278b4[_0xa15c8e(-0x3,0x47,-0x5f,0x14)](++imageCount,lazyImages)&&_0x2b1726['setAttribu'+'te']('loading',_0x278b4[_0xa15c8e(0x30,-0x2a,0x91,0x21)]),-0x1503+0x60*0x6+0x12c4===_0x2b1726[_0xa15c8e(-0x61,-0x69,-0xad,-0xf)]&&_0x278b4['gAgOS'](_0x278b4['Jrbgc'],_0x2b1726[_0x578506(0x3d8,0x41e,0x408,0x427)])&&lazy_css[_0xa15c8e(-0x5,-0x45,-0x50,-0x3e)]&&lazy_css[_0xa15c8e(-0x18,-0x5d,-0x3e,0xe)](_0x36d042=>{function _0x4ba271(_0x51cada,_0x4ae231,_0x5d2bf2,_0x5339e0){return _0x578506(_0x5d2bf2,_0x4ae231-0xdd,_0x4ae231-0xaf,_0x5339e0-0xa7);}function _0x4ff297(_0x110c93,_0x5a2f41,_0x16949f,_0xe7b2e8){return _0x578506(_0xe7b2e8,_0x5a2f41-0x15c,_0x16949f-0x2a,_0xe7b2e8-0xfb);}_0x262982['PKIhV']!==_0x262982['PKIhV']?_0x4fdc8e=_0x4a0d8b:_0x2b1726[_0x4ff297(0x3e0,0x382,0x3af,0x3ca)][_0x4ff297(0x421,0x433,0x467,0x421)](_0x36d042)&&(_0x2b1726[_0x4ba271(0x51d,0x4b8,0x4b0,0x514)+'te']('data-href',_0x2b1726[_0x4ba271(0x3fa,0x434,0x401,0x43c)]),_0x2b1726[_0x4ff297(0x403,0x3e4,0x3fe,0x42b)+_0x4ff297(0x44b,0x454,0x3fd,0x399)](_0x262982[_0x4ff297(0x424,0x498,0x44f,0x3f6)]));}),-0xbce+0x3*-0x907+0x26e4===_0x2b1726['nodeType']&&_0x278b4[_0xa15c8e(-0xd,-0x6e,-0x3d,-0x41)](_0x278b4[_0x578506(0x3b4,0x387,0x3a5,0x387)],_0x2b1726[_0xa15c8e(0x2d,0x7a,0x2b,0x8e)])&&(lazy_js[_0xa15c8e(-0x5,-0x3f,0x3d,0xa)]&&lazy_js[_0xa15c8e(-0x18,-0x54,0x33,-0x8)](_0x210382=>{function _0x5b09a9(_0x24e258,_0x40c202,_0x43294e,_0xb5f293){return _0xa15c8e(_0x40c202-0x394,_0x40c202-0x171,_0xb5f293,_0xb5f293-0xab);}function _0x1b085c(_0x8f49ba,_0x457841,_0x4a0ccf,_0x89008b){return _0xa15c8e(_0x8f49ba-0x54a,_0x457841-0x79,_0x89008b,_0x89008b-0x1d8);}if(_0x278b4[_0x1b085c(0x4fa,0x4c0,0x525,0x49d)](_0x278b4[_0x5b09a9(0x434,0x3e5,0x428,0x3d1)],_0x278b4[_0x1b085c(0x54b,0x55c,0x4e7,0x570)]))_0x2b1726['src'][_0x5b09a9(0x430,0x3f6,0x3c3,0x3b8)](_0x210382)&&(_0x2b1726[_0x5b09a9(0x362,0x3c2,0x3f6,0x400)+'te'](_0x278b4[_0x5b09a9(0x39c,0x3cd,0x3e0,0x37a)],_0x2b1726[_0x5b09a9(0x41b,0x3c7,0x40b,0x42a)]),_0x2b1726[_0x5b09a9(0x332,0x38d,0x3d4,0x3c1)+_0x5b09a9(0x366,0x38c,0x3a7,0x347)](_0x5b09a9(0x420,0x3c7,0x366,0x3ea)));else{if(_0x239074){var _0x4c4e5f=_0x5407c7[_0x5b09a9(0x3eb,0x3bd,0x401,0x363)](_0x57f40a,arguments);return _0x182264=null,_0x4c4e5f;}}}),_0x2b1726['innerHTML'][_0xa15c8e(0x62,0x3b,0x37,0x18)](_0x278b4['jLpvB'])&&(_0x2b1726[_0x578506(0x392,0x3d2,0x3f2,0x399)]=_0x2b1726[_0xa15c8e(0x17,0x76,-0x1a,-0x4d)][_0xa15c8e(-0x52,-0x9a,0x12,-0x23)](_0xa15c8e(-0x2e,-0x40,-0xc,-0x2d)+_0xa15c8e(0x49,0x68,0x30,0x10)+'t)',_0x278b4[_0x578506(0x3e6,0x3ea,0x430,0x417)])[_0x578506(0x3bf,0x416,0x403,0x3f6)](_0x278b4[_0x578506(0x398,0x39f,0x3aa,0x36d)],_0x578506(0x386,0x3b6,0x3c6,0x37f)+_0x578506(0x3e4,0x3c7,0x39e,0x384))),(_0x2b1726[_0xa15c8e(0x17,0x65,0x75,-0x42)][_0x578506(0x418,0x477,0x43d,0x412)](_0x278b4[_0x578506(0x360,0x39c,0x386,0x3a3)])||_0x2b1726[_0xa15c8e(0x17,0x2b,0x19,0x7a)][_0xa15c8e(0x62,0x86,0x5e,0x54)](_0x278b4[_0xa15c8e(-0x2b,0x8,-0x13,0xc)]))&&(_0x2b1726[_0x578506(0x3d7,0x441,0x3f2,0x456)]=_0x2b1726[_0x578506(0x3a0,0x3d2,0x3f2,0x458)]['replace'](_0x278b4['fxtPU'],_0x278b4[_0xa15c8e(0x4,0x3b,-0x45,0x53)])))):_0x487c9a=FKHoqL[_0xa15c8e(0x3b,0x28,-0x5,0x8f)](_0x10a519,FKHoqL['wXwSX'](FKHoqL[_0xa15c8e(-0x32,-0x40,0x1b,0x1)]+FKHoqL[_0x578506(0x384,0x41f,0x3bf,0x3cc)],');'))();});});}),imageCount=0x1*-0x224f+-0x2016+0x4265*0x1,lazyImages=0x17*0x19f+-0x221*-0xf+-0x49c*0xf;var _0x19a392={};_0x19a392['childList']=!(0xdee+0x60a*0x4+-0x2616);function _0x58469d(_0x59ee37,_0x5d4cc2,_0x5b8884,_0x2b0ed1){return _0xf736(_0x5d4cc2- -0x2ce,_0x5b8884);}_0x19a392[_0x58469d(-0xb5,-0xce,-0x10a,-0x123)]=!(-0x1*0x264b+-0x1b2*0x6+0x3077),uLTS['observe'](document[_0x58469d(-0x96,-0xc5,-0x10f,-0xbe)+_0x4defe7(0x3bf,0x439,0x3ae,0x3e3)],_0x19a392);
 </script>
    <meta name="p:domain_verify" content="2217bdc58f9c6567e8e601313f901189"/>
  {% render 'elevar-head' %}
  {% render 'elevar-head-listener' %}
  {% render 'vwo' %}
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WSNW9PD" data-opt-preview="edit"></script>



    

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport" user-scalable="false">
    <meta content="" name="theme-color">
    <link rel="canonical" href="{{ canonical_url }}">
    <link crossorigin href="https://cdn.shopify.com" rel="preconnect">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link crossorigin href="https://fonts.shopifycdn.com" rel="preconnect">
    {%- endunless -%}
    
	  <meta name="google-site-verification" content="N-tAzsNmu1jZ1CT9PTknSFkJUuHq37R19LskCSbL2qs" />
      <meta charset="utf-8">
      <meta http-equiv="cleartype" content="on">
      <meta name="robots" content="index,follow">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="{{ settings.shop_bg_color }}">
      <link rel="canonical" href="{{ canonical_url }}" />
      
    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page
        {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless -%}
    </title>

    {% if page_description %}
   <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

   {% render 'meta-tags' %}

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
   {% render 'header-scripts.zipifypages', renderctx: 'thm' %}
   

 {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
 
    {% style %}

{{settings.type_body_font | font_face: font_display: 'swap'}}{{body_font_bold | font_face: font_display: 'swap'}}{{body_font_italic | font_face: font_display: 'swap'}}{{body_font_bold_italic | font_face: font_display: 'swap'}}{{settings.type_header_font | font_face: font_display: 'swap'}}:root {
  --font-body-family: {{settings.type_body_font.family}}, {{settings.type_body_font.fallback_families}};
  --font-body-style: {{settings.type_body_font.style}};
  --font-body-weight: {{settings.type_body_font.weight}};

  --font-heading-family: {{settings.type_header_font.family}}, {{settings.type_header_font.fallback_families}};
  --font-heading-style: {{settings.type_header_font.style}};
  --font-heading-weight: {{settings.type_header_font.weight}};

  --font-body-scale: {{settings.body_scale | divided_by: 100.0}};
  --font-heading-scale: {{settings.heading_scale | times: 1.0 | divided_by: settings.body_scale}};

  --color-base-text: {{settings.colors_text.red}}, {{settings.colors_text.green}}, {{settings.colors_text.blue}};
  --color-shadow: {{settings.colors_text.red}}, {{settings.colors_text.green}}, {{settings.colors_text.blue}};
  --color-base-background-1: {{settings.colors_background_1.red}}, {{settings.colors_background_1.green}}, {{settings.colors_background_1.blue}};
  --color-base-background-2: {{settings.colors_background_2.red}}, {{settings.colors_background_2.green}}, {{settings.colors_background_2.blue}};
  --color-base-solid-button-labels: {{settings.colors_solid_button_labels.red}}, {{settings.colors_solid_button_labels.green}}, {{settings.colors_solid_button_labels.blue}};
  --color-base-outline-button-labels: {{settings.colors_outline_button_labels.red}}, {{settings.colors_outline_button_labels.green}}, {{settings.colors_outline_button_labels.blue}};
  --color-base-accent-1: {{settings.colors_accent_1.red}}, {{settings.colors_accent_1.green}}, {{settings.colors_accent_1.blue}};
  --color-base-accent-2: {{settings.colors_accent_2.red}}, {{settings.colors_accent_2.green}}, {{settings.colors_accent_2.blue}};
  --payment-terms-background-color: {{settings.colors_background_1}};

  --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}
    {{settings.gradient_background_1}}{% else %}{{settings.colors_background_1}}{% endif %};
  --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}
    {{settings.gradient_background_2}}{% else %}{{settings.colors_background_2}}{% endif %};
  --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}
    {{settings.gradient_accent_1}}{% else %}{{settings.colors_accent_1}}{% endif %};
  --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}
    {{settings.gradient_accent_2}}{% else %}{{settings.colors_accent_2}}{% endif %};

  --media-padding: {{settings.media_padding}}px;
  --media-border-opacity: {{settings.media_border_opacity | divided_by: 100.0}};
  --media-border-width: {{settings.media_border_thickness}}px;
  --media-radius: {{settings.media_radius}}px;
  --media-shadow-opacity: {{settings.media_shadow_opacity | divided_by: 100.0}};
  --media-shadow-horizontal-offset: {{settings.media_shadow_horizontal_offset}}px;
  --media-shadow-vertical-offset: {{settings.media_shadow_vertical_offset}}px;
  --media-shadow-blur-radius: {{settings.media_shadow_blur}}px;

  --page-width: {{settings.page_width | divided_by: 10}}rem;
  --page-width-margin: {% if settings.page_width == '1600' %}
    2{% else %}0{% endif %}
  rem;

  --card-image-padding: {{settings.card_image_padding | divided_by: 10.0}}rem;
  --card-corner-radius: {{settings.card_corner_radius | divided_by: 10.0}}rem;
  --card-text-alignment: {{settings.card_text_alignment}};
  --card-border-width: {{settings.card_border_thickness | divided_by: 10.0}}rem;
  --card-border-opacity: {{settings.card_border_opacity | divided_by: 100.0}};
  --card-shadow-opacity: {{settings.card_shadow_opacity | divided_by: 100.0}};
  --card-shadow-horizontal-offset: {{settings.card_shadow_horizontal_offset | divided_by: 10.0}}rem;
  --card-shadow-vertical-offset: {{settings.card_shadow_vertical_offset | divided_by: 10.0}}rem;
  --card-shadow-blur-radius: {{settings.card_shadow_blur | divided_by: 10.0}}rem;

  --badge-corner-radius: {{settings.badge_corner_radius | divided_by: 10.0}}rem;

  --popup-border-width: {{settings.popup_border_thickness}}px;
  --popup-border-opacity: {{settings.popup_border_opacity | divided_by: 100.0}};
  --popup-corner-radius: {{settings.popup_corner_radius}}px;
  --popup-shadow-opacity: {{settings.popup_shadow_opacity | divided_by: 100.0}};
  --popup-shadow-horizontal-offset: {{settings.popup_shadow_horizontal_offset}}px;
  --popup-shadow-vertical-offset: {{settings.popup_shadow_vertical_offset}}px;
  --popup-shadow-blur-radius: {{settings.popup_shadow_blur}}px;

  --drawer-border-width: {{settings.drawer_border_thickness}}px;
  --drawer-border-opacity: {{settings.drawer_border_opacity | divided_by: 100.0}};
  --drawer-shadow-opacity: {{settings.drawer_shadow_opacity | divided_by: 100.0}};
  --drawer-shadow-horizontal-offset: {{settings.drawer_shadow_horizontal_offset}}px;
  --drawer-shadow-vertical-offset: {{settings.drawer_shadow_vertical_offset}}px;
  --drawer-shadow-blur-radius: {{settings.drawer_shadow_blur}}px;

  --spacing-sections-desktop: {{settings.spacing_sections}}px;
  --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}
    {{settings.spacing_sections}}{% else %}{{settings.spacing_sections | times: 0.7 | round | at_least: 20}}{% endif %}
  px;

  --grid-desktop-vertical-spacing: {{settings.spacing_grid_vertical}}px;
  --grid-desktop-horizontal-spacing: {{settings.spacing_grid_horizontal}}px;
  --grid-mobile-vertical-spacing: {{settings.spacing_grid_vertical | divided_by: 2}}px;
  --grid-mobile-horizontal-spacing: {{settings.spacing_grid_horizontal | divided_by: 2}}px;

  --text-boxes-border-opacity: {{settings.text_boxes_border_opacity | divided_by: 100.0}};
  --text-boxes-border-width: {{settings.text_boxes_border_thickness}}px;
  --text-boxes-radius: {{settings.text_boxes_radius}}px;
  --text-boxes-shadow-opacity: {{settings.text_boxes_shadow_opacity | divided_by: 100.0}};
  --text-boxes-shadow-horizontal-offset: {{settings.text_boxes_shadow_horizontal_offset}}px;
  --text-boxes-shadow-vertical-offset: {{settings.text_boxes_shadow_vertical_offset}}px;
  --text-boxes-shadow-blur-radius: {{settings.text_boxes_shadow_blur}}px;

  --buttons-radius: {{settings.buttons_radius}}px;
  --buttons-radius-outset: {% if settings.buttons_radius > 0 %}
    {{settings.buttons_radius | plus: settings.buttons_border_thickness}}{% else %}0{% endif %}
  px;
  --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}
    {{settings.buttons_border_thickness}}{% else %}0{% endif %}
  px;
  --buttons-border-opacity: {{settings.buttons_border_opacity | divided_by: 100.0}};
  --buttons-shadow-opacity: {{settings.buttons_shadow_opacity | divided_by: 100.0}};
  --buttons-shadow-horizontal-offset: {{settings.buttons_shadow_horizontal_offset}}px;
  --buttons-shadow-vertical-offset: {{settings.buttons_shadow_vertical_offset}}px;
  --buttons-shadow-blur-radius: {{settings.buttons_shadow_blur}}px;
  --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}
    0.3{% else %}0{% endif %}
  px;

  --inputs-radius: {{settings.inputs_radius}}px;
  --inputs-border-width: {{settings.inputs_border_thickness}}px;
  --inputs-border-opacity: {{settings.inputs_border_opacity | divided_by: 100.0}};
  --inputs-shadow-opacity: {{settings.inputs_shadow_opacity | divided_by: 100.0}};
  --inputs-shadow-horizontal-offset: {{settings.inputs_shadow_horizontal_offset}}px;
  --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}
    {{settings.inputs_shadow_vertical_offset | abs}}{% else %}0{% endif %}
  px;
  --inputs-shadow-vertical-offset: {{settings.inputs_shadow_vertical_offset}}px;
  --inputs-shadow-blur-radius: {{settings.inputs_shadow_blur}}px;
  --inputs-radius-outset: {% if settings.inputs_radius > 0 %}
    {{settings.inputs_radius | plus: settings.inputs_border_thickness}}{% else %}0{% endif %}
  px;

  --variant-pills-radius: {{settings.variant_pills_radius}}px;
  --variant-pills-border-width: {{settings.variant_pills_border_thickness}}px;
  --variant-pills-border-opacity: {{settings.variant_pills_border_opacity | divided_by: 100.0}};
  --variant-pills-shadow-opacity: {{settings.variant_pills_shadow_opacity | divided_by: 100.0}};
  --variant-pills-shadow-horizontal-offset: {{settings.variant_pills_shadow_horizontal_offset}}px;
  --variant-pills-shadow-vertical-offset: {{settings.variant_pills_shadow_vertical_offset}}px;
  --variant-pills-shadow-blur-radius: {{settings.variant_pills_shadow_blur}}px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and(min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}


{% endstyle %}

 
 <link rel="stylesheet preload" as="style" href={{ 'base.css' | asset_url }}>

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ shop.metafields.loox["global_html_head"] }}
  
    
<!--     

    
     -->

      <!-- Global site tag (gtag.js) - Google Ads: 478974081 -->
<!--       <script async data-src="https://www.googletagmanager.com/gtag/js?id=AW-478974081" defer="defer"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-478974081');
      </script> -->
          <script>
            (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17544826"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
                   </script>
          <meta name="google-site-verification" content="NAC6lergSa9Vmwhrr8RWXJrRVencGcy0h7YdLdMtvmw" />

    <script async src="https://tpi-app.herokuapp.com/get_script/?shop_url=titan-power-plus.myshopify.com"></script>
 
 
{%if template contains 'product' or  template contains  'pages' %}
<script>
  
//  add to cart bubble update

window.addEventListener('load', () => {
  const zipBtn = document.querySelector('[data-zp-add-to-cart]');
  // Create bubble element to inject

  const customUpdateCartBubble = (count) => {
    const parent = document.querySelector('#cart-icon-bubble');

    let childElement = document.createElement('div');
    childElement.className = 'cart-count-bubble';

    childElement.innerHTML = `
     <span aria-hidden="true" style="color: black;">${count}</span>
            <span class="visually-hidden">Cart</span>
  `;

    parent.appendChild(childElement);
  };

  zipBtn.addEventListener('click', () => {
    setTimeout(() => {
      console.log('Timeout logic starts here');
      const cartContents = fetch('/cart.js')
        .then((response) => response.json())
        .then((data) => { 
          const count = data.item_count;
          // Injection logic
          customUpdateCartBubble(count);
        });
    }, 1500);
  });
});

</script>

  <!-- Taboola Pixel Code -->
<script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1354056});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1354056/tfa.js',
  'tb_tfa_script');
</script>
<!-- End of Taboola Pixel Code -->
  
{%endif %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<style>
  body.no-scroll {
    overflow: hidden;
  }
</style>
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'main.js' | asset_url | script_tag }}
{{ 'section-product-template.css' | asset_url | stylesheet_tag }}
{{ 'section-product-template.js' | asset_url | script_tag }}
{{ 'override.css' | asset_url | stylesheet_tag }}
{% render 'gsf-conversion-pixels' %}














{% include 'abconvert-price-test' %}
{% include 'abconvert-content-test' %}
</head>

  <body class="gradient">
  {% render 'elevar-body-end' %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main class="content-for-layout focus-none kako" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
{{ 'globallight.css' | asset_url | stylesheet_tag }}
    {% section 'footer' %}


    <script>
      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}


    
{% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
{% assign oneclickupsellapp = true %}
{% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: oneclickupsellapp %}
   




<!-- PF EDT START -->
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->
<script>
$('.js-section-scroll').on('click', function (e) {
  e.preventDefault()
  const $section = $('#product-rev')

  $('html, body').animate({
    scrollTop: $section.offset().top + 'px'
  }, 1000)
})
$('.js-atc-scroll').on('click', function (e) {
  e.preventDefault()
  const $section = $('.js-scroll')

  $('html, body').animate({
    scrollTop: $section.offset().top + 'px'
  }, 1000)
})

const accordions = document.querySelectorAll('.accordion')
if(accordions) {
  const openAccordion = (accordion) => {
    const content = accordion.querySelector('.accordion__content')
    accordion.classList.add('accordion__active')
    content.style.maxHeight = content.scrollHeight + 'px'
  }

  const closeAccordion = (accordion) => {
    const content = accordion.querySelector('.accordion__content')
    accordion.classList.remove('accordion__active')
    content.style.maxHeight = null
  }

  accordions.forEach((accordion) => {
    const intro = accordion.querySelector('.accordion__intro')
    const content = accordion.querySelector('.accordion__content')

    intro.onclick = () => {
      if (content.style.maxHeight) {
        closeAccordion(accordion)
      } else {
        accordions.forEach((accordion) => closeAccordion(accordion))
        openAccordion(accordion)
      }
    }
  })
}
</script>

	{{ shop.metafields.loox["global_html_body"] }}
    
    <script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}"></script>
    </body>
 
</html>
          