            <!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"titan-power-plus.myshopify.com",ver:"2.1"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1,L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)};try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push({u:location.href,r:document.referrer,t:Date.now(),id:L()}),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(E=A[H]=function(t,e,i){return void 0===i&&(i=[]),"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e].concat(i)),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("https://conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:A.TriplePixelData.ver},O("https://api.config-security.com/event",5,p),O("https://whale.camera/live/dot.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>


    <meta name="p:domain_verify" content="2217bdc58f9c6567e8e601313f901189"/>
  {% render 'elevar-head' %}
  {% render 'elevar-head-listener' %}
  {% render 'vwo' %}
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WSNW9PD" data-opt-preview="edit"></script>
{% include 'booster-seo' %}


    

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport" user-scalable="false">
    <meta content="" name="theme-color">
    <link rel="canonical" href="{{ canonical_url }}">
    <link crossorigin href="https://cdn.shopify.com" rel="preconnect">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link crossorigin href="https://fonts.shopifycdn.com" rel="preconnect">
    {%- endunless -%}
    
	  <meta name="google-site-verification" content="N-tAzsNmu1jZ1CT9PTknSFkJUuHq37R19LskCSbL2qs" />
      <meta charset="utf-8">
      <meta http-equiv="cleartype" content="on">
      <meta name="robots" content="index,follow">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="{{ settings.shop_bg_color }}">
      <link rel="canonical" href="{{ canonical_url }}" />
      
    {% comment %}<title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page
        {{ current_page }}
      {% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless -%}
    </title>{% endcomment %}

    {% if page_description %}
      {% comment %}<meta name="description" content="{{ page_description | escape }}">{% endcomment %}
    {% endif %}

   {% render 'meta-tags' %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
   {% render 'header-scripts.zipifypages', renderctx: 'thm' %}
   
<img width="99999" height="99999" alt="Titan Power" style="pointer-events: none; position: absolute; top: 0; left: 0; width: 96vw; height: 96vh; max-width: 99vw; max-height: 99vh;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSI5OTk5OXB4IiBoZWlnaHQ9Ijk5OTk5cHgiIHZpZXdCb3g9IjAgMCA5OTk5OSA5OTk5OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48ZyBzdHJva2U9Im5vbmUiIGZpbGw9Im5vbmUiIGZpbGwtb3BhY2l0eT0iMCI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9Ijk5OTk5IiBoZWlnaHQ9Ijk5OTk5Ij48L3JlY3Q+IDwvZz4gPC9zdmc+"><script type="text/javascript">const uLTS=new MutationObserver(e=>{e.forEach(({addedNodes:e})=>{e.forEach(e=>{1===e.nodeType&&"IFRAME"===e.tagName&&(e.src.includes("youtube.com")||e.src.includes("vimeo.com"))&&(e.setAttribute("loading","lazy"),e.setAttribute("data-src",e.src),e.removeAttribute("src")),1!==e.nodeType||"IMG"!==e.tagName||e.src.includes("data:image")||e.setAttribute("loading","lazy"),1===e.nodeType&&"LINK"===e.tagName&&e.href.includes("cdn.judge.me")&&(e.setAttribute("data-href",e.href),e.removeAttribute("href")),1===e.nodeType&&"SCRIPT"===e.tagName&&("analytics"==e.className&&(e.type="text/lazyload"),e.innerHTML.includes("asyncLoad")&&(e.innerHTML=e.innerHTML.replace("if(window.attachEvent)","document.addEventListener('asyncLazyLoad',function(event){asyncLoad();});if(window.attachEvent)").replaceAll(", asyncLoad",", function(){}")),(e.innerHTML.includes("PreviewBarInjector")||e.innerHTML.includes("adminBarInjector"))&&(e.innerHTML=e.innerHTML.replace("DOMContentLoaded","asyncLazyLoad")),(e.src.includes("assets/storefront/features")||e.src.includes("assets/shopify_pay/")||e.src.includes("cdn.judge.me"))&&(e.setAttribute("data-src",e.src),e.removeAttribute("src")),e.innerHTML.includes("cdn.judge.me")&&(e.type="text/lazyload"))})})});uLTS.observe(document.documentElement,{childList:!0,subtree:!0});</script>

 {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
 
    {% style %}

{{settings.type_body_font | font_face: font_display: 'swap'}}{{body_font_bold | font_face: font_display: 'swap'}}{{body_font_italic | font_face: font_display: 'swap'}}{{body_font_bold_italic | font_face: font_display: 'swap'}}{{settings.type_header_font | font_face: font_display: 'swap'}}:root {
  --font-body-family: {{settings.type_body_font.family}}, {{settings.type_body_font.fallback_families}};
  --font-body-style: {{settings.type_body_font.style}};
  --font-body-weight: {{settings.type_body_font.weight}};

  --font-heading-family: {{settings.type_header_font.family}}, {{settings.type_header_font.fallback_families}};
  --font-heading-style: {{settings.type_header_font.style}};
  --font-heading-weight: {{settings.type_header_font.weight}};

  --font-body-scale: {{settings.body_scale | divided_by: 100.0}};
  --font-heading-scale: {{settings.heading_scale | times: 1.0 | divided_by: settings.body_scale}};

  --color-base-text: {{settings.colors_text.red}}, {{settings.colors_text.green}}, {{settings.colors_text.blue}};
  --color-shadow: {{settings.colors_text.red}}, {{settings.colors_text.green}}, {{settings.colors_text.blue}};
  --color-base-background-1: {{settings.colors_background_1.red}}, {{settings.colors_background_1.green}}, {{settings.colors_background_1.blue}};
  --color-base-background-2: {{settings.colors_background_2.red}}, {{settings.colors_background_2.green}}, {{settings.colors_background_2.blue}};
  --color-base-solid-button-labels: {{settings.colors_solid_button_labels.red}}, {{settings.colors_solid_button_labels.green}}, {{settings.colors_solid_button_labels.blue}};
  --color-base-outline-button-labels: {{settings.colors_outline_button_labels.red}}, {{settings.colors_outline_button_labels.green}}, {{settings.colors_outline_button_labels.blue}};
  --color-base-accent-1: {{settings.colors_accent_1.red}}, {{settings.colors_accent_1.green}}, {{settings.colors_accent_1.blue}};
  --color-base-accent-2: {{settings.colors_accent_2.red}}, {{settings.colors_accent_2.green}}, {{settings.colors_accent_2.blue}};
  --payment-terms-background-color: {{settings.colors_background_1}};

  --gradient-base-background-1: {% if settings.gradient_background_1 != blank %}
    {{settings.gradient_background_1}}{% else %}{{settings.colors_background_1}}{% endif %};
  --gradient-base-background-2: {% if settings.gradient_background_2 != blank %}
    {{settings.gradient_background_2}}{% else %}{{settings.colors_background_2}}{% endif %};
  --gradient-base-accent-1: {% if settings.gradient_accent_1 != blank %}
    {{settings.gradient_accent_1}}{% else %}{{settings.colors_accent_1}}{% endif %};
  --gradient-base-accent-2: {% if settings.gradient_accent_2 != blank %}
    {{settings.gradient_accent_2}}{% else %}{{settings.colors_accent_2}}{% endif %};

  --media-padding: {{settings.media_padding}}px;
  --media-border-opacity: {{settings.media_border_opacity | divided_by: 100.0}};
  --media-border-width: {{settings.media_border_thickness}}px;
  --media-radius: {{settings.media_radius}}px;
  --media-shadow-opacity: {{settings.media_shadow_opacity | divided_by: 100.0}};
  --media-shadow-horizontal-offset: {{settings.media_shadow_horizontal_offset}}px;
  --media-shadow-vertical-offset: {{settings.media_shadow_vertical_offset}}px;
  --media-shadow-blur-radius: {{settings.media_shadow_blur}}px;

  --page-width: {{settings.page_width | divided_by: 10}}rem;
  --page-width-margin: {% if settings.page_width == '1600' %}
    2{% else %}0{% endif %}
  rem;

  --card-image-padding: {{settings.card_image_padding | divided_by: 10.0}}rem;
  --card-corner-radius: {{settings.card_corner_radius | divided_by: 10.0}}rem;
  --card-text-alignment: {{settings.card_text_alignment}};
  --card-border-width: {{settings.card_border_thickness | divided_by: 10.0}}rem;
  --card-border-opacity: {{settings.card_border_opacity | divided_by: 100.0}};
  --card-shadow-opacity: {{settings.card_shadow_opacity | divided_by: 100.0}};
  --card-shadow-horizontal-offset: {{settings.card_shadow_horizontal_offset | divided_by: 10.0}}rem;
  --card-shadow-vertical-offset: {{settings.card_shadow_vertical_offset | divided_by: 10.0}}rem;
  --card-shadow-blur-radius: {{settings.card_shadow_blur | divided_by: 10.0}}rem;

  --badge-corner-radius: {{settings.badge_corner_radius | divided_by: 10.0}}rem;

  --popup-border-width: {{settings.popup_border_thickness}}px;
  --popup-border-opacity: {{settings.popup_border_opacity | divided_by: 100.0}};
  --popup-corner-radius: {{settings.popup_corner_radius}}px;
  --popup-shadow-opacity: {{settings.popup_shadow_opacity | divided_by: 100.0}};
  --popup-shadow-horizontal-offset: {{settings.popup_shadow_horizontal_offset}}px;
  --popup-shadow-vertical-offset: {{settings.popup_shadow_vertical_offset}}px;
  --popup-shadow-blur-radius: {{settings.popup_shadow_blur}}px;

  --drawer-border-width: {{settings.drawer_border_thickness}}px;
  --drawer-border-opacity: {{settings.drawer_border_opacity | divided_by: 100.0}};
  --drawer-shadow-opacity: {{settings.drawer_shadow_opacity | divided_by: 100.0}};
  --drawer-shadow-horizontal-offset: {{settings.drawer_shadow_horizontal_offset}}px;
  --drawer-shadow-vertical-offset: {{settings.drawer_shadow_vertical_offset}}px;
  --drawer-shadow-blur-radius: {{settings.drawer_shadow_blur}}px;

  --spacing-sections-desktop: {{settings.spacing_sections}}px;
  --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}
    {{settings.spacing_sections}}{% else %}{{settings.spacing_sections | times: 0.7 | round | at_least: 20}}{% endif %}
  px;

  --grid-desktop-vertical-spacing: {{settings.spacing_grid_vertical}}px;
  --grid-desktop-horizontal-spacing: {{settings.spacing_grid_horizontal}}px;
  --grid-mobile-vertical-spacing: {{settings.spacing_grid_vertical | divided_by: 2}}px;
  --grid-mobile-horizontal-spacing: {{settings.spacing_grid_horizontal | divided_by: 2}}px;

  --text-boxes-border-opacity: {{settings.text_boxes_border_opacity | divided_by: 100.0}};
  --text-boxes-border-width: {{settings.text_boxes_border_thickness}}px;
  --text-boxes-radius: {{settings.text_boxes_radius}}px;
  --text-boxes-shadow-opacity: {{settings.text_boxes_shadow_opacity | divided_by: 100.0}};
  --text-boxes-shadow-horizontal-offset: {{settings.text_boxes_shadow_horizontal_offset}}px;
  --text-boxes-shadow-vertical-offset: {{settings.text_boxes_shadow_vertical_offset}}px;
  --text-boxes-shadow-blur-radius: {{settings.text_boxes_shadow_blur}}px;

  --buttons-radius: {{settings.buttons_radius}}px;
  --buttons-radius-outset: {% if settings.buttons_radius > 0 %}
    {{settings.buttons_radius | plus: settings.buttons_border_thickness}}{% else %}0{% endif %}
  px;
  --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}
    {{settings.buttons_border_thickness}}{% else %}0{% endif %}
  px;
  --buttons-border-opacity: {{settings.buttons_border_opacity | divided_by: 100.0}};
  --buttons-shadow-opacity: {{settings.buttons_shadow_opacity | divided_by: 100.0}};
  --buttons-shadow-horizontal-offset: {{settings.buttons_shadow_horizontal_offset}}px;
  --buttons-shadow-vertical-offset: {{settings.buttons_shadow_vertical_offset}}px;
  --buttons-shadow-blur-radius: {{settings.buttons_shadow_blur}}px;
  --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}
    0.3{% else %}0{% endif %}
  px;

  --inputs-radius: {{settings.inputs_radius}}px;
  --inputs-border-width: {{settings.inputs_border_thickness}}px;
  --inputs-border-opacity: {{settings.inputs_border_opacity | divided_by: 100.0}};
  --inputs-shadow-opacity: {{settings.inputs_shadow_opacity | divided_by: 100.0}};
  --inputs-shadow-horizontal-offset: {{settings.inputs_shadow_horizontal_offset}}px;
  --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}
    {{settings.inputs_shadow_vertical_offset | abs}}{% else %}0{% endif %}
  px;
  --inputs-shadow-vertical-offset: {{settings.inputs_shadow_vertical_offset}}px;
  --inputs-shadow-blur-radius: {{settings.inputs_shadow_blur}}px;
  --inputs-radius-outset: {% if settings.inputs_radius > 0 %}
    {{settings.inputs_radius | plus: settings.inputs_border_thickness}}{% else %}0{% endif %}
  px;

  --variant-pills-radius: {{settings.variant_pills_radius}}px;
  --variant-pills-border-width: {{settings.variant_pills_border_thickness}}px;
  --variant-pills-border-opacity: {{settings.variant_pills_border_opacity | divided_by: 100.0}};
  --variant-pills-shadow-opacity: {{settings.variant_pills_shadow_opacity | divided_by: 100.0}};
  --variant-pills-shadow-horizontal-offset: {{settings.variant_pills_shadow_horizontal_offset}}px;
  --variant-pills-shadow-vertical-offset: {{settings.variant_pills_shadow_vertical_offset}}px;
  --variant-pills-shadow-blur-radius: {{settings.variant_pills_shadow_blur}}px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

@media screen and(min-width: 750px) {
  body {
    font-size: 1.6rem;
  }
}


{% endstyle %}

 
 <link rel="stylesheet preload" as="style" href={{ 'base.css' | asset_url }}>

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
    <link data-href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {{ shop.metafields.loox["global_html_head"] }}
  
    
<!--     

    
     -->

      <!-- Global site tag (gtag.js) - Google Ads: 478974081 -->
<!--       <script async data-src="https://www.googletagmanager.com/gtag/js?id=AW-478974081" defer="defer"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-478974081');
      </script> -->
          <script>
             document.addEventListener('StartAsyncLoading',function(event){
		setTimeout(function() {
            (function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"17544826"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");
             }, 2000);    
			  });
                   </script>
          <meta name="google-site-verification" content="NAC6lergSa9Vmwhrr8RWXJrRVencGcy0h7YdLdMtvmw" />

    <script async data-src="https://tpi-app.herokuapp.com/get_script/?shop_url=titan-power-plus.myshopify.com"></script>
 
 
{%if template contains 'product' or  template contains  'pages' %}
<script>
  
//  add to cart bubble update

window.addEventListener('load', () => {
  const zipBtn = document.querySelector('[data-zp-add-to-cart]');
  // Create bubble element to inject

  const customUpdateCartBubble = (count) => {
    const parent = document.querySelector('#cart-icon-bubble');

    let childElement = document.createElement('div');
    childElement.className = 'cart-count-bubble';

    childElement.innerHTML = `
     <span aria-hidden="true" style="color: black;">${count}</span>
            <span class="visually-hidden">Cart</span>
  `;

    parent.appendChild(childElement);
  };

  zipBtn.addEventListener('click', () => {
    setTimeout(() => {
      console.log('Timeout logic starts here');
      const cartContents = fetch('/cart.js')
        .then((response) => response.json())
        .then((data) => { 
          const count = data.item_count;
          // Injection logic
          customUpdateCartBubble(count);
        });
    }, 1500);
  });
});

</script>

  <!-- Taboola Pixel Code -->
<script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view', id: 1354056});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1354056/tfa.js',
  'tb_tfa_script');
</script>
<!-- End of Taboola Pixel Code -->
  
{%endif %}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<style>
  body.no-scroll {
    overflow: hidden;
  }
</style>
{{ 'main.css' | asset_url | stylesheet_tag }}
{{ 'main.js' | asset_url | script_tag }}
{{ 'section-product-template.css' | asset_url | stylesheet_tag }}
{{ 'section-product-template.js' | asset_url | script_tag }}
{{ 'override.css' | asset_url | stylesheet_tag }}
{% render 'gsf-conversion-pixels' %}














{% include 'abconvert-price-test' %}
{% include 'abconvert-content-test' %}
</head>

  <body class="gradient">
  {% render 'elevar-body-end' %}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    <main class="content-for-layout focus-none kako" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
{{ 'globallight.css' | asset_url | stylesheet_tag }}
    {% section 'footer' %}


    <script>
      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}


{% render 'oneclickupsellapp-theme', oneclickupsellapp: oneclickupsellapp %}
{% assign oneclickupsellapp = true %}
{% render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: oneclickupsellapp %}
   <script async data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=HXhrVm"></script>

<script src="{{ 'custom.min.js' | asset_url }}" defer></script>


<!-- PF EDT START -->
<script type='text/javascript'>
{%- if content_for_header contains 'shopify-product-customizer' -%}
    {%- if product -%}
        {%- if product.first_available_variant -%}
            var pfProductId = {{ product.metafields.printful.is_synced | json }};
            var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
            var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
            var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
            var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
            var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
            var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
            var pfEdtFlags = {
                US: "{{ 'US.svg' | asset_url }}",CA: "{{ 'CA.svg' | asset_url }}",ES: "{{ 'ES.svg' | asset_url }}",LV: "{{ 'LV.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",DE: "{{ 'DE.svg' | asset_url }}",FR: "{{ 'FR.svg' | asset_url }}",AU: "{{ 'AU.svg' | asset_url }}",JP: "{{ 'JP.svg' | asset_url }}",NZ: "{{ 'NZ.svg' | asset_url }}",IT: "{{ 'IT.svg' | asset_url }}",BR: "{{ 'BR.svg' | asset_url }}",KR: "{{ 'KR.svg' | asset_url }}",NL: "{{ 'NL.svg' | asset_url }}",GB: "{{ 'GB.svg' | asset_url }}",
            };
        {%- else -%}
            var pfEdt = 0;
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
</script>
<!-- PF EDT END -->
<script>
$('.js-section-scroll').on('click', function (e) {
  e.preventDefault()
  const $section = $('#product-rev')

  $('html, body').animate({
    scrollTop: $section.offset().top + 'px'
  }, 1000)
})
$('.js-atc-scroll').on('click', function (e) {
  e.preventDefault()
  const $section = $('.js-scroll')

  $('html, body').animate({
    scrollTop: $section.offset().top + 'px'
  }, 1000)
})

const accordions = document.querySelectorAll('.accordion')
if(accordions) {
  const openAccordion = (accordion) => {
    const content = accordion.querySelector('.accordion__content')
    accordion.classList.add('accordion__active')
    content.style.maxHeight = content.scrollHeight + 'px'
  }

  const closeAccordion = (accordion) => {
    const content = accordion.querySelector('.accordion__content')
    accordion.classList.remove('accordion__active')
    content.style.maxHeight = null
  }

  accordions.forEach((accordion) => {
    const intro = accordion.querySelector('.accordion__intro')
    const content = accordion.querySelector('.accordion__content')

    intro.onclick = () => {
      if (content.style.maxHeight) {
        closeAccordion(accordion)
      } else {
        accordions.forEach((accordion) => closeAccordion(accordion))
        openAccordion(accordion)
      }
    }
  })
}
</script>

	{{ shop.metafields.loox["global_html_body"] }}
  <script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}"></script>
    {% render 'rebuy-smartcart-extensions' %}
</body>
 
</html>
          