{{ 'section-buds.css' | asset_url | stylesheet_tag }}
{% assign product = all_products['buds-2-0-3-in-1-foldable-charger']%}

<section class="buds-hero">
    <div class="buds-hero__image">
        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TPP_Titan_LB_Buds_Web_Banner_Desktop_4.jpg?v=1695122652">
    </div>
    <div class="buds-hero__content">
        <div class="buds-hero__content--intro">Your Life Deserves a Killer Soundtrack!</div>
        <div class="buds-hero__content--title">TITAN BUDS 2.0</div>
        <div class="buds-hero__content--subtitle">Quality so high you could get vertigo, and prices so low you could limbo under them</div>
        <div class="buds-hero__content--button js-scroll">SHOP NOW</div>
    </div>
</section>
<section class="buds-product">
    <div class="buds-product__inner">
        <div class="buds-product__inner--image">
            <img src="https://titanpowerplus.com/cdn/shop/files/TITANBUDS20ProductimageWithsoundwaves_a1631c84-9133-470b-aabd-0c878171c00e_1080x.jpg?v=1687366639">
        </div>
        <div class="buds-product__inner--content">
            <div class="buds-product__inner--content__title">
                TITAN BUDS 2.0
            </div>  
            <div class="buds-product__inner--content__subtitle">
                Next-gen TITAN 2.0 earbuds
            </div>  
            <div class="buds-product__inner--content__description">
                Introducing the next-gen waterproof earbuds, designed for the modern adventurer. These earbuds combine cutting-edge technology with ultimate durability, making them perfect for any outdoor activity. With superior water resistance and crystal-clear sound quality, they redefine your listening experience, rain or shine. Elevate your music, whatever the weather.
            </div>  
            <div class="buds-product__inner--content__price">
                {{product.price | money }}
            </div>
            <div data-product="{{product.first_available_variant.id}}" class="js-atc buds-product__inner--content__atc buds-hero__content--button scroll-reveal">
                ADD TO CART
            </div>
        </div>
    </div>
</section>
<section class="buds-var">
    <div class="buds-var__wrapper">
        <div class="buds-var__wrapper--column buds-var__wrapper--column__left">
            <div class="buds-var__wrapper--column__block">
                <div class="buds-var__wrapper--column__block--icon">
                    <img src="https://images.ctfassets.net/8cd2csgvqd3m/xM1HBzrn1kPzzLtwoQO9J/9d1b7ecdb5a4360a5c1ac771b90ffba9/icon_30days.svg">
                </div>
                <div class="buds-var__wrapper--column__block--text">
                     30-day free trial
                </div>
            </div>
        </div>
         <div class="buds-var__wrapper--column buds-var__wrapper--column__right">
            <div class="buds-var__wrapper--column__block">
                <div class="buds-var__wrapper--column__block--icon">
                    <img src="https://images.ctfassets.net/8cd2csgvqd3m/xM1HBzrn1kPzzLtwoQO9J/9d1b7ecdb5a4360a5c1ac771b90ffba9/icon_30days.svg">
                </div>
                <div class="buds-var__wrapper--column__block--text">
                     Free Shipping
                </div>
            </div>
         </div>
    </div>
    <div class="buds-var__fullimage">
        <img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/vRM_grNA.jpg?v=1695068579">
    </div>
</section>
<section class="buds-points">
    <div class="buds-points__wrapper">
        <div class="buds-points__wrapper--holder">
            <div class="buds-points__wrapper--holder__content">
                 <div class="buds-points__wrapper--holder__content--text">Comfortable fit</div>
                 <div class="buds-points__wrapper--holder__content--text">Rain and sweatproof</div>
                 <div class="buds-points__wrapper--holder__content--text">Supreme Audio Qulaity</div>
            </div>
        </div>
    </div>
</section>
<section class="buds-zig">
    <div class="buds-zig__wrapper">
        <div class="buds-zig__wrapper--box">
            <div class="buds-zig__wrapper--box__inner">
                <div class="buds-zig__wrapper--box__inner--content">
                    <div class="buds-zig__wrapper--box__inner--content__wrapper--image">
                        <img src="https://cdn05.zipify.com/z6nmR2gq6yvjS19KNhPawCU7mbo=/0x16:1106x1192/fit-in/3840x0/85fb4f98fb1e442faf577d6643c99451/top-section-buds-reveal-mobile.jpeg">
                    </div>
                    <div class="buds-zig__wrapper--box__inner--content__wrapper--content">
                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner">
                            <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column">
                                <div>
                                    <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text">
                                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text--title">The Ultimate Listening Experience</div>
                                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text--content">Experience sound like never before with the all-new Titan Buds 2.0, redesigned from the ground up to deliver the ultimate audio experience. But it’s not just about the audio quality. We’ve also improved the passive noise isolation design, block out all the distractions around you and fully immerse yourself in your music, feeling like you're front-row at every concert.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buds-zig__wrapper--box">
            <div class="buds-zig__wrapper--box__inner">
                <div class="buds-zig__wrapper--box__inner--content reverse">
                    <div class="buds-zig__wrapper--box__inner--content__wrapper--image">
                        <img src="https://cdn05.zipify.com/gq1N1e4-ev4uhlwUR90cFU17L_4=/0x37:821x938/fit-in/3840x0/7a87c017dff2446cb6d8aa77b324c62b/buds-20-woman-mobile.jpeg">
                    </div>
                    <div class="buds-zig__wrapper--box__inner--content__wrapper--content">
                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner">
                            <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column">
                                <div>
                                    <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text">
                                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text--title">All Day Comfort</div>
                                        <div class="buds-zig__wrapper--box__inner--content__wrapper--content__inner--column__text--content">Our Titan Buds 2.0 are designed with both comfort and style in mind. The ergonomic fit ensures a secure and comfortable fit that won't cause any discomfort, even during long work days or busy schedules. And with exceptional sound quality and a built-in microphone, they're perfect for both work and play. Whether you're in the office or at home, our earbuds will provide you with the comfort and performance you need.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="buds-cards">
    <div class="buds-cards__wrapper">
        <div class="buds-cards__wrapper--inner">
            <div class="buds-cards__wrapper--inner__card">
                <div class="buds-cards__wrapper--inner__card--image">
                    <img src="https://cdn05.zipify.com/OropUWva-eo1qNK6NXLJdM_28uE=/fit-in/2048x0/cf8d782dad1e4c46aaa5f0a6c69d12e1/buds-20-wireless-charging-mobile.jpeg">
                </div>
                <div class="buds-cards__wrapper--inner__card--content">
                    <div class="buds-cards__wrapper--inner__card--content__title">
                        No Wires, No Hassle
                    </div>
                    <div class="buds-cards__wrapper--inner__card--content__text">
                        With our Wireless Charging feature, you can now charge your buds effortlessly. No more tangled wires, no more hassle, just place them on a wireless charger and let the magic happen. You'll be fully charged and ready to go in no time.
                    </div>
                </div>
            </div>
             <div class="buds-cards__wrapper--inner__card">
                <div class="buds-cards__wrapper--inner__card--image">
                    <img src="https://cdn05.zipify.com/CWt1A8bZKMpd8UCrBtH5IV9bHLc=/0x129:1176x1385/fit-in/2048x0/6fdaa42405be461ca4265ddcbfc8e0d1/water-splash-desktop-buds-2-0-mobile.jpeg">
                </div>
                <div class="buds-cards__wrapper--inner__card--content">
                    <div class="buds-cards__wrapper--inner__card--content__title">
                       Simply Effortless
                    </div>
                    <div class="buds-cards__wrapper--inner__card--content__text">
                        The perfect combination of pocket-sized portability and long listening time, our earbuds are designed to simplify your life on the go. With a compact charging case that can easily fit in your pocket, you'll always have the beats playing. LED display that shows you the battery life of the case and buds makes everything more convenient.
                    </div>
                </div>
            </div>
             <div class="buds-cards__wrapper--inner__card">
                <div class="buds-cards__wrapper--inner__card--image">
                    <img src="https://cdn05.zipify.com/6uwHigvVU-TEqmPTT7aaDBFKdHA=/fit-in/2048x0/7bd6590f95b4480b82c342fc3d724c40/tpp_bluetooth-earbuds_4-button-controls-premium-buds-2-0.jpeg">
                </div>
                <div class="buds-cards__wrapper--inner__card--content">
                    <div class="buds-cards__wrapper--inner__card--content__title">
                        Higer level of control
                    </div>
                    <div class="buds-cards__wrapper--inner__card--content__text">
                        Elevate your audio journey with these cutting-edge earbuds. They provide unparalleled high-level control, enabling users to customize audio profiles, fine-tune noise cancellation settings, and effortlessly manage calls, delivering an immersive listening experience tailored to individual preferences.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="buds-slider">
    <div class="buds-slider__top">
         <div class="buds-slider__top--title">Best value for your money</div>
         <div class="buds-slider__top--text">Discover the ultimate value for money with these earbuds. They deliver exceptional audio quality, long battery life, and advanced features at an unbeatable price, making them the perfect choice for budget-conscious consumers.</div>
    </div>
    <div class="buds-slider__slides">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Sound_Quality_2.jpg?v=1695114136"></div>
                <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Sound_Quality.jpg?v=1695114135"></div>
                <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TPP_Bluetooth_Earbuds_4_c030903b-6611-4581-8afd-c95ad65f7693.jpg?v=1695114133"></div>
                <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TPP_Bluetooth_Earbuds_2.jpg?v=1695114133"></div>
            </div>
            <div class="swiper-button-next sw-arrows"></div>
            <div class="swiper-button-prev sw-arrows"></div>
        </div>
    </div>
</section>
<section class="buds-tech">
    <div class="buds-tech__inner">
        <div class="buds-tech__inner--row">
            <div class="buds-tech__inner--row__flex">
                <div class="buds-tech__inner--row__top">
                    <div class="buds-tech__inner--row__top--image">
                        <img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/WATER_SPLASH_DESKTOP_BUDS_2.0_-_mobile.jpg?v=1695116696">
                    </div>
                    <div class="buds-tech__inner--row__top--content">
                        <div class="buds-tech__inner--row__top--content__title">
                            INCLUDED IN THE PACKAGE
                        </div>
                         <div class="buds-tech__inner--row__top--content__list">
                            <ul>
                                <li>Wireless Charging case</li>
                                <li>Earbuds: Left and Right</li>
                                <li>USB-A/USB-C TITAN CABLE for charging, 0.5 m</li>
                                <li>Silicone tips, 3 sizes</li>
                            </ul>
                         </div>
                    </div>
                </div>
            </div>
            <div class="buds-tech__inner--row__bottom">
                <div class="accordion">
                    <div class="accordion__intro">
                        Sound
                    </div>
                    <div class="accordion__content">
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Advanced Sound Features</div>
                            <div class="accordion__content--text">Adaptive Active Noise Cancellation</div>
                            <div class="accordion__content--text">Transparency Mode</div>
                        </div>
                         <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Frequency Range</div>
                            <div class="accordion__content--text">20 - 20,000 Hz</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Voltage</div>
                            <div class="accordion__content--text">DC 5V-1A</div>
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="accordion__intro">
                        Battery
                    </div>
                    <div class="accordion__content">
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Battery Playtime</div>
                            <div class="accordion__content--text">up to 6 hours with single charge</div>
                            <div class="accordion__content--text">up to 60 hours with Charging Case</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Charging time</div>
                            <div class="accordion__content--text">Charging case: about 1.5 hour </div>
                            <div class="accordion__content--text">Earphones: about 1.5 hour </div>
                            <div class="accordion__content--text">Charging for 10 minutes gives approximately 1.5 hours playback. </div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Charging capacity</div>
                            <div class="accordion__content--text">Headphone battery capacity: 40mAh</div>
                            <div class="accordion__content--text">Charging box battery capacity: 400mAh</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Qi Wireless Charging</div>
                            <div class="accordion__content--text">Yes (charging case only)</div>
                        </div>
                    </div>
                </div>
                 <div class="accordion">
                    <div class="accordion__intro">
                        Connectivity
                    </div>
                    <div class="accordion__content">
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Bluetooth Version</div>
                            <div class="accordion__content--text">Bluetooth 5.3</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Working distance</div>
                            <div class="accordion__content--text">10M (33ft)</div>
                        </div>
                         <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Microphones</div>
                            <div class="accordion__content--text">Microphone info holder</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Physical Connections</div>
                            <div class="accordion__content--text">1 x USB-C</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">On-Device Controls</div>
                            <div class="accordion__content--text">Yes</div>
                        </div>
                        <div class="accordion__content--wrapper">
                            <div class="accordion__content--title">Paring</div>
                            <div class="accordion__content--text">Made for iPhone</div>
                            <div class="accordion__content--text">Made for Android</div>
                            <div class="accordion__content--text">Pair with PC/Laptop/Tablet</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="buds-test">
    <div class="buds-test__wrapper relative">
        <div class="buds-test__inner">
            <div class="buds-test__wrapper--title">See what the customers are saying</div>
            <div class="test-swiper swiper mySwiper2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        "No wires, no fuss and no more falling out my ears! Finally some buds that stay in my ear and still sound great! Perfect for zoom calls too!"
                        <span>Ted T.</span>
                    </div>
                    <div class="swiper-slide">
                        "Sound and feel of ear buds are superb. I also like the fact that the buds are plastic and not made of foam."
                        <span>Andrew D.</span>
                    </div>
                    <div class="swiper-slide">
                        "Thank you Titan! These never usually fit my ears and the audio and call quality is fantastic! I love them!"
                        <span>Jessica K.</span>
                    </div>
                    <div class="swiper-slide">
                        "It's amazing! So compact but it charges my new buds and other devices on the go!"
                        <span>Lucy P.</span>
                    </div>
                    <div class="swiper-slide">
                        "Connection is very good and the sound is amazing!"
                        <span>Jason L.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next sw-arrows sw-arrows-next"></div>
        <div class="swiper-button-prev sw-arrows sw-arrows-prev"></div>
    </div>
</section>
<div id="comparisonSection" class="sc-182o2pm-0 hooBSI o-comparisonSection" tabindex="-1">
   <div class="sc-182o2pm-0 jyWxPy a-componentGenerator">
      <div class="sc-182o2pm-0 UqFTS productComparison a-container container-fluid">
         <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
               <h2 class="productComparisonTitle h3"><span class="h3">Find the right earphones for you</span></h2>
               <div class="tContainer teaserContainer teaserContainer-2-items">
                  <table>
                     <tbody>
                        <tr>
                           <th>&nbsp;</th>
                           <th class=" pTableHeading">
                              <div class="productHeader"><span class="productImage "><a href="/en/int/earphones/beoplay-ex" class="sc-182o2pm-0 cqtsID product-image-anchor-link"><span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27150%27%20height=%27150%27/%3e" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img alt="Image of Beoplay EX in Anthracite Oxygen with Charging Case" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/WATER_SPLASH_DESKTOP_BUDS_2.0_-_mobile.jpg?v=1695116696" decoding="async" data-nimg="intrinsic" class="sc-182o2pm-0 kPQvKF imgBx" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" srcset="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/WATER_SPLASH_DESKTOP_BUDS_2.0_-_mobile.jpg?v=1695116696"></span></a></span><span class="productHeaderTitle h5"><a href="/en/int/earphones/beoplay-ex" class="sc-182o2pm-0 cqtsID" target="_blank" rel="noopener" aria-label="Beoplay EX (opens in a new tab)">Next-gen TITAN 2.0 earbuds</a></span></div>
                           </th>
                           <th class=" pTableHeading">
                              <div class="productHeader"><span class="productImage "><a href="/en/int/earphones/beoplay-e8-sport" class="sc-182o2pm-0 cqtsID product-image-anchor-link"><span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27150%27%20height=%27150%27/%3e" style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img alt="Product Variant - Beoplay E8 - Sport -Anthracite Oxygen 05" src="https://images.ctfassets.net/8cd2csgvqd3m/6YFI6n4ikJbeuHO66o8ODf/2bb1094802c6fa79ac9d95bc69949d24/Beoplay_E8-Sport-LightBlue-05.png?q=90&amp;w=384&amp;fit=fill&amp;fm=webp" decoding="async" data-nimg="intrinsic" class="sc-182o2pm-0 kPQvKF imgBx" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;" srcset="https://images.ctfassets.net/8cd2csgvqd3m/6YFI6n4ikJbeuHO66o8ODf/2bb1094802c6fa79ac9d95bc69949d24/Beoplay_E8-Sport-LightBlue-05.png?q=90&amp;w=256&amp;fit=fill&amp;fm=webp 1x, https://images.ctfassets.net/8cd2csgvqd3m/6YFI6n4ikJbeuHO66o8ODf/2bb1094802c6fa79ac9d95bc69949d24/Beoplay_E8-Sport-LightBlue-05.png?q=90&amp;w=384&amp;fit=fill&amp;fm=webp 2x"></span></a></span><span class="productHeaderTitle h5"><a href="/en/int/earphones/beoplay-e8-sport" class="sc-182o2pm-0 cqtsID" target="_blank" rel="noopener" aria-label="Beoplay E8 Sport (opens in a new tab)">Competitor earbuds</a></span></div>
                           </th>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5"> Price</th>
                           <td><span class="productPrice b3"><span class="">$99</span></span></td>
                           <td><span class="productPrice b3"><span class="">$149</span></span></td>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5">Noise Isolation</th>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">Adaptive Active Noise Cancellation</p>
                              </div>
                           </td>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">Passive Noise Cancelling </p>
                              </div>
                           </td>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5">Microphones</th>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">6 built-in microphones for speech and ANC</p>
                              </div>
                           </td>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">4 built-in microphones for speech</p>
                              </div>
                           </td>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5">Battery Life</th>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">
                                    Up to 20 hours with ANC<br>
                                    Up to 8 hours without ANC<br>
                                    Up to 28 hours total without ANC
                                 </p>
                              </div>
                           </td>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">Up to 7 hours without ANC</p>
                              </div>
                           </td>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5">Bluetooth</th>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">Bluetooth 5.3</p>
                              </div>
                           </td>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">Bluetooth 5.0</p>
                              </div>
                           </td>
                        </tr>
                        <tr class="ptableRow">
                           <th class="pTableHeading h5">Dust and Waterproof Rating</th>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">IP57 - dust and waterproof</p>
                              </div>
                           </td>
                           <td class="descText b3">
                              <div class="sc-182o2pm-0 dJxruI b3 a-markdownContent focus-styling  no-title" data-sln-id="automation_markdownContent_container">
                                 <p class="sc-182o2pm-0 dJxruI b3" data-sln-id="undefined_description">IP54 - Dust resistant</p>
                              </div>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
 
            </div>
         </div>
      </div>
   </div>
</div>
<div class="atc-fixed">
    <div class="atc-fixed__container">
        <div class="buds-product__inner--content__subtitle">
                    Next-gen TITAN 2.0 earbuds - {{product.price | money }}
        </div>
        <div data-product="{{product.first_available_variant.id}}" class="js-atc buds-product__inner--content__atc buds-hero__content--button scroll-reveal">
                ADD TO CART
        </div>
    </div>
</div>

<script>
    const addToCarts = document.querySelectorAll('.js-atc')
    addToCarts.forEach(addToCart => {
        addToCart.addEventListener('click', (e) => {
                let addItems
                let _this = e.target;
                let prId = _this.getAttribute('data-product')
                addItems = [
                    {
                        id: prId,
                        quantity: 1
                    }
                ]
                const formData = {
                    items: addItems
                }
                fetch(window.Shopify.routes.root + 'cart/add.js', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => {
                    return response.json()
                })
                .catch((error) => {
                    console.error('Error:', error)
                })
            })
    })
    $('.js-scroll').on('click', function (e) {
        e.preventDefault()
        const $section = $('.buds-product')

        $('html, body').animate({
            scrollTop: $section.offset().top + 'px'
        }, 1000)
    })
    var distance = $('.scroll-reveal').offset().top;
    $(window).scroll(function() {
        var top_of_element = $("#shopify-section-footer").offset().top;
        var bottom_of_element = $("#shopify-section-footer").offset().top + $("#shopify-section-footer").outerHeight();
        var bottom_of_screen = $(window).scrollTop() + $(window).innerHeight();
        var top_of_screen = $(window).scrollTop();
        {% comment %} if ( $(this).scrollTop() >= distance ) {
            $('.atc-fixed').addClass('show');
        } else {
            $('.atc-fixed').removeClass('show');
        } {% endcomment %}
        if (!(bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element) && $(this).scrollTop() >= distance ){
            $('.atc-fixed').addClass('show');
        } else {
            $('.atc-fixed').removeClass('show');
        }
    });
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1.5,
        spaceBetween: 30,
        loop: true,
        watchOverflow: true,
        centeredSlides: true,
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    var swiper2 = new Swiper(".mySwiper2", {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        navigation: {
            nextEl: ".sw-arrows-next",
            prevEl: ".sw-arrows-prev",
        },
    });

    const accordions = document.querySelectorAll('.accordion')

    const openAccordion = (accordion) => {
        const content = accordion.querySelector('.accordion__content')
        accordion.classList.add('accordion__active')
        content.style.maxHeight = content.scrollHeight + 'px'
    }

    const closeAccordion = (accordion) => {
        const content = accordion.querySelector('.accordion__content')
        accordion.classList.remove('accordion__active')
        content.style.maxHeight = null
    }

    accordions.forEach((accordion) => {
    const intro = accordion.querySelector('.accordion__intro')
    const content = accordion.querySelector('.accordion__content')

    intro.onclick = () => {
        if (content.style.maxHeight) {
            closeAccordion(accordion)
        } else {
            accordions.forEach((accordion) => closeAccordion(accordion))
            openAccordion(accordion)
        }
    }
    })
  </script>