{{ 'section-bundle-builder.css' | asset_url | stylesheet_tag }}
{{ 'section-product-template-new.css' | asset_url | stylesheet_tag }}
{{ 'section-product-zig.css' | asset_url | stylesheet_tag }}
{{ 'section-product-image.css' | asset_url | stylesheet_tag }}
{{ 'section-bundle-builder.js' | asset_url | script_tag }}
<div class="product-popup__wrapper hidden">
  <div class="close">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
      <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </svg>
  </div>
  <div class="info-bar">YOU UNLOCKED 1 FREE GIFT! CHOOSE IT BELOW</div>
  <div class="product-popup__holder">
    {% for product in collections['frree-gift'].products %}
      {% if forloop.index == 1%}
        {% assign one = 'Rapid 15W Charge'%}
        {% assign two = 'No More Messy Wires'%}
        {% assign three = 'Charges with case'%}
      {% endif %}
      {% if forloop.index == 2%}
        {% assign one = 'Charges With Case'%}
        {% assign two = 'Wireless Charging'%}
        {% assign three = 'In Car or at Home'%}
      {% endif %}
      {% if forloop.index == 3 %}
        {% assign one = 'Charge Any Device'%}
        {% assign two = 'Retractable Cable'%}
        {% assign three = 'Changeable Length'%}
      {% endif %}
      {% render 'product-render' checkout:'checkout' cart_title:'+ PICK A GIFT' hidecart:false product_var:product.handle %}
    {% endfor %}
  </div>
  {% comment %} <div class="product-template__wrapper--content__form--atc bundle-wrapper__buttonAdd">
    <button class="js-add-to-cart-popup f aic jcc w100 bg-titan-green font-sans btn--add-to-cart color-white">
      <div id="addToCartText-template--16118178119858__f9948fed-4ec6-468e-9bbf-3a4a75a5dd7f">FINISH KIT</div>
    </button>
  </div> {% endcomment %}
</div>
<div class="product-popup__animation hidden">
  <div class="container">
        <div class="ring">
            <h1>Preparing gifts...</h1>
        </div>
  </div>
</div>
<div class="product-addtocart hidden">
    <div class="container">
      <div id="battery">
        <div id="charge" class="active"></div>
        <div id="charge-level">ADDING..</div>
      </div>
      <div id="charging-time"></div>
    </div>
</div>
<div class="hero_image desktop hd">
  <img src="https://cdn05.zipify.com/C9BAgZynFCMpSpz-cuCB-_Jt99A=/fit-in/3840x0/263e94ab951f4224a507871b17a15932/charge-kit-banner.jpeg">
</div>
<div class="hero_image mobile md">
  <img src="https://cdn05.zipify.com/wRYNX7Jz8YGRqoIoHkmjRwQO1Uw=/0x7:1080x1795/fit-in/3840x0/474c11e21dd14eb8b60261395fdc356a/bybuild-a-charging-kit-desktop-mobile.jpeg">
</div>
{% comment %} <div id="info-bar" class="info-bar">ADD ANY 3 AND CHOOSE 1 FREE GIFT BELOW</div> {% endcomment %}
{% comment %} <div class="bundle-wrapper offer-intro-wrapper">
    {% for product in collections['frree-gift'].products %}
    {% if forloop.index == 1%}
        {% assign one = 'Rapid 15W Charge'%}
        {% assign two = 'No More Messy Wires'%}
        {% assign three = 'Charges with case'%}
      {% endif %}
      {% if forloop.index == 2%}
        {% assign one = 'Charges With Case'%}
        {% assign two = 'Wireless Charging'%}
        {% assign three = 'In Car or at Home'%}
      {% endif %}
      {% if forloop.index == 3 %}
        {% assign one = 'Charge Any Device'%}
        {% assign two = 'Retractable Cable'%}
        {% assign three = 'Changeable Lengt'%}
      {% endif %}
      {% render 'product-render' hidecart:true product_var:product.handle tick1: one tick2:two tick3:three %}    {% endfor %}
</div> {% endcomment %}
{% comment %} <div class="intro">
  <div class="intro__title">GRAB OVER 50% RRP OFF ALL ITEMS BELOW AND CHOOSE YOUR FREE GIFT FROM THE POP UP</div>
  <div class="intro__subtitle">Don't want 3 options? Just head to the cart with the FINISH KIT button at the bottom of the page.</div>
</div> {% endcomment %}
<div class="sticky-div w-100">
  <div class="js-info-bar">ADD 4 AND SAVE 55%</div>
  <div class="progress">
    <div class="bar"></div>
  </div>
</div>
<div class="bundle-wrapper">
    {% for product in collections['build-your-own-bundle'].products %}
    {% comment %} {% if forloop.index < 3%}
        {% assign one = ''%}
        {% assign two = ''%}
        {% assign three = ''%}
      {% endif %}
      {% if forloop.index == 3%}
        {% assign one = '3 Devices At Once'%}
        {% assign two = 'Super Compact'%}
        {% assign three = 'Wireless Charge Buds'%}
      {% endif %}
      {% if forloop.index == 4%}
        {% assign one = 'Unbeatable Comfort'%}
        {% assign two = 'Supreme Audio'%}
        {% assign three = 'Wireless Charging'%}
      {% endif %}
      {% if forloop.index == 5 %}
        {% assign one = 'Wireless Charge'%}
        {% assign two = 'Magnetic holder'%}
        {% assign three = '10,000mAh capacity'%}
      {% endif %}
      {% if forloop.index == 6%}
        {% assign one = 'No more messy wires'%}
        {% assign two = '15W Wireless Charge'%}
        {% assign three = 'Charge 3 Devices'%}
      {% endif %}
      {% if forloop.index > 6%}
        {% assign one = ''%}
        {% assign two = ''%}
        {% assign three = ''%}
      {% endif %} {% endcomment %}
      
      {% render 'product-render' cart_title:'+ ADD TO KIT' product_var:product.handle  %}
    {% endfor %}
    
</div>

<div class="product-template__wrapper--content__form--atc bundle-wrapper__buttonAdd">
    <button class="js-add-to-cart f aic jcc w100 bg-titan-green font-sans btn--add-to-cart color-white">
      <div id="addToCartText-template--16118178119858__f9948fed-4ec6-468e-9bbf-3a4a75a5dd7f">FINISH KIT</div>
    </button>
</div>


<script>
const pos = document.querySelectorAll('.po')
const titleArray = []
let optionNames = document.querySelectorAll('.js-option-name')
const popUpControler = document.querySelector('.product-popup__wrapper')
const popUpLoadControler = document.querySelector('.product-addtocart')
const popUpAnimationControler = document.querySelector('.product-popup__animation')
const close = document.querySelector('.close')
const increases = document.querySelectorAll('.increase')
const decreases = document.querySelectorAll('.decrease')
increases.forEach((increas) => {
  increas.addEventListener('click', (e) => {
    const _this = e.target
    const parentSelector = _this.parentNode.parentNode
    console.log(parentSelector, 'parentSelector')
    const inputSelector = parentSelector.querySelector('.js-variant-selector')
    const inputValue = parentSelector.querySelector('.c-quantity__amount')
    const value = inputSelector.getAttribute('data-quantity')
    const newValue = parseInt(value) + 1
    inputSelector.setAttribute('data-quantity', newValue)
    inputValue.innerHTML = newValue
  })
})
decreases.forEach((decrease) => {
  decrease.addEventListener('click', (e) => {
    const _this = e.target
    const parentSelector = _this.parentNode.parentNode
    console.log(parentSelector, 'parentSelector')
    const inputSelector = parentSelector.querySelector('.js-variant-selector')
    const inputValue = parentSelector.querySelector('.c-quantity__amount')
    const value = inputSelector.getAttribute('data-quantity')
    const newValue = parseInt(value) - 1
    if(newValue < 1) {
      return
    }
    inputSelector.setAttribute('data-quantity', newValue)
    inputValue.innerHTML = newValue
  })
})
close.addEventListener('click', (e) => {
  popUpControler.classList.toggle('hidden')
  body.classList.toggle('overflow-hidden')
})

pos.forEach((po) => {
  const name = po.getAttribute('data-value')
  const position = po.getAttribute('data-position')
  titleArray[position] = name
  po.addEventListener('click', (e) => {
    let variantName = ''
    const _this = e.target
    const divSelector = _this.parentNode.parentNode.parentNode.parentNode
    const parentSelector = divSelector.parentNode
    const siblings = _this.parentNode.parentNode.children
    console.log(siblings, 'RODJACI')
    for (let i = 0; i < siblings.length; i++) {
      siblings[i].classList.remove('active')
    }
    _this.parentNode.classList.add('active')
    const position = _this.getAttribute('data-position')
    const name = _this.getAttribute('data-value')
    const nameSelector = _this.parentNode.parentNode.parentNode
    const variantSelector = _this.parentNode.parentNode
    let setOptionName = nameSelector.querySelector('.js-option-name')
    variantSelector.classList.remove('open')
    setOptionName.innerHTML = name
    console.log(nameSelector, name, 'NAME')
    const active = parentSelector.querySelectorAll('.active')
    console.log(active, 'ACTIVE')
    if (active.length > 1) {
      console.log('VISE OD 1')
      for (let i = 0; i < active.length; i++) {
        const name = active[i].getAttribute('data-value')
        const position = active[i].getAttribute('data-position')
        titleArray[position] = name
      }
    } else {
      console.log('SAMO 1')
      titleArray[position] = name
    }
    console.log(titleArray, 'titleArray')

    console.log(titleArray, 'titleArray')
    for (let i = 0; i < titleArray.length; i++) {
      variantName += `${titleArray[i]} / `
    }
    const variantSelectorName = variantName.slice(0, -3)
    const selectedVariant = divSelector.querySelector(`[data-title="${variantSelectorName}"]`)
    console.log(variantSelectorName, selectedVariant)
    const selectedVariantId = selectedVariant.getAttribute('data-variant')
    const selectedVariantPrice = selectedVariant.getAttribute('data-price')
    const selectedVariantComparePrice = selectedVariant.getAttribute('data-compare-price')
    const buttonSelector = divSelector.querySelector('.js-variant-selector')
    const priceSelector = divSelector.querySelector('.js-price')
    const comparePriceSelector = divSelector.querySelector('.js-red-price')
    buttonSelector.setAttribute('data-variant-id', selectedVariantId)
    priceSelector.innerHTML = selectedVariantPrice
    comparePriceSelector.innerHTML = selectedVariantComparePrice
    console.log('selectedVariantId', selectedVariantId)
    console.log(titleArray, 'titleArray')
  })
})
const addToCart = document.querySelector('.js-add-to-cart')
{% comment %} const addToCartCheckout = document.querySelector('.js-add-to-cart-popup') {% endcomment %}
let addItems = (selector) => {
  const variantsPickers = document.querySelectorAll('.js-variant-selector.selected')
  const productIds = []
  let addItems = []
  if(selector) {
    productIds.push('43165644488882')
  }
  variantsPickers.forEach((variantsPicker) => {
    productIds.push(variantsPicker.getAttribute('data-variant-id'))
  })
  console.log(productIds, 'productIds')
  productIds.forEach((productId) => {
    const item = {
      id: productId,
      quantity: 1
    }
    addItems.push(item)
  })
  console.log(addItems, 'addItems')
  const formData = {
    items: addItems
  }
  fetch(window.Shopify.routes.root + 'cart/add.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  })
    .then(response => {
      return response.json()
    })
    .catch((error) => {
      console.error('Error:', error)
    })
}
let addItemsCheckout = (selector) => {
  const variantsPickers = document.querySelectorAll('.js-variant-selector.selected')
  const productIds = []
  let addItems = []
  if(selector) {
    productIds.push('43165644488882')
  }
  variantsPickers.forEach((variantsPicker) => {
    productIds.push(variantsPicker.getAttribute('data-quantity') + variantsPicker.getAttribute('data-variant-id'))
  })
  console.log(productIds, 'productIds')
  productIds.forEach((productId) => {
    const item = {
      id: productId.substring(1),
      quantity: productId.slice(0, 1)
    }
    addItems.push(item)
  })
  console.log(addItems, 'addItems')
  const formData = {
    items: addItems
  }
  fetch(window.Shopify.routes.root + 'cart/add.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(formData)
  })
    .then(response => {
      if (response.status === 200) {
        window.location.href = '/checkout'
      }
      return response.json()
    })
    .catch((error) => {
      console.error('Error:', error)
    })
}
addToCart.addEventListener('click', (e) => {
  let numberOfSelected = document.querySelectorAll('.js-variant-selector.selected').length
  popUpLoadControler.classList.remove('hidden')
  addItemsCheckout()
})
const infoBar = document.querySelector('.js-info-bar')
const variantClicks = document.querySelectorAll('.js-variant-selector')
variantClicks.forEach(variantClick => {
    variantClick.addEventListener('click', (e) => {
        const bar = document.querySelector(".bar");
        console.log('click')
        const _this = e.target
        _this.closest(".bundle-wrapper__product").classList.toggle('selected');
        if(_this.value === 'added') {
            _this.classList.remove('selected')
            _this.value = '+ add to kit'
            selectedItems = document.querySelectorAll('.js-variant-selector.selected')
            let numberOfSelected = 0
            selectedItems.forEach((selectedItem) => {
               selectedNumber = selectedItem.getAttribute('data-quantity')
               numberOfSelected = numberOfSelected + parseInt(selectedNumber)
            })
            //let numberOfSelected = document.querySelectorAll('.js-variant-selector.selected').length
            let leftToGift = 12 - numberOfSelected;
            console.log(leftToGift,'leftToGift')
            if(leftToGift === 12) {
                bar.style.setProperty("--progress", "0%");
                infoBar.innerHTML = `ADD 4 AND SAVE 55%`
        }
        if(leftToGift === 11) {
                bar.style.setProperty("--progress", "25%");
                infoBar.innerHTML = `ADD 3 MORE AND SAVE 55%`
        }
        if(leftToGift === 10) {
            bar.style.setProperty("--progress", "50%");
            infoBar.innerHTML = `ADD 2 MORE AND SAVE 55%`
        }
        if(leftToGift === 9) {
            bar.style.setProperty("--progress", "75%");
            infoBar.innerHTML = `ADD 1 MORE AND SAVE 55%`
        }
        if(leftToGift === 8) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 2 MORE AND SAVE 65%`
        }
        if(leftToGift === 7) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 1 MORE AND SAVE 65%`
        }
        if(leftToGift === 6) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 65%!!ADD 2 MORE AND SAVE 70%`
        }
        if(leftToGift === 5) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 1 MORE AND SAVE 70%`
        }
        if(leftToGift === 4) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 4 MORE AND SAVE 75%`
        }
        if(leftToGift === 3) {
            bar.style.setProperty("--progress", "40%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 3 MORE AND SAVE 75%`
        }
        if(leftToGift === 2) {
            bar.style.setProperty("--progress", "60%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 2 MORE AND SAVE 75%`
        }
        if(leftToGift === 1) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 1 MORE AND SAVE 75%`
        }
        if(leftToGift === 0) {
            bar.style.setProperty("--progress", "100%");
            infoBar.innerHTML = `YOU SAVED 75%!!`
        }
            
            return
        }
        _this.classList.add('selected')
        _this.value = 'added'
        selectedItems = document.querySelectorAll('.js-variant-selector.selected')
          let numberOfSelected = 0
          selectedItems.forEach((selectedItem) => {
              selectedNumber = selectedItem.getAttribute('data-quantity')
              numberOfSelected = numberOfSelected + parseInt(selectedNumber)
          })
        let leftToGift = 12 - numberOfSelected;
        if(leftToGift === 12) {
                bar.style.setProperty("--progress", "0%");
                infoBar.innerHTML = `ADD 4 AND SAVE 55%`
        }
        if(leftToGift === 11) {
                bar.style.setProperty("--progress", "25%");
                infoBar.innerHTML = `ADD 3 MORE AND SAVE 55%`
        }
        if(leftToGift === 10) {
            bar.style.setProperty("--progress", "50%");
            infoBar.innerHTML = `ADD 2 MORE AND SAVE 55%`
        }
        if(leftToGift === 9) {
            bar.style.setProperty("--progress", "75%");
            infoBar.innerHTML = `ADD 1 MORE AND SAVE 55%`
        }
        if(leftToGift === 8) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 2 MORE AND SAVE 65%`
        }
        if(leftToGift === 7) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 1 MORE AND SAVE 65%`
        }
        if(leftToGift === 6) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 65%!!ADD 2 MORE AND SAVE 70%`
        }
        if(leftToGift === 5) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 55%!!ADD 1 MORE AND SAVE 70%`
        }
        if(leftToGift === 4) {
            bar.style.setProperty("--progress", "20%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 4 MORE AND SAVE 75%`
        }
        if(leftToGift === 3) {
            bar.style.setProperty("--progress", "40%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 3 MORE AND SAVE 75%`
        }
        if(leftToGift === 2) {
            bar.style.setProperty("--progress", "60%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 2 MORE AND SAVE 75%`
        }
        if(leftToGift === 1) {
            bar.style.setProperty("--progress", "80%");
            infoBar.innerHTML = `YOU SAVED 70%!!ADD 1 MORE AND SAVE 75%`
        }
        if(leftToGift === 0) {
            bar.style.setProperty("--progress", "100%");
            infoBar.innerHTML = `YOU SAVED 75%!!`
        }

        
        console.log(leftToGift, numberOfSelected, 'numberOfSelected')
    })
});

console.log(optionNames, 'optionNames')
optionNames.forEach((optionName) => {
    optionName.addEventListener('click', (e) => {
        const _this = e.target
        _this.nextSibling.nextSibling.classList.toggle('open');
    })
}) 
stickyElem = document.querySelector(".sticky-div");
currStickyPos = stickyElem.getBoundingClientRect().top + window.pageYOffset;
var lastScrollTop = 0;
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
        if (st > lastScrollTop){
            if(window.pageYOffset > currStickyPos) {
                stickyElem.style.position = "fixed";
                stickyElem.style.top = "60px";
                stickyElem.classList.add('sticky');
            } else {
                stickyElem.style.position = "relative";
                stickyElem.style.top = "0px";
                stickyElem.classList.remove('sticky');
            }
        } else {
            if(window.pageYOffset > currStickyPos) {
                stickyElem.style.position = "fixed";
                stickyElem.style.top = "60px";
                stickyElem.classList.add('sticky');
            } else {
                stickyElem.style.position = "relative";
                stickyElem.style.top = "0px";
                stickyElem.classList.remove('sticky');
            }
        }
        lastScrollTop = st;
    });
console.log($('.hero_image'), 'hero_image')
$('.hero_image').on('click', function (e) {
  e.preventDefault()
  const $section = $('.js-info-bar')

  $('html, body').animate({
    scrollTop: $section.offset().top + 'px'
  }, 1000)
})



</script>