{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}
<style>
  .contact img
{
  height: 400px;
  margin-bottom: -25px;
  object-fit: contain;
}
.section-{{section.id}}-padding
{
  padding-top: {{section.settings.padding_top | times: 0.75 | round: 0}}px;
  padding-bottom: {{section.settings.padding_bottom | times: 0.75 | round: 0}}px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  align-items: center;
}
  .contact .field {
  border: 1px solid green !important;
  }
  
 .titanbutton-{{section.id}} {
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
  color: {{section.settings.button_text_color}};
  background: {{section.settings.button_bg}};
  border: 1px solid {{section.settings.button_border}};
}
  
.field:after, .select:after {
  transition: none;
  box-shadow: none !important;
}
 .titanbutton-{{section.id}}:hover {
  background: {{section.settings.button_bg_hover}};

 }
  @media only screen and (max-width: 750px) {
    .ctext {
  max-width: 100% !important;
}
 .section-{{section.id}}-padding {   display: flex !important;
    flex-direction: column-reverse;
    
  }
  .isolate {
    width: 90vw;
    margin-bottom: 50px;
  }

  /* .contact .titan-image img {
    display: none;
  } */
}

.section-{{section.id}}-padding .buttton {
  color: blue;
}
</style>


<div class="color-{{ section.settings.color_scheme }} gradient" style="margin: -5% 0; padding-bottom: 5%;">
  <h2 style="padding-top: 5%;padding-left: 100px;">
    {{section.settings.heading}}
  </h2>
  <p class="ctext" style="margin-left: 5%; max-width: 45%;padding-top: 5%; color: {{section.settings.tcolor}};">
    {{section.settings.headingtexttop}}
  </p>
  <div class="contact page-width  section-{{ section.id }}-padding">
<div class="firstcontent" style="max-width: 600px; margin: auto;">
    {%render 'titan-image',
    image: section.settings.image%}
    {% if section.settings.headingtextbottom != blank%}
    <p class="ctext" style="margin-left: 5%; max-width: 48%; padding-bottom: 5%; margin-bottom: -20px; color: {{section.settings.tcolor}};">
      {{section.settings.headingtextbottom}}
    </p>
  {% endif %} </div>
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <div autofocus class="form-status form-status-list form__message" tabindex="-1">{% render 'icon-success' %}
          {{ 'templates.contact.form.post_success' | t }}</div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 autofocus class="form-status caption-large text-body" role="alert" style="text-align: center;" tabindex="-1">{% render 'icon-error' %}
            {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a class="link" href="#ContactForm-email">
              {{ form.errors.translated_fields['email'] | capitalize }}
              {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}" style="opacity: .4; border: 1px solid #093209; color: black !important;">
          <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
        </div>
        <div class="field field--with-error">
          <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-required="true" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="ContactForm-email-error" {% endif %} placeholder="{{ 'templates.contact.form.email' | t }}" style="opacity: .4;border: 1px solid #093209; color: black !important;">
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}
            <span aria-hidden="true">*</span>
          </label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }}
                {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
      </div>
      <div class="field">
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}" style="opacity: .4;border: 1px solid #093209; color: black !important;">
        <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
      <div class="field">
        <textarea rows="10" id="ContactForm-body" class="text-area field__input" name="contact[{{ 'templates.contact.form.comment' | t }}]" placeholder="{{ 'templates.contact.form.comment' | t }}" style="opacity: .4; border: 1px solid #093209; color: black !important;">
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      </div>
      <div class="contact__button">
        <button class="titanbutton-{{section.id}}" type="submit">
          SUBMIT
        </button>
      </div>
    {%- endform -%}
  </div>

</div>

{% schema %}

{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "html",
      "id": "headingtexttop",
      "label": "Text Top"
    }, {
      "type": "html",
      "id": "headingtextbottom",
      "label": "Text Bottom",
      "default": "We have our expert customer service team working around the clock to give you any support you need. <br> Don't hesitate to reach out! <br> <strong></strong>Current Response time: ~24hrs. </strong>"
    }, {
      "type": "color",
      "id": "tcolor",
      "label": "Text Color",
      "default": "#FAFAFA"
    }, {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    }, {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }, {
      "type": "color",
      "id": "button_bg_hover",
      "label": "Button Hover Background",
      "default": "#000000"
    }, {
      "type": "color_background",
      "id": "button_bg",
      "label": "Button Background",
      "default": "#000000"
    }, {
      "type": "color",
      "id": "button_border",
      "label": "Button Border Color",
      "default": "#FFFFFF"
    }, {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#FFFFFF"
    }, {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        }, {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        }, {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        }, {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        }, {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }, {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }, {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}

{% endschema %}


<style>
  @media only screen and(max-width: 900px) {
    .ctext {
      width: 80vw !important;
    }
  }
  
  
  @media only screen and(min-width: 900px) {
    div.firstcontent {
    max-width: 40vw;}
  }
</style>