{{ 'section-limited-offers.css' | asset_url | stylesheet_tag }}
{{ 'section-limited-offers.js' | asset_url | stylesheet_tag }}
<div class="top-image mb-[20px]">
  <img class="w-full desktop" width="100%" height="auto" src="{{ section.settings.image | img_url:'master' }}">
  <img class="w-full mobile" width="100%" height="auto" src="{{ section.settings.image_mobile | img_url:'master' }}">
</div>
<section class="">
  <div class="offers-title">{{ section.settings.text_right }}</div>
  <div class="timer" id="timer">
    <div class="flex flex-col items-center leading-none" id="days"></div>:
    <div class="flex flex-col items-center leading-none" id="hours"></div>:
    <div class="flex flex-col items-center leading-none" id="minutes"></div>:
    <div class="flex flex-col items-center leading-none" id="seconds"></div>
  </div>
  <div class="offers-list">
    {% for block in section.blocks %}
      <div class="offers-list__single">
        <div class="offers-list__single--image">
          <img class="w-100" width="100" height="auto" src="{{ block.settings.product_image | img_url:'master' }}">
        </div>
        {% if block.settings.text != blank %}
          <div class="offers-list__single--text">
              {{ block.settings.text }}
          </div>
        {% endif %}
        <a href="{{ block.settings.url }}" class="offers-list__single--url">
            SEE OFFER
        </a>
      </div>
    {% endfor %}
  </div>
</section>
<script>
    function makeTimer(className, dateTo) {
        var endTime = new Date(dateTo);
        endTime = (Date.parse(endTime) / 1000);

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var timeLeft = endTime - now;

        var days = Math.floor(timeLeft / 86400);
        var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
        var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
        var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

        if (days < "10") { days = "0" + days;}
        if (hours < "10") { hours = "0" + hours;}
        if (minutes < "10") { minutes = "0" + minutes;}
        if (seconds < "10") { seconds = "0" + seconds;}

        $(className + " #days").html(days + '<div class="small-text">Days</div>');
        $(className + " #hours").html(hours + '<div class="small-text">Hours</div>');
        $(className + " #minutes").html(minutes + '<div class="small-text">Min</div>');
        $(className + " #seconds").html(seconds + '<div class="small-text">Sec</div>');
    }
    setInterval(function() {
      makeTimer('.timer',"{{section.settings.countdown_to}}");
    }, 1000);
</script>


{% schema %}
{
  "name": "Limited Offers",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Top Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Top Image Mobile"
    },
    {
      "type": "text",
      "id": "text_right",
      "label": "Text right",
      "default": "LIMITED TIME OFFERS"
    },
    {
      "type": "text",
      "id": "countdown_to",
      "label": "Countdown to"
    }
  ],
  "blocks": [
    {
      "type": "air_tabs",
      "name": "Tabs",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Url"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Limited Offers"
    }
  ]
}
{% endschema %}