{{ 'section-product-template-new.css' | asset_url | stylesheet_tag }}
{{ 'section-product-template-new.js' | asset_url | script_tag }}
{% assign product = all_products['3-x-titan-smart-cable™'] %}
{% assign product2 = all_products['1-x-titan-smart-cable™'] %}
{% assign product4 = all_products['2-x-titan-smart-cable™-2'] %}

{% assign pd1 = all_products['1-x-titan-pd-cable™-1'] %}
{% assign pd2 = all_products['2-x-titan-pd-cable™-1'] %}
{% assign pd3 = all_products['3-x-titan-pd-cable™'] %}

{% assign plug = all_products['titan-45w-turbo-charge-plug™-50-off']%}
<section id="product-template-new tt product-template-new-pd" class="product-template-new titan-bg-black">
  <div class="container">
    <div class="product-template-new__wrapper f ais jcc">
        <div class="product-template-new__wrapper--image column-left">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img class="js-main-image-change w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_3pack.jpg?v=1681487089" alt="{{ featured_image.alt }}">
        </div>
        <div class="product-template-new__wrapper--content column-right">
            <div class="product-template-new__wrapper--content__review js-section-scroll">
                <span class="product-template-new__wrapper--content__review--stars color-titan-green font-sans">★ ★ ★ ★ ★ </span>
                <span class="product-template-new__wrapper--content__review--mark font-sans color-white">4.7 </span>
                <span class="product-template-new__wrapper--content__review--number color-gray font-lato">(21,956)</span>
            </div>
             <div id="mobile-label" class="label-holder reverse-holder">
                <div class="label-holder__image">
                   <div class="label-holder__speed">SPEED</div>
                  <img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_lightning.jpg?v=1681381825">
                </div>
                <div>
                <div class="label-holder__title">WALL PORT</div>
                  <input hidden class="js-pd-switch" type="checkbox" id="switch" />
                  <label class="switch" for="switch" checked>
                      <div class="usba">PD</div>
                      <i class="arrow-left fa fa-angle-down fa-2x animated"></i>
                      <i class="arrow-right fa fa-angle-down fa-2x animated"></i>
                      <div class="pd">USB-A</div>
                  </label>
                  
                </div>
                <div class="label-holder__image">
                <div class="label-holder__speed">SPEED</div>
                  <img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2_x_lightning.jpg?v=1681381825">
                </div>
            </div>
              <h1 class="h1 product-template-new__wrapper--content__title color-white">
                 "{{section.settings.punchline}}"
              </h1>

              <div class="product-template-new__wrapper--content__features font-sans">
                  {% for block in section.blocks %}
                    {% if block.type == 'bullets'%}
                      <div class="product-template-new__wrapper--content__features--name">{{block.settings.text}}</div>
                    {% endif %}
                  {% endfor %}
              </div>
              {% comment %} <div class="product-template-new__wrapper--content__offerDiscount font-sans js-discount text-center">
                  {{section.settings.d1}}
              </div> {% endcomment %}
            <div id="desktop-label" class="label-holder reverse-holder">
                <div class="label-holder__image">
                   <div class="label-holder__speed">SPEED</div>
                  <img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_x_lightning.jpg?v=1681381825">
                </div>
                <div>
                  <div class="label-holder__title">WALL PORT</div>
                  <input hidden class="js-pd-switch" type="checkbox" id="switch" />
                  <label class="switch" for="switch" checked>
                      <div class="usba">PD</div>
                      <i class="arrow-left fa fa-angle-down fa-2x animated"></i>
                      <i class="arrow-right fa fa-angle-down fa-2x animated"></i>
                      <div class="pd">USB-A</div>
                  </label>
                
                </div>
                <div class="label-holder__image">
                <div class="label-holder__speed">SPEED</div>
                  <img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2_x_lightning.jpg?v=1681381825">
                </div>
            </div>

              <div class="relative">
                <div class="value-slider">
                  <div class="slider">
                      <div class="one-behind left two"><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2_pack_-_3_pack_decoy_1.jpg?v=1682600774"></div>
                      <div class="active three"><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/3_pack_-_3_pack_decoy.jpg?v=1682545880"></div>
                      <div class="one-behind right one"><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/1_pack.jpg?v=1682545880"></div>
                  </div>
                </div>
              </div>

              <div class="product-template-new__wrapper--content__imageSelection">
                <img class="js-image-change d-block w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_3.jpg?v=16813887134">
              </div>


              {% comment %} <button class="js-pd-switch">CHANGE TO PD</button> {% endcomment %}
              <div class="product-template-new__wrapper--content__selection">
                  <div class="product-template-new__wrapper--content__selection--wrapper f aic fw">
                      <div data-discount="{{section.settings.d1}}" data-slide=".three" data-count="3x" data-id="{{product.id}}" data-product="3-x-titan-smart-cable™" class="master-product active js-product-selector product-template-new__wrapper--content__selection--wrapper__single f v2">
                          <div class="decoy-title">3x Pack</div>
                          <div class="decoy-content">
                            <div class="decoy-content__price js-price-discount-three"></div>
                            <div class="crossed titan-red bold js-price-original-three"></div>
                            <span class="product-template-new__wrapper--content__selection--wrapper__save">MOST POPULAR</span>
                          </div>
                          <div class="vertical-separator"></div>
                      </div>
                      <div data-discount="{{section.settings.d2}}" data-slide=".two" data-count="2x" data-id="{{product4.id}}" data-product="2-x-titan-smart-cable™-2" class="js-product-selector product-template-new__wrapper--content__selection--wrapper__single f v2">
                         <div class="decoy-title">2x Pack</div>
                         <div class="decoy-content">
                          <div class="decoy-content__price js-price-discount-two"></div>
                          <div class="crossed titan-red bold js-price-original-two"></div>
                          {% comment %} <span class="product-template-new__wrapper--content__selection--wrapper__save">65% OFF</span> {% endcomment %}
                         </div>
                         <div class="vertical-separator"></div>
                      </div>
                      <div data-discount="{{section.settings.d3}}" data-slide=".one" data-count="" data-id="{{product2.id}}" data-product="1-x-titan-smart-cable™" class="js-product-selector product-template-new__wrapper--content__selection--wrapper__single f v2">
                          <div class="decoy-title">1x Pack</div>
                          <div class="decoy-content">
                            <div class="decoy-content__price js-price-discount-one"></div>
                            <div class="crossed titan-red bold js-price-original-one"></div>
                            {% comment %} <span class="product-template-new__wrapper--content__selection--wrapper__save">50% OFF</span> {% endcomment %}
                          </div>
                          <div class="vertical-separator"></div>
                      </div>
                  </div>
              </div>
              <div class="product-template-new__wrapper--content__selection small-top">
                  <div class="product-template-new__wrapper--content__selection--wrapper f aic jcb small-top fw">
                      <div data-type="iPhone" class="relative pd-default-phone active js-type-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                          <div class="zindex transform">IPhone</div>
                          <div class="vertical-separator"></div>
                      </div>
                      <div data-type="Type-C" class="relative js-type-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                          <div class="zindex transform">Type-C</div>
                          <div class="vertical-separator"></div>
                      </div>
                      <div data-type="Micro-USB" class="relative pd-disable js-type-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                          <div class="zindex transform">Micro Usb</div>
                      </div>
                  </div>
              </div>
              <div class="product-template-new__wrapper--content__selection">
                  <div class="product-template-new__wrapper--content__selection--wrapper f aic jcb small-top fw">
            
                      <div data-length="4ft(1.2m)" class="relative pd-default-length active js-length-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                        <div class="zindex">1.2m</div>
                        <div class="vertical-separator"></div>
                      </div>
                      <div data-length="6ft(1.8m)" class="relative js-length-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                        <div class="zindex">1.8m</div>
                        <div class="vertical-separator"></div>
                      </div>
                      <div data-length="10ft(3.0m)" class="relative pd-disable js-length-selector product-template-new__wrapper--content__selection--wrapper__single v2">
                        <div class="zindex">3.0m</div>
                      </div>
                  </div>
              </div>
              <div class="product-template-new__wrapper--content__add pd-add">
                  <div data-addon="{{plug.first_available_variant.id}}" class="f jcb aic product-template-new__wrapper--content__add--colored js-add pd">
                    <div class="product-template-new__wrapper--content__add--title font-bold product-template-new__wrapper--content__add--title-pd">
                    ADD 4 PORT PD PLUG <br>
                    {% comment %} <div class="plug-ports">1x<span>PD</span><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/type-c_pd.png?v=1681382319"></div>
                    <div class="plug-ports">3x<span>USB-A</span><img class="w-100" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/USB_A.png?v=1681382319"></div> {% endcomment %}
                    {{plug.price | money }} <span class="crossed titan-red">{{plug.compare_at_price | money }}</span></div>
                    <div class="product-template-new__wrapper--content__add--image">
                        {% assign featured_image_plug = plug.selected_or_first_available_variant.featured_image | default: plug.featured_image %}
                        <img class="w-100" src="{{ featured_image_plug | img_url: 'master' }}" alt="{{ featured_image_plug.alt }}">
                    </div>
                  </div>
              </div>
              <div class="text-center price-div">
                <span class="js-price titan-green">{{product.price | money}}</span> <span class="js-crossed-price titan-red">{{product.compare_at_price | money}}</span>
                <div class="js-saving">{{product.compare_at_price | minus:product.price | money}}</div>
              </div>
              <div class="product-template__wrapper--content__form--atc">
                  <button class="js-atc f aic jcc w100 bg-titan-green font-sans btn--add-to-cart color-white">
                    <div id="addToCartText-{{ section.id }}">ADD TO CART</div>
                  </button>
                  <div class="amazon-notice"><span>Only Here:</span> Not Available on Amazon or eBay</div>
              </div>
              <div class="product-template-new__icons">
                  <div class="product-template-new__icons--item">
                      <img class="product-template-new__icons--item__icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-deliver-food-50_256x256_crop_center.png?v=1677604414" alt="">
                      <span>Free Delivery</span>
                  </div>
                  <div class="product-template-new__icons--item">
                      <img style="margin-top:0" class="product-template-new__icons--item__icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-ecommerce-warranty-64_256x256_crop_center.png?v=1677604692" alt="">
                      <span>Lifetime Warranty</span>
                  </div>
              </div>   
              {% comment %} <div class="product-template-new__info">
                  <img class="product-template-new__info--svg" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-light-on-100_256x256_crop_center.png?v=1677605481" alt="">
                  <div>
                      <p>{{section.settings.idea}}</p>
                  </div>
              </div>     {% endcomment %}
        </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Product Template",
  "settings": [
    {
      "type": "text",
      "id": "punchline",
      "label": "Punch Line",
      "default": "Finally! A charger that doesn't break."
    },
    {
      "type": "text",
      "id": "d1",
      "label": "Discount message 1",
      "default": "60% OFF + FREE CABLE TODAY!"
    },
    {
      "type": "text",
      "id": "d2",
      "label": "Discount message 2",
      "default": "60% OFF"
    },
    {
      "type": "text",
      "id": "d3",
      "label": "Discount message 3",
      "default": "50% OFF"
    },
    {
      "type": "text",
      "id": "idea",
      "label": "Pro Tip",
      "default": "This cable takes an incredible 1,500 lbs of force to break! Whilst allowing charging up to 2.4x faster!"
    }
  ],
  "blocks": [
    {
        "type": "bullets",
        "name": "Bullet Points",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Product Template",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
<script>
window.selectLogic = {
  productCount: '3x',
  productHandle: '',
  productId: '',
  phoneType: 'iPhone',
  cableLength: '4ft(1.2m)',
  addon: ''
}
window.jointPrice = {
    {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.price | plus: plug.price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | plus: plug.price | money  }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | plus: plug.price | money  }}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | plus: plug.price | money  }}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | plus: plug.price | money  }}',
    {% endfor %}
    {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | plus: plug.price | money  }}',
    {% endfor %}
}
window.jointComparePrice = {
    {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money  }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money  }}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money  }}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money  }}',
    {% endfor %}
    {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | money  }}',
    {% endfor %}
}
window.jointSavePrices = {
    {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
     {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | plus: plug.compare_at_price | minus: variant.price | minus: plug.price | money }}',
    {% endfor %}
}
window.length = {
  {% for variant in product.variants %}
      {% if variant.title contains '1.2'%}
        '3x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '3x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '3x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in product4.variants %}
      {% if variant.title contains '1.2'%}
        '2x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '2x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '2x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in product2.variants %}
      {% if variant.title contains '1.2'%}
        '1x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '1x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '1x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd1.variants %}
      {% if variant.title contains '1.2'%}
        'pd-1x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-1x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-1x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd2.variants %}
      {% if variant.title contains '1.2'%}
        'pd-2x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-2x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-2x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd3.variants %}
      {% if variant.title contains '1.2'%}
        'pd-3x4ft(1.2m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-3x6ft(1.8m)' : '{{ variant.price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-3x10ft(3.0m)' : '{{ variant.price | money }}',
      {% endif %}
  {% endfor %}
}
window.compareLength = {
  {% for variant in product.variants %}
      {% if variant.title contains '1.2'%}
        '3x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '3x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '3x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in product4.variants %}
      {% if variant.title contains '1.2'%}
        '2x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '2x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '2x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in product2.variants %}
      {% if variant.title contains '1.2'%}
        '1x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        '1x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        '1x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd1.variants %}
      {% if variant.title contains '1.2'%}
        'pd-1x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-1x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-1x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd2.variants %}
      {% if variant.title contains '1.2'%}
        'pd-2x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-2x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-2x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
  {% for variant in pd3.variants %}
      {% if variant.title contains '1.2'%}
        'pd-3x4ft(1.2m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '1.8'%}
        'pd-3x6ft(1.8m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
      {% if variant.title contains '3.0'%}
        'pd-3x10ft(3.0m)' : '{{ variant.compare_at_price | money }}',
      {% endif %}
  {% endfor %}
}
window.products = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
}
window.prices = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | money}}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | money}}',
    {% endfor %}
     {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | money}}',
    {% endfor %}
     {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.price | money}}',
    {% endfor %}
}
window.comparePrices = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.compare_at_price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money}}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money}}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money}}',
    {% endfor %}
    {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money}}',
    {% endfor %}
}
window.savePrices = {
    {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
    {% for variant in pd1.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
    {% for variant in pd2.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
    {% for variant in pd3.variants %}
      'pd-{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | minus:  variant.price | money }}',
    {% endfor %}
}
window.images = {
   "3xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_7e3ba6f2-0a61-41e4-859b-17213cb29bfb.jpg?v=1681403888",
   "3xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_40bc9f85-bcaa-4ae2-bad7-e3ea5f67d561.jpg?v=1681404000",
   "3xiPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_3.0m_ef332f96-7e94-4214-b011-4b42d4da0ed4.jpg?v=1681404121",
   "3xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_itype-c_1.2m_73179fc3-03f3-477f-a451-4030697cdc5d.jpg?v=1681404177",
   "3xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_3.jpg?v=1681388713",
   "3xType-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_3.0.jpg?v=1681406074",
   "3xMicro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.2m.jpg?v=1681404262",
   "3xMicro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.8m.jpg?v=1681404262",
   "3xMicro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_3.0m.jpg?v=1681404304",
   "iPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_7e3ba6f2-0a61-41e4-859b-17213cb29bfb.jpg?v=1681403888",
   "iPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_40bc9f85-bcaa-4ae2-bad7-e3ea5f67d561.jpg?v=1681404000",
   "iPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_3.0m_ef332f96-7e94-4214-b011-4b42d4da0ed4.jpg?v=1681404121",
   "Type-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_itype-c_1.2m_73179fc3-03f3-477f-a451-4030697cdc5d.jpg?v=1681404177",
   "Type-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_3.jpg?v=1681388713",
   "Type-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_3.0m_2.jpg?v=1680176374",
   "Micro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.2m.jpg?v=1681404221",
   "Micro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.8m.jpg?v=1681404262",
   "Micro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_3.0m.jpg?v=1681404304",
   "2xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_7e3ba6f2-0a61-41e4-859b-17213cb29bfb.jpg?v=1681403888",
   "2xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_40bc9f85-bcaa-4ae2-bad7-e3ea5f67d561.jpg?v=1681404000",
   "2xiPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_3.0m_ef332f96-7e94-4214-b011-4b42d4da0ed4.jpg?v=1681404121",
   "2xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_itype-c_1.2m_73179fc3-03f3-477f-a451-4030697cdc5d.jpg?v=1681404177",
   "2xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_3.jpg?v=1681388713",
   "2xType-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_3.0m_2.jpg?v=1680176374",
   "2xMicro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.2m.jpg?v=1681404221",
   "2xMicro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_1.8m.jpg?v=1681404262",
   "2xMicro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_micro_3.0m.jpg?v=1681404304",
   "pd-3xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_PD_5e383e9b-97b2-436a-bfdd-334f0abd1f3c.jpg?v=16814039383",
   "pd-3xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_PD_baa17223-e6de-462e-be97-b7eeceaacad1.jpg?v=1681404041",
   "pd-3xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.2m_PD_1_0ef451a4-17b8-40e8-ab96-04c72b231229.jpg?v=1681406212",
   "pd-3xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_PD_62f94879-8740-418d-8f95-8c5a476563f5.jpg?v=1681406281",
   "pd-iPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_PD_5e383e9b-97b2-436a-bfdd-334f0abd1f3c.jpg?v=1681403938",
   "pd-iPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_PD_baa17223-e6de-462e-be97-b7eeceaacad1.jpg?v=1681404041",
   "pd-Type-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.2m_PD_1_0ef451a4-17b8-40e8-ab96-04c72b231229.jpg?v=1681406212",
   "pd-Type-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_PD_62f94879-8740-418d-8f95-8c5a476563f5.jpg?v=1681406281",
   "pd-2xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.2m_PD_5e383e9b-97b2-436a-bfdd-334f0abd1f3c.jpg?v=1681403938",
   "pd-2xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_iphone_1.8m_PD_baa17223-e6de-462e-be97-b7eeceaacad1.jpg?v=1681404041",
   "pd-2xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.2m_PD_1_0ef451a4-17b8-40e8-ab96-04c72b231229.jpg?v=1681406212",
   "pd-2xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Titan_smart_cable_titan_power_plus_type-c_1.8m_PD_62f94879-8740-418d-8f95-8c5a476563f5.jpg?v=1681406281"
}
window.mainImages = {
   "3xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_3pack.jpg?v=1681487089",
   "3xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_3pack.jpg?v=1681487089",
   "3xiPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_3pack.jpg?v=1681487089",
   "3xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_3pack.jpg?v=1681487089",
   "3xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_3pack.jpg?v=1681487089",
   "3xType-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_3pack.jpg?v=1681487089",
   "3xMicro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_3pack.jpg?v=1681487089",
   "3xMicro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_3pack.jpg?v=1681487089",
   "3xMicro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_3pack.jpg?v=1681487089",
   "iPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_1pack.jpg?v=1681487089",
   "iPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_1pack.jpg?v=1681487089",
   "iPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_1pack.jpg?v=1681487089",
   "Type-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_1pack.jpg?v=1681487088",
   "Type-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_1pack.jpg?v=1681487088",
   "Type-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_1pack.jpg?v=1681487088",
   "Micro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_1pack.jpg?v=1681487089",
   "Micro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_1pack.jpg?v=1681487089",
   "Micro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-microp-usb_1pack.jpg?v=1681487089",
   "2xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_2pack.jpg?v=1681487088",
   "2xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_2pack.jpg?v=1681487088",
   "2xiPhone/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-iphone_2pack.jpg?v=1681487088",
   "2xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_2pack.jpg?v=1681487088",
   "2xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_2pack.jpg?v=1681487088",
   "2xType-C/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-A-type-c_2pack.jpg?v=1681487088",
   "2xMicro-USB/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_cord_charger_decoy_2-pack_micro.jpg?v=1680171839",
   "2xMicro-USB/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_cord_charger_decoy_2-pack_micro.jpg?v=1680171839",
   "2xMicro-USB/10ft(3.0m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_cord_charger_decoy_2-pack_micro.jpg?v=1680171839",
   "pd-3xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_3pack.jpg?v=1681487088",
   "pd-3xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_3pack.jpg?v=1681487088",
   "pd-3xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_3pack.jpg?v=1681487088",
   "pd-3xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_3pack.jpg?v=1681487088",
   "pd-iPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_1pack.jpg?v=1681487088",
   "pd-iPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_1pack.jpg?v=1681487088",
   "pd-Type-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_1pack.jpg?v=1681487089",
   "pd-Type-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_1pack.jpg?v=1681487089",
   "pd-2xiPhone/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_2pack.jpg?v=1681487088",
   "pd-2xiPhone/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-IPHONE_2pack.jpg?v=1681487088",
   "pd-2xType-C/4ft(1.2m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_2pack.jpg?v=1681487088",
   "pd-2xType-C/6ft(1.8m)":"https://cdn.shopify.com/s/files/1/0071/1727/5191/files/titan_smart_cable_titan_power_plus_fast_charge_pd_cord_charger_Usb-C-TYPE-C_2pack.jpg?v=1681487088"
}
</script>
<script>
let removeFromDom = () => {
  let width = window.screen.availWidth
  console.log(width,'width')
  let elementMobile = document.getElementById('mobile-label')
  let elementDesktop = document.getElementById('desktop-label')
  console.log(width,elementMobile,elementDesktop,'width')
  if(width > 768) {
    elementMobile.remove()
  } else {
    elementDesktop.remove()
  }
}

removeFromDom()


</script>
{{ 'overridepdreverse.js' | asset_url | script_tag }}