{% assign product = all_products['5-x-titan-smart-cable™-black-friday-2'] %}
{% assign product2 = all_products['2-x-titan-smart-cable™-black-friday-1'] %}
{% assign product4 = all_products['4-x-titan-smart-cable™-black-friday-1'] %}
{% assign plug = all_products['titan-45w-nano-pd-plug™-1']%}
<section id="product-template tt" class="product-template titan-bg-black">
  <div class="container">
    <div class="product-template__wrapper f ais jcc">
        <div class="product-template__wrapper--image column-left">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img class="w-100" src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt }}">
        </div>
        <div class="product-template__wrapper--content column-right">
            <div class="product-template__wrapper--content__review js-section-scroll">
                <span class="product-template__wrapper--content__review--stars color-titan-green font-sans">★ ★ ★ ★ ★ </span>
                <span class="product-template__wrapper--content__review--mark font-sans color-white">4.7 </span>
                <span class="product-template__wrapper--content__review--number color-gray font-lato">(21956)</span>
            </div>
              <h1 class="h1 product-template__wrapper--content__title color-white">
                 "The only cable that you will ever need"
              </h1>
              {% comment %} <h2 class="product-template__wrapper--content__title color-white">
                  "The only cable that you will ever need"
              </h2> {% endcomment %}
              {% comment %} <div class="product-template__wrapper--content__offer font-sans">
                  Get our limited supply offer TODAY
              </div> {% endcomment %}
              <div class="product-template__wrapper--content__offerDiscount font-sans">
                  UP TO 70% OFF + FREE CABLE TODAY!
              </div>
              <div class="product-template__wrapper--content__features font-sans">
                  <div class="product-template__wrapper--content__features--name">New & Improved design</div>
                  <div class="product-template__wrapper--content__features--name">Unique 90° head</div>
                  <div class="product-template__wrapper--content__features--name">Now even faster</div>
              </div>
              <div class="product-template__wrapper--content__selection">
                  {% comment %} <div class="product-template__wrapper--content__selection">
                      Choose your LIMITED offer:
                  </div> {% endcomment %}
                  <div class="product-template__wrapper--content__selection--wrapper f aic jcb fw">
                      <div data-count="5x" data-id="{{product.id}}" data-product="5-x-titan-smart-cable%E2%84%A2-black-friday-2" class="active js-product-selector product-template__wrapper--content__selection--wrapper__single f">
                          {% comment %} <div class="decoy-image"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/5_x_decoy.jpg?v=1678267382"></div> {% endcomment %}
                          <div class="decoy-title">3x Pack</div>
                          <div class="decoy-content">
                            <div class="decoy-content__price">{{product.price | money }}</div>
                            <div class="crossed titan-red bold">{{product.compare_at_price | money }}</div>
                            <span class="product-template__wrapper--content__selection--wrapper__save">70% OFF<br><span class="free-cable">+ 1 FREE</span></span>
                          </div>
                      </div>
                      <div data-count="4x" data-id="{{product4.id}}" data-product="4-x-titan-smart-cable%E2%84%A2-black-friday-1" class="js-product-selector product-template__wrapper--content__selection--wrapper__single f">
                         {% comment %} <div class="decoy-image"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/4_x_decoy.jpg?v=1678267382"></div> {% endcomment %}
                         <div class="decoy-title">2x Pack</div>
                         <div class="decoy-content">
                          <div class="decoy-content__price">{{product4.price | money }}</div>
                          <div class="crossed titan-red bold">{{product4.compare_at_price | money }}</div>
                          <span class="product-template__wrapper--content__selection--wrapper__save">60% OFF</span>
                         </div>
                      </div>
                      <div data-count="2x" data-id="{{product2.id}}" data-product="2-x-titan-smart-cable%E2%84%A2-black-friday-1" class="js-product-selector product-template__wrapper--content__selection--wrapper__single f">
                          {% comment %} <div class="decoy-image"><img src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/2_x_decoy.jpg?v=1678267382"></div> {% endcomment %}
                          <div class="decoy-title">1x Pack</div>
                          <div class="decoy-content">
                          <div class="decoy-content__price">{{product2.price | money }}</div>
                            <div class="crossed titan-red bold">{{product2.compare_at_price | money }}</div>
                            <span class="product-template__wrapper--content__selection--wrapper__save">50% OFF</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="product-template__wrapper--content__selection small-top">
                  {% comment %} <div class="product-template__wrapper--content__selection">
                      Choose your phone type:
                  </div> {% endcomment %}
                  <div class="product-template__wrapper--content__selection--wrapper f aic jcb small-top fw">
                      <div data-type="iPhone" class="active js-type-selector product-template__wrapper--content__selection--wrapper__single">
                          {% comment %} <div><img class="phone-icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TP_iphone_to_Type_A.png?v=1678267382"></div> {% endcomment %}
                          <div>IPhone</div>
                      </div>
                      <div data-type="Type-C" class="js-type-selector product-template__wrapper--content__selection--wrapper__single">
                          {% comment %} <div><img class="phone-icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TP_Type-C_to_Type_A.png?v=1678267382"></div> {% endcomment %}
                          <div>Type-C</div>
                      </div>
                      <div data-type="Micro-USB" class="js-type-selector product-template__wrapper--content__selection--wrapper__single">
                      {% comment %} <div><img class="phone-icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/TP_Micro-USB_to_Type_A.png?v=1678267382"></div> {% endcomment %}
                          <div>Micro Usb</div>
                      </div>
                  </div>
              </div>
              <div class="product-template__wrapper--content__selection">
                  {% comment %} <div class="product-template__wrapper--content__selection">
                      Choose your cable length:
                  </div> {% endcomment %}
                  <div class="product-template__wrapper--content__selection--wrapper f aic jcb small-top fw">
                      <div data-length="10ft(3.0m)" class="js-length-selector product-template__wrapper--content__selection--wrapper__single">
                        3.0m
                      </div>
                      <div data-length="6ft(1.8m)" class="js-length-selector product-template__wrapper--content__selection--wrapper__single">
                        1.8m
                      </div>
                      <div data-length="4ft(1.2m)" class="active js-length-selector product-template__wrapper--content__selection--wrapper__single">
                        1.2m
                      </div>
                  </div>
              </div>
              <div class="product-template__wrapper--content__add">
                  {% comment %} <div class="product-template__wrapper--content__selection">
                          Bundle Up and Save another 50%
                  </div> {% endcomment %}
                  <div data-addon="{{plug.first_available_variant.id}}" class="f jcb aic product-template__wrapper--content__add--colored js-add">
                    <div class="product-template__wrapper--content__add--title font-bold">ADD TITAN PD PLUG <br>{{plug.price | money }} <span class="crossed titan-red">{{plug.compare_at_price | money }}</span></div>
                    <div class="product-template__wrapper--content__add--image">
                        {% assign featured_image_plug = plug.selected_or_first_available_variant.featured_image | default: plug.featured_image %}
                        <img class="w-100" src="{{ featured_image_plug | img_url: 'master' }}" alt="{{ featured_image_plug.alt }}">
                    </div>
                  </div>
              </div>
              <div class="product-template__wrapper--content__form--atc">
                  <button class="js-atc f aic jcc w100 bg-titan-green font-sans btn--add-to-cart color-white">
                    <span id="addToCartText-{{ section.id }}">ADD TO CART - <span class="js-price"></span> <span class="js-crossed-price titan-red"></span></span>
                  </button>
              </div>
              <div class="product-template__icons">
                  <div class="product-template__icons--item">
                      <img class="product-template__icons--item__icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-deliver-food-50_256x256_crop_center.png?v=1677604414" alt="">
                      <span>Free Delivery</span>
                  </div>
                  <div class="product-template__icons--item">
                      <img style="margin-top:0" class="product-template__icons--item__icon" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-ecommerce-warranty-64_256x256_crop_center.png?v=1677604692" alt="">
                      <span>Lifetime Warranty</span>
                  </div>
              </div>   
              <div class="product-template__info">
                  <img class="product-template__info--svg" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/icons8-light-on-100_256x256_crop_center.png?v=1677605481" alt="">
                  <div>
                      <p>This cable takes an incredible 1,500 lbs of force to break! Whilst allowing charging up to 2.4x faster!</p>
                  </div>
              </div>    
        </div>
    </div>
  </div>
</section>
<script>
window.products = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.id }}',
    {% endfor %}
}
window.prices = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.price | money}}',
    {% endfor %}
}
window.comparePrices = {
   {% for variant in product.variants %}
      '{{ variant.title | remove:" "}}' : '{{ variant.compare_at_price | money }}',
    {% endfor %}
    {% for variant in product2.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money }}',
    {% endfor %}
    {% for variant in product4.variants %}
      '{{ variant.title | remove:" " }}' : '{{ variant.compare_at_price | money}}',
    {% endfor %}
}
</script>
{% schema %}
{
  "name": "Product Template",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Product Template",
      "category": "Home Page"
    }
  ]
}
{% endschema %}