{{ 'section-product-zig.css' | asset_url | stylesheet_tag }}
<div class="product-zig-icons">
    <div class="small-container">
        <div class="product-zig-icons__wrapper f jcb ais fw">
        {% for block in section.blocks %}
            {% if block.type == 'icon'%}
            <div class="product-zig-icons__wrapper--icon">
                <img src="{{block.settings.icon | img_url:'master' }}">
                <div class="product-zig-icons__wrapper--icon__title">{{block.settings.icon_text}}</div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="product-zig">
    <div class="big-container">
        <div class="product-zig__bigtitle color-black">WHY CHOOSE<div class="color-titan-green">TITAN SMART CABLE?</div></div>
        {% for block in section.blocks %}
            {% if block.type == 'block'%}
            <div class="jcb small-container product-zig__single f aic {% if block.settings.reverse %}reverse {% endif %}">
                <div class="product-zig__single--content">
                    <div class="product-zig__single--content__number color-titan-green">{{forloop.index}}.</div>
                    <div class="product-zig__single--content__uptitle color-titan-green">{{block.settings.uptitle}}</div>
                    <div class="product-zig__single--content__title color-black">{{block.settings.title}}</div>
                    <div class="product-zig__single--content__text color-black">{{block.settings.text}}</div>
                </div>
                <div class="product-zig__single--image">
                      <img src="{{block.settings.image | img_url:'master'}}">
                </div>
                <div class="product-zig__single--image product-zig__single--image__mobile">
                    <img src="{{block.settings.mobile_image | img_url:'master'}}">
                </div>
            </div>
            {% endif %}
        {% endfor %}

         
    </div>
    <div class="product-template__wrapper--content__form--atc product-image__button">
        <button class="js-atc-scroll f aic jcc w100 bg-titan-green font-sans btn--add-to-cart color-white">
        <span id="addToCartText-{{ section.id }}">ADD TO CART</span>
        </button>
    </div>
</div>
{% schema %}
{
  "name": "Product Zig",
  "settings": [],
  "blocks": [
    {
      "type": "block",
      "name": "Add block",
      "settings": [
        {
            "type":"checkbox",
            "id": "reverse",
            "default": false,
            "label": "reverse"
        },
        {
          "type": "image_picker",
          "id": "image",
          "info": "Choose Image",
          "label":"Choose Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "info": "Choose Mobile Image",
          "label":"Choose Mobile Image"
        },
        {
          "type": "text",
          "id": "uptitle",
          "info": "Up Title",
          "label":"Up Title"
        },
        {
          "type": "text",
          "id": "title",
          "info": "Title",
          "label":"Title"
        },
        {
          "type": "text",
          "id": "text",
          "info": "Text",
          "label":"Text"
        }
      ]
    },
    {
      "type": "icon",
      "name": "Add icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "info": "Choose Image",
          "label":"Choose Image"
        },
        {
          "type": "text",
          "id": "icon_text",
          "info": "Title",
          "label":"Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Zig",
      "category": "Home Page"
    }
  ]
}
{% endschema %}