<div class="scroll-bar bg-black py-[10px]">
    <div class="text-[22px] color-white text-center bold title">{{ section.settings.title }}</div>
    <div class="scroll-bar-icons flex max-w-[450px] mx-auto gap-[20px] px-[20px] md:px-0">
      {% for block in section.blocks %}
      <div class="scroll-bar-icons__single js-scroll-{{ forloop.index }} cursor-pointer">
        <div class="scroll-bar-icons__single--image">
            <img class="mx-auto mb-[5px]" width="100%" height="auto" src="{{block.settings.icon_image | img_url:'master'}}">
        </div>
        <div class="scroll-bar-icons__single--title color-white text-center text-[16px] bold">
            {{block.settings.icons_title}}
        </div>
      </div>
      <script>
        $('.js-scroll-{{ forloop.index }}').on('click', function (e) {
          e.preventDefault()
          const $section = $('{{block.settings.scroll_to}}')

          $('html, body').animate({
            scrollTop: $section.offset().top - 100 + 'px'
          }, 1000)
        })
    </script>
      {% endfor %}
    </div>
  </div>
  <style>
    .scroll-bar.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999999999;
    }
    .scroll-bar.fixed .title {
      display:none;
    }
  </style>
  <script>
    const distancescrollbar = $('.scroll-bar').offset().top
        $(window).scroll(function () {
          const top_of_element = $('#shopify-section-footer').offset().top
          const bottom_of_element = $('#shopify-section-footer').offset().top + $('#shopify-section-footer').outerHeight()
          const bottom_of_screen = $(window).scrollTop() + $(window).innerHeight()
          const top_of_screen = $(window).scrollTop()
          if (!(bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element) && $(this).scrollTop() >= distancescrollbar) {
            $('.scroll-bar').addClass('fixed')
          } else {
            $('.scroll-bar').removeClass('fixed')
          }
        })
  </script>

  {% schema %}
{
    "name": "Scroll Bar",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Jump to offers:"
        }
    ],
    "blocks": [
      {
        "type": "upsell_product_repeater",
        "name": "Icon",
        "settings": [
          {
            "type": "text",
            "id": "icons_title",
            "label": "Icons title"
          },
          {
            "type": "image_picker",
            "id": "icon_image",
            "label": "Icon image"
          },
          {
            "type": "text",
            "id": "scroll_to",
            "label": "Scroll To"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Scroll Bar"
      }
    ]
  }

{% endschema %}