{{ 'section-pdp-hero.css' | asset_url | stylesheet_tag }}

{% liquid
  comment
    Section Variables
  endcomment
  assign logoImage = section.settings.logo_image
  assign productSubtitle = section.settings.product_subtitle
  assign atcLabel = section.settings.atc_label
  assign discountContent = section.settings.discount_content
  assign extraAttachment = section.settings.extra_attachment
  assign extraAttachmentImage = section.settings.extra_attachment_image

  comment
    Blocks
  endcomment
  assign iconsRepeater = section.blocks | where: 'type', 'icons'
  assign propsRepeater = section.blocks | where: 'type', 'props'
%}
{% assign product = all_products[section.settings.product] %}

<section id="section-pdp-hero" class="section-pdp-hero">
  <div class="content-wrapper">
    <div class="pdp-hero__container items-center">
      {% comment %} Gallery {% endcomment %}
      <div class="pdp-hero__gallery">
        {% if logoImage %}
          <figure class="pdp-hero__gallery-logo">{% render 'titan-image', image: logoImage %}</figure>
        {% endif %}
        {%- comment -%} MAIN IMAGE {%- endcomment -%}
        <div class="pdp-hero__gallery-main swiper-main swiper">
          <div class="swiper-wrapper">
            {% for image in product.images limit: 4 %}
              <div class="swiper-slide">
                <figure class="pdp-hero__gallery-main-image relative">
                  {% render 'titan-image', image: image %}
                </figure>
              </div>
            {% endfor %}
          </div>
          {% if iconsRepeater.size > 0 %}
            <div class="pdp-hero__icons">
              {% for block in iconsRepeater %}
                {% assign iconImage = block.settings.pdp_hero_icon %}
                {% assign iconText = block.settings.pdp_hero_icon_text %}

                <div class="pdp-hero__icon-container">
                  {% render 'titan-image', image: iconImage %}
                  {% if iconText != blank %}
                    <span class="pdp-hero__icon-text">{{ iconText }}</span>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {%- comment -%} THUMBS {%- endcomment -%}
        {% if product.images.size > 1 %}
          <div class="pdp-hero__gallery-thumbs swiper-thumbs swiper">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  <figure class="pdp-hero__gallery-thumb">
                    {% render 'titan-image', image: image %}
                  </figure>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>

      {% comment %} Product info {% endcomment %}
      <div class="pdp-hero__product-info">
        <div class="pdp-hero__heading">
          <h2 class="pdp-hero__product-title !text-[#2f4534]">{{ product.title }}</h2>

          {% if productSubtitle != blank %}
            <h3 class="pdp-hero__product-subtitle">{{ productSubtitle }}</h3>
          {% endif %}
        </div>

        <div class="pdp-hero__pricing-wrapper">
          <div class="pdp-hero__pricing product__list--single--price color-white">
            <span class="pdp-hero__pricing-price !text-[#2f4534]">{{ product.price | money_with_currency }}</span>
            <span class="crossed">{{ product.compare_at_price | money_with_currency }}</span>

            {% if discountContent != blank %}
              <div class="pdp-hero__discount out-of-stock">{{ discountContent }}</div>
            {% endif %}
          </div>

          <div class="pdp-hero__price-diff out-of-stock">
            {% assign difference = product.compare_at_price | minus: product.price %}
            {{ difference | money_with_currency }} SAVED
          </div>
        </div>

        <div class="pdp-hero__extra-add out-of-stock">
          <input type="checkbox" id="pdp-hero__checkbox">
          <div class="pdp-hero__extra-checkbox">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0,0,256,256">
              <g fill="#60c655" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41.9375,8.625c-0.66406,0.02344 -1.27344,0.375 -1.625,0.9375l-18.8125,28.78125l-12.1875,-10.53125c-0.52344,-0.54297 -1.30859,-0.74609 -2.03125,-0.51953c-0.71875,0.22266 -1.25391,0.83203 -1.37891,1.57422c-0.125,0.74609 0.17578,1.49609 0.78516,1.94531l13.9375,12.0625c0.4375,0.37109 1.01563,0.53516 1.58203,0.45313c0.57031,-0.08594 1.07422,-0.41016 1.38672,-0.89062l20.09375,-30.6875c0.42969,-0.62891 0.46484,-1.44141 0.09375,-2.10547c-0.37109,-0.66016 -1.08594,-1.05469 -1.84375,-1.01953z"></path></g></g>
            </svg>
          </div>
          <p class="pdp-hero__extra-text">{{ extraAttachment }}</p>

          {% if extraAttachmentImage %}
            {% render 'titan-image', image: extraAttachmentImage %}
          {% endif %}
        </div>

        {% if product.description != blank %}
          <div class="pdp-hero__product-description">
            <div class="pdp-hero__product-description-wrapper">
              {{ product.description }}
            </div>
            <p class="pdp-hero__description-collapse !text-[#2f4534]">Learn More</p>
          </div>
        {% endif %}

        {% comment %} ADD TO CART BUTTON {% endcomment %}
        <div class="pdp-hero__atc-wrapper">
          <div
            id="btn1"
            data-product="{{ product.selected_or_first_available_variant.id }}"
            data-quantity="1"
            class="mt-[20px] js-atc product__list--single--atc pdp-hero__atc !bg-[#2f4534] text-white font-bold py-3 px-6 rounded-full hover:bg-green-800 text-[24px] bold"
          >
            ADD TO CART
          </div>
          {% if atcLabel != blank %}
            <p class="pdp-hero__atc-label">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M44,24c0,11.045 -8.955,20 -20,20c-11.045,0 -20,-8.955 -20,-20c0,-11.045 8.955,-20 20,-20c11.045,0 20,8.955 20,20z" fill="#ffffff"></path><path d="M34.586,14.586l-13.57,13.586l-5.602,-5.586l-2.828,2.828l8.434,8.414l16.395,-16.414z" fill="#60c655"></path></g></g>
              </svg>
              {{ atcLabel }}
            </p>
          {% endif %}
        </div>

        {% if propsRepeater.size > 0 %}
          <div class="pdp-hero__props">
            {% for block in propsRepeater %}
              {% assign propText = block.settings.prop_text %}
              {% assign propIcon = block.settings.prop_icon %}
              {% assign propDescription = block.settings.prop_description %}

              <div class="pdp-hero__prop">
                <div
                  class="pdp-hero__prop-header"
                  {% if propDescription != blank %}
                    style="cursor: pointer;"
                  {% endif %}
                >
                  <div class="pdp-hero__prop-text">{{ propText }}</div>
                  <div class="pdp-hero__prop-icon">{{ propIcon }}</div>
                </div>
                {% if propDescription != blank %}
                  <div class="pdp-hero__prop-description">{{ propDescription }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<div class="atc-fixed">
  <div class="atc-fixed__container">
      <div class="buds-product__inner--content__subtitle">
        Titan Smart Buds™  - {{product.price | money }}
      </div>
      <div
        id="btn2"
        class="max-content mt-[20px] js-atc product__list--single--atc pdp-hero__atc !bg-[#2f4534] text-white font-bold py-3 px-6 rounded-full hover:bg-green-800 text-[24px] bold">
              ADD TO CART
      </div>
  </div>
</div>
<script src="{{ 'section-pdp-hero.js' | asset_url }}" defer="defer"></script>
<style>

.atc-fixed .buds-product__inner--content__subtitle {
  font-weight: 400;
  font-family: Work Sans, sans-serif;
  color: black;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 0;
}
.atc-fixed {
  background: #fff;
  position: fixed;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in;
  border-top: 1px solid rgb(229, 229, 229);
  background-color: #fafafa;
}
.atc-fixed.show {
  visibility: visible;
  opacity: 1;
  transition: all .3s ease-in;
}
  .out-of-stock {
    position:absolute;
    left:-10000px;
  }
  .pdp-hero__heading {
    margin-bottom: 0;
  }
  .pdp-hero__pricing-wrapper {
    margin-bottom: 10px;
  }
  .section-pdp-hero {
    background:white;
  }
  .max-content {
    width:40%;
    height: 70px !important;
  }
  .atc-fixed__container {
    margin: 0 auto;
    padding: 20px 36px;
    background: #fafafa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 9px #474747;
    background-color: #fff;
    background-image: linear-gradient(to right, #d6e1e1, #fff);
}
@media screen and (max-width: 768px) {
  .atc-fixed__container {
    display: flex;
    flex-wrap: wrap;
  }
  .atc-fixed .buds-product__inner--content__subtitle {
    width:100%;
    text-align:center;
  }
  .max-content {
    width: 100%;
    font-size: 18px;
    height: 40px !important;
  }
}
</style>
<script>
  const distance = $('.scroll-reveal').offset().top
  $(window).scroll(function () {
    const top_of_element = $('#shopify-section-footer').offset().top
    const bottom_of_element = $('#shopify-section-footer').offset().top + $('#shopify-section-footer').outerHeight()
    const bottom_of_screen = $(window).scrollTop() + $(window).innerHeight()
    const top_of_screen = $(window).scrollTop()
    if (!(bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element) && $(this).scrollTop() >= distance) {
      $('.atc-fixed').addClass('show')
    } else {
      $('.atc-fixed').removeClass('show')
    }
  })
  document.getElementById("btn2").addEventListener("click", function() {
    document.getElementById("btn1").click();
  });
</script>
{% schema %}
{
  "name": "PDP Hero",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo upload"
    },
    {
      "type": "text",
      "id": "product_subtitle",
      "label": "Product subtitle"
    },
    {
      "type": "text",
      "id": "discount_content",
      "label": "Discount content",
      "default": "36% OFF"
    },
    {
      "type": "textarea",
      "id": "extra_attachment",
      "label": "Extra attachment text"
    },
    {
      "type": "image_picker",
      "id": "extra_attachment_image",
      "label": "Extra attachment image"
    },
    {
      "type": "text",
      "id": "atc_label",
      "label": "ATC button label",
      "default": "96% OF the reviews for this item are positive"
    }
  ],
  "blocks": [
    {
      "type": "props",
      "name": "Prop",
      "settings": [
        {
          "type": "text",
          "id": "prop_text",
          "label": "Prop text"
        },
        {
          "type": "richtext",
          "id": "prop_description",
          "label": "Prop description"
        },
        {
          "type": "textarea",
          "id": "prop_icon",
          "label": "Prop icon"
        }
      ]
    },
    {
      "type": "icons",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "pdp_hero_icon",
          "label": "Gallery icon"
        },
        {
          "type": "text",
          "id": "pdp_hero_icon_text",
          "label": "Gallery icon label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PDP Hero STARI"
    }
  ]
}
{% endschema %}
