
{{ 'section-explore.css' | asset_url | stylesheet_tag }}
{% comment %} <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> {% endcomment %}

{% if page.handle == 'test-sections' %}
  <script src="https://cdn.tailwindcss.com"></script>
{% endif %}


{% liquid
    assign section_title = section.settings.section_title
    assign first_collection_label = section.settings.first_collection_label
    assign second_collection_label = section.settings.second_collection_label
    assign first_collection = section.settings.first_collection
    assign second_collection = section.settings.second_collection
%}

<section class="mt-[-1px] section-explore pt-[5px] md:pt-[10px] md:pb-[50px] pb-[50px] py-[20px] {% if section.settings.narrow_version %}bg-[#141414]{% else %}bg-black{% endif %}">
  <div class="section-explore__wrapper px-[24px] {% if section.settings.narrow_version %}narrow{% endif %}">
      {% if section.settings.explore_top_image %}
        <div class="explore-top-image md:max-w-[50%] mx-auto md:mb-[0px] mb-[20px]">
          <img width="100" height="auto" loading="lazy" src="{{ section.settings.explore_top_image | img_url:'master' }}" alt="explore-top-image" class="w-full h-full object-cover"/>
        </div>
      {% endif %}
      {% if section_title != blank %}
          <h2 class="mb-[30px] text-center text-white text-[54px] font-[600] md:text-[54px] explore-title" data-aos="fade-in" data-aos-duration="1000">{{ section_title }}</h2>
      {% endif %}

      <div class="section-explore__product-content relative h-[350px] w-full mx-auto hidden lg:!block">
        {% for product in collections[first_collection].products limit: 4 %}
          <div class="md:p-[15px] absolute left-0 top-0 w-full h-full flex {% if forloop.first %} opacity-1 {% else %} opacity-0 {% endif %}" data-product="for-desktop-{{ forloop.index }}">
           <div class="section-explore__product-info flex flex-col justify-center gap-[20px] text-right min-w-[226px] max-w-[226px]">
              <div class="relative mb-[50px] pr-[20px]">
                {% if product.metafields.custom.info_title_one != blank %}
                  <h3>{{ product.metafields.custom.info_title_one }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_one != blank %}
                  <p>{{ product.metafields.custom.info_text_one }}</p>
                {% endif %}
                {% if product.metafields.custom.info_title_one != blank or product.metafields.custom.info_text_one != blank %}
                  <div class="h-full flex items-center absolute right-0 top-[50%] z-[5] translate-y-[-50%]">
                    <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                    <div class="h-[1px] bg-white !block absolute left-0 animate-line"></div>
                  </div>
                {% endif %}
              </div>
              <div class="relative pr-[20px]">
                {% if product.metafields.custom.info_title_two != blank %}
                  <h3>{{ product.metafields.custom.info_title_two }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_two != blank %}
                  <p>{{ product.metafields.custom.info_text_two }}</p>
                {% endif %}
                {% if product.metafields.custom.info_title_two != blank or  product.metafields.custom.info_text_two != blank %}
                  <div class="h-full flex items-center absolute right-0 top-[50%] z-[5] translate-y-[-50%]">
                    <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                    <div class="h-[1px] bg-white !block absolute left-0 animate-line"></div>
                  </div>
                {% endif %}
              </div>
           </div>

            <figure class="h-full w-[600px] mx-auto">
              {% if product.metafields.custom.custom_product_image_hover %}
                <img src="{{ product.metafields.custom.custom_product_image_hover | img_url: 'master' }}" loading="lazy" alt="{{product.featured_image.alt}}" height="350" width="1280" class="h-full w-full object-contain"/>
              {% else %}
                <img src="{{ product.metafields.custom.custom_product_image | img_url: 'master' }}" loading="lazy" alt="{{product.featured_image.alt}}" height="350" width="1280" class="h-full w-full object-contain"/>
              {% endif %}
            </figure>

            <div class="section-explore__product-info flex flex-col justify-center text-left min-w-[226px] max-w-[226px]">
              <div class="relative mb-[30px] pl-[20px]">
                {% if product.metafields.custom.info_title_three != blank %}
                  <h3> {{ product.metafields.custom.info_title_three }}</h3>
                {% endif %}
                {% if  product.metafields.custom.info_text_three != blank %}
                  <p> {{ product.metafields.custom.info_text_three }}</p>
                {% endif %}
                {% if product.metafields.custom.info_title_three != blank or  product.metafields.custom.info_text_three != blank %}
                  <div class="h-full flex items-center absolute left-0 top-[50%] z-[5] translate-y-[-50%]">
                    <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                    <div class="h-[1px] bg-white !block absolute right-0 animate-line"></div>
                  </div>
                {% endif %}
              </div>
              <div class="relative pl-[20px]">
                {% if  product.metafields.custom.info_title_four != blank %}
                  <h3> {{ product.metafields.custom.info_title_four }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_four != blank %}
                  <p> {{ product.metafields.custom.info_text_four }}</p>
                {% endif %}
                {% if product.metafields.custom.info_title_four != blank or  product.metafields.custom.info_text_four != blank %}
                  <div class="h-full flex items-center absolute left-0 top-[50%] z-[5] translate-y-[-50%]">
                    <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                    <div class="h-[1px] bg-white !block absolute right-0 animate-line"></div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

        {% for product in collections[second_collection].products limit: 4 %}
          <div class="absolute left-0 top-0 w-full h-full flex opacity-0" data-product="for-travel-{{ forloop.index }}">
           <div class="section-explore__product-info flex flex-col justify-center text-right min-w-[226px] max-w-[226px]">
              <div class="relative mb-[50px] pr-[20px]">
                {% if product.metafields.custom.info_title_one != blank %}
                  <h3>{{ product.metafields.custom.info_title_one }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_one != blank %}
                  <p>{{ product.metafields.custom.info_text_one }}</p>
                {% endif %}
                {% if product.metafields.custom.info_title_one != blank or product.metafields.custom.info_text_one != blank %}
                  <div class="h-full flex items-center absolute right-0 top-[50%] z-[5] translate-y-[-50%]">
                   <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                   <div class="h-[1px] bg-white !block absolute left-0 animate-line"></div>
                 </div>
                {% endif %}
              </div>
              <div class="relative pr-[20px]">
                {% if product.metafields.custom.info_title_two != blank %}
                  <h3>{{ product.metafields.custom.info_title_two }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_two != blank %}
                  <p>{{ product.metafields.custom.info_text_two }}</p>
                {% endif %}

                {% if product.metafields.custom.info_title_two != blank or  product.metafields.custom.info_text_two  != blank %}
                  <div class="h-full flex items-center absolute right-0 top-[50%] z-[5] translate-y-[-50%]">
                   <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                   <div class="h-[1px] bg-white !block absolute left-0 animate-line"></div>
                 </div>
                {% endif %}
              </div>
           </div>

            <figure class="h-full w-[600px] mx-auto">
              <img src="{{ product.metafields.custom.custom_product_image | img_url: 'master' }}" alt="{{product.featured_image.alt}}" height="350" width="1280" class="h-full w-full object-contain"/>
            </figure>

            <div class="section-explore__product-info flex flex-col justify-center text-left min-w-[226px] max-w-[226px]">
              <div class="relative mb-[30px] pl-[20px]">
                {% if product.metafields.custom.info_title_three != blank %}
                  <h3> {{ product.metafields.custom.info_title_three }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_three != blank %}
                  <p> {{ product.metafields.custom.info_text_three }}</p>
                {% endif %}
                 <div class="h-full flex items-center absolute left-0 top-[50%] z-[5] translate-y-[-50%]">
                  <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                  <div class="h-[1px] bg-white !block absolute right-0 animate-line"></div>
                </div>
              </div>
              <div class="relative pl-[20px]">
                {% if product.metafields.custom.info_title_four != blank %}
                  <h3> {{ product.metafields.custom.info_title_four }}</h3>
                {% endif %}
                {% if product.metafields.custom.info_text_four != blank %}
                  <p> {{ product.metafields.custom.info_text_four }}</p>
                {% endif %}
                 <div class="h-full flex items-center absolute left-0 top-[50%] z-[5] translate-y-[-50%]">
                  <div class="animated-border h-full w-[1px] bg-white !block absolute"></div>
                  <div class="h-[1px] bg-white !block absolute right-0 animate-line"></div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="section-explore__collections flex flex-col justify-center gap-[30px]">
        {% if first_collection != blank %}
          <div class="w-full lg:flex lg:flex-col">
            {% if first_collection_label != blank %}
              <h3 class="section-explore__collection-label section-explore__collection-label-desktop mb-[12px] text-center text-[21px] text-[#fff] font-medium active">
                  {{ first_collection_label }}
              </h3>
            {% endif %}
              <div class="section-explore__products flex w-full justify-center flex-wrap gap-[10px]{% if second_collection == blank %} section-explore__products--single{% endif %}">
                {% for product in collections[first_collection].products limit: 4 %}
                  {% assign product_description = product.metafields.custom.product_description | metafield_tag %}
                  {% assign upsell_product_one = product.metafields.custom.first_upsell_product %}
                  {% assign upsell_product_two = product.metafields.custom.second_upsell_product %}

                    <div class="section-explore__product relative pt-[14px] bg-[#fff] px-[10px] pb-[10px] max-w-[48%]" data-product-hover="for-desktop-{{ forloop.index }}">
                      <div {% if section.settings.narrow_version %}class="lg:max-w-[70%] lg:ml-[15%]"{% endif %}>
                        <div class="product-image h-[150px] overflow-hidden pt-[100%] relative rounded-[10px]">
                          {% if product.metafields.custom.custom_product_image %}
                            <img class="object-cover w-full h-full absolute top-0 left-0" loading="lazy" src="{{ product.metafields.custom.custom_product_image | img_url: 'master' }}" alt="{{product.featured_image.alt}}" height="130" width="160"/>
                          {% else %}
                            <img class="object-cover w-full h-full absolute top-0 left-0" loading="lazy" src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{product.featured_image.alt}}" height="130" width="160"/>
                          {% endif %}
                        </div>
                        {% unless product.metafields.custom.hide_details  %}
                          <h4 class="my-[10px] px-[5px] text-[12px] font-[600] line-clamp-2 min-h-[29px] text-[#000] text-center">
                            {{ product.title }}
                          </h4>
                         <div class="mb-[12px] price-wrapper">
                            <p class="product-price text-black font-[600] leading-[1] text-[16px] text-[18px] px-[5px]">{{ product.price | money }}</p>
                            <span class="product-price--compared crossed text-[12px] font-[500] leading-[1] text-[#86868B]">{{ product.compare_at_price | money }}</span>
                         </div>
                        {% endunless %}
                      </div>
                      {% if product.metafields.custom.custom_url %}
                        <a href="{{ product.metafields.custom.custom_url }}" class="flex items-center justify-center section-explore__buy-now z-[4] mx-auto min-w-0 px-[20px] h-[40px] w-full bg-[#60c655] text-white md:max-w-[100%] md:max-w-[70%] text-[16px] rounded-[10px] mt-[12px] text-bold">GET OFFER</a>
                      {% else %}
                        <button class="section-explore__buy-now js-section-explore__buy-now relative z-[4] mx-auto min-w-0 px-[20px] h-[28px] w-full bg-[#60c655] text-white max-w-[80%] text-[14px] rounded-[10px] mt-[12px]">BUY NOW</button>
                      {% endif %}
                      {% if product.metafields.custom.custom_url != blank %}
                        <a href="{{ product.metafields.custom.custom_url }}" class="absolute !block w-full h-full top-0 left-0 z-[3]" aria-hidden="true"></a>
                      {% else %}
                        <a href="{{ product.url }}" class="absolute !block w-full h-full top-0 left-0 z-[3]" aria-hidden="true"></a>
                      {% endif %}
                      {% if product.compare_at_price %}
                        <div class="discount-label absolute top-[14px] left-[10px] bg-[#60c655] text-white text-[12px] font-bold px-[10px] py-[2px]">
                          {% assign productdifference = product.compare_at_price | minus: product.price %}
                          {% assign divider = product.compare_at_price | times: 1.0 %}
                          {% assign percentage = productdifference | divided_by:  divider %}
                          {{ percentage | times: 100 | round }}% OFF
                        </div>
                      {% endif %}
                    </div>

                    {% render 'buy-now-popup'  product_image: product.featured_image price: product.price compare_at_price: product.compare_at_price title: product.title
                       upsell_product_one: product.metafields.custom.first_upsell_product
                       description: product_description upsell_product_one:
                       upsell_product_one upsell_product_two: upsell_product_two
                       product_id: product.selected_or_first_available_variant.id
                       quantity: '1'
                    %}

                {% endfor %}
              </div>
          </div>
        {% endif %}

        {% if second_collection != blank %}
          <div class="w-full">
            {% if second_collection_label != blank %}
              <h3 class="section-explore__collection-label section-explore__collection-label-travel mb-[12px] text-center text-[21px] text-[#fff] font-medium">
                {{ second_collection_label }}
              </h3>
            {% endif %}
              <div class="flex w-full justify-center flex-wrap gap-[10px]">
              {% for product in collections[second_collection].products limit: 4 %}
                {% assign product_description = product.metafields.custom.product_description | metafield_tag %}
                {% assign upsell_product_one = product.metafields.custom.first_upsell_product %}
                {% assign upsell_product_two = product.metafields.custom.second_upsell_product %}

                  <div class="section-explore__product relative pt-[14px] bg-[#fff] px-[10px] pb-[10px] max-w-[48%]" data-product-hover="for-travel-{{ forloop.index }}">
                    <div {% if section.settings.narrow_version %}class="lg:max-w-[70%] lg:ml-[15%]"{% endif %}>
                      <div class="product-image h-[150px] overflow-hidden pt-[100%] relative rounded-[10px]">
                        {% if product.metafields.custom.custom_product_image %}
                          <img class="object-cover w-full h-full absolute top-0 left-0" loading="lazy" src="{{ product.metafields.custom.custom_product_image | img_url: 'master' }}" alt="{{product.featured_image.alt}}" height="130" width="160"/>
                        {% else %}
                          <img class="object-cover w-full h-full absolute top-0 left-0" loading="lazy" src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{product.featured_image.alt}}" height="130" width="160"/>
                        {% endif %}
                      </div>
                      {% unless product.metafields.custom.hide_details  %}
                        <h4 class="my-[10px] px-[5px] text-[12px] font-[600] line-clamp-2 min-h-[29px] text-[#000] text-center">
                          {{ product.title }}
                        </h4>
                       <div class="mb-[12px] price-wrapper">
                          <p class="product-price text-black font-[600] leading-[1] text-[16px] text-[18px] px-[5px]">{{ product.price | money }}</p>
                          <span class="product-price--compared crossed text-[12px] font-[500] leading-[1] text-[#86868B]">{{ product.compare_at_price | money }}</span>
                       </div>
                      {% endunless %}
                    </div>
                    {% if product.metafields.custom.custom_url %}
                      <a href="{{ product.metafields.custom.custom_url }}" class="flex items-center justify-center section-explore__buy-now z-[4] mx-auto min-w-0 px-[20px] h-[40px] w-full bg-[#60c655] text-white md:max-w-[100%] md:max-w-[70%] text-[16px] rounded-[10px] mt-[12px] text-bold">GET OFFER</a>
                    {% else %}
                      <button class="section-explore__buy-now js-section-explore__buy-now relative z-[4] mx-auto min-w-0 px-[20px] h-[28px] w-full bg-[#60c655] text-white max-w-[80%] text-[14px] rounded-[10px] mt-[12px]">BUY NOW</button>
                    {% endif %}
                    {% if product.metafields.custom.custom_url != blank %}
                      <a href="{{ product.metafields.custom.custom_url }}" class="absolute !block w-full h-full top-0 left-0 z-[3]" aria-hidden="true"></a>
                    {% else %}
                      <a href="{{ product.url }}" class="absolute !block w-full h-full top-0 left-0 z-[3]" aria-hidden="true"></a>
                    {% endif %}
                    {% if product.compare_at_price %}
                      <div class="discount-label absolute top-[14px] left-[10px] bg-[#60c655] text-white text-[12px] font-bold px-[10px] py-[2px]">
                        {% assign productdifference = product.compare_at_price | minus: product.price %}
                        {% assign divider = product.compare_at_price | times: 1.0 %}
                        {% assign percentage = productdifference | divided_by:  divider %}
                        {{ percentage | times: 100 | round }}% OFF
                      </div>
                    {% endif %}
                  </div>
                  {% render 'buy-now-popup'  product_image: product.featured_image price: product.price compare_at_price: product.compare_at_price title: product.title
                    upsell_product_one: product.metafields.custom.first_upsell_product
                    description: product_description upsell_product_one:
                    upsell_product_one upsell_product_two: upsell_product_two
                    product_id: product.selected_or_first_available_variant.id
                    quantity: '1'
                 %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
  </div>
</section>

{% comment %} <script>
  AOS.init();
  document.addEventListener("shopify:section:load", () => {
    AOS.init();
  })
</script> {% endcomment %}
<script src="{{ 'section-explore.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Explore the lineup",
  "settings": [
    {
      "type": "checkbox",
      "label": "Narrow version",
      "id": "narrow_version",
      "default": true
    },
    {
      "type": "text",
      "label": "Section title",
      "id": "section_title",
      "default": "EXPLORE THE LINEUP"
    },
    {
      "type": "image_picker",
      "label": "Top image",
      "id": "explore_top_image"
    },
    {
      "type": "text",
      "label": "First collection label",
      "id": "first_collection_label",
      "default": "For Desktop"
    },
    {
      "type": "text",
      "label": "Second collection label",
      "id": "second_collection_label",
      "default": "For travel"
    },
    {
      "type": "collection",
      "label": "First collection",
      "id": "first_collection"
    },
    {
      "type": "collection",
      "label": "Second collection",
      "id": "second_collection"
    }
  ],
  "presets": [
    {
      "name": "Explore the lineup"
    }
  ]
}
{% endschema %}

