{{ 'section-collections-with-nav.css' | asset_url | stylesheet_tag }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

{% if page.handle == 'test-sections' %}
  <script src="https://cdn.tailwindcss.com" defer></script>
{% endif %}

<section class="section-collections-with-nav py-[80px]">
    <nav class="section-collections-with-nav__navigation">
       <ul class="flex items-center justify-center gap-[10px]">
            {% for collection in section.settings.collections  %}
                {% assign collection_obj = collections[collection.handle] %}
                <li class="{% if forloop.index == 1 %}active {% endif %}">
                    <a href='#{{ collection_obj.handle }}' class="collection-link">{{ collection_obj.title }}</a>
                </li>
            {% endfor %}
       </ul>
    </nav>
  <div class="section-collections-with-nav__wrapper max-w-[960px] mx-auto grid gap-[40px] lg:gap-[60px]">
      {% for collection in section.settings.collections %}
        {% assign collection_obj = collections[collection.handle] %}
        <div class="collection" id="{{ collection_obj.handle  | strip }}" data-aos="fade-in" data-aos-duration="700">
          <h2 class="text-[38px] font-semibold text-black mb-[16px]">{{ collection_obj.title }}</h2>
          <div class="products grid grid-cols-4 gap-[20px]">
            {% for product in collection_obj.products %}
                <article class="section-collections-with-nav__product">
                      <figure class="section-collections-with-nav__product-image">
                          {{ product.featured_image | image_url: width: 360 | image_tag: height: 360 }}
                      </figure>

                      <div class="section-collections-with-nav__product-details">
                          <h4 class="section-collections-with-nav__product-title">{{ product.title }}</h4>
                          <div class="section-collections-with-nav__product-prices flex items-center flex-wrap">
                              <span class="section-collections-with-nav__product-price">{{ product.price | money }}</span>
                              {% if product.compare_at_price  %}
                                  <span class="section-collections-with-nav__product-price-compared">{{ product.compare_at_price | money }}</span>
                              {% endif %}
                          </div>

                          {% if product.metafields.custom.ticks %}
                            {{product.metafields.custom.ticks | metafield_tag }}
                          {% endif %}

                          <quantity-input class="quantity cart-quantity my-[20px] mx-auto">
                            <button class="quantity__button" name="minus" type="button">
                              {% render 'icon-minus' %}
                            </button>
                            <input
                              class="quantity__input"
                              type="number"
                              value="1"
                              min="1"
                            >
                            <button class="quantity__button" name="plus" type="button">
                              {% render 'icon-plus' %}
                            </button>
                          </quantity-input>
                          <button data-product-id="{{ product.selected_or_first_available_variant.id}}" data-quantity="1"
                            class="js-atc h-[45px] text-[18px] text-white font-semibold rounded-[22px] mb-[12px] bg-[#60c655]"
                        >
                            Add To Cart
                        </button>

                        <a href="{{ product.url }}" class="text-[#60c655] text-center underline font-medium text-[16px] block mt-auto">Learn more</a>
                      </div>
                  </article>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  </div>
</section>

<script>
    AOS.init();
    document.addEventListener("shopify:section:load", () => {
      AOS.init();
    })
  </script>
  
<script src="{{ 'section-collections-with-nav.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Collections with nav",
  "settings": [
    {
      "type": "collection_list",
      "label": "Collections",
      "id": "collections"
    }
  ],
  "presets": [
    {
      "name": "Collections with nav"
    }
  ]
}
{% endschema %}