{{ 'section-collections-with-nav.css' | asset_url | stylesheet_tag }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

{% if page.handle == 'test-sections' %}
  <script src="https://cdn.tailwindcss.com" defer></script>
{% endif %}

<section class="section-collections-with-nav">
    <nav class="section-collections-with-nav__navigation py-[20px] bg-white tp-sticky">
       <ul class="flex items-center justify-center gap-[10px]">
            {% for collection in section.settings.collections  %}
                {% assign collection_obj = collections[collection.handle] %}
                <li class="{% if forloop.index == 1 %}active {% endif %}">
                    <a href='#{{ collection_obj.handle }}' class="collection-link">{{ collection_obj.title }}</a>
                </li>
            {% endfor %}
       </ul>
    </nav>
  <div class="section-collections-with-nav__wrapper max-w-[1200px] mx-auto grid gap-[40px] lg:gap-[60px] py-[40px]">
      {% for collection in section.settings.collections %}
        {% assign collection_obj = collections[collection.handle] %}
        <div class="collection" id="{{ collection_obj.handle  | strip }}" data-aos="fade-in" data-aos-duration="700">
          <h2 class="lg:text-[50px] md:text-[38px] font-semibold text-black mb-[16px] text-center">{{ collection_obj.title }}</h2>
          <div class="products grid grid-cols-4 gap-[20px]">
            {% for product in collection_obj.products %}
                <article class="section-collections-with-nav__product relative" data-product-id="{{ product.id }}">
                  <a class="!block absolute w-full h-full top-0 left-0" href="{{ product.url }}"></a>
                      <figure class="section-collections-with-nav__product-image">

                          {% if product.metafields.custom.new_shop_image %}
                            <img src="{{ product.metafields.custom.new_shop_image | image_url}}" width="360" height="auto" class="object-cover">
                          {% else %}
                            {{ product.featured_image | image_url: width: 360 | image_tag: height: 360 }}
                          {% endif %}
                      </figure>

                      <div class="section-collections-with-nav__product-details justify-between">
                          <div class="top-part">
                            <h4 class="section-collections-with-nav__product-title text-center min-h-[50px]">{{ product.title }}</h4>


                            {% if product.metafields.custom.ticks %}
                              {{product.metafields.custom.ticks | metafield_tag }}
                            {% endif %}
                            <div class="section-collections-with-nav__product-prices flex items-center flex-wrap text-center md:justify-between justify-center mt-[10px]">
                              <div clas="prices">
                                <span class="section-collections-with-nav__product-price">{{ product.price | money }}</span>
                                {% if product.compare_at_price  %}
                                    <span class="section-collections-with-nav__product-price-compared">{{ product.compare_at_price | money }}</span>
                                {% endif %}
                              </div>
                              <a href="{{ product.url }}" class="arrow">
                                <img class="w-full ml-[5px]" width="100" height="auto" src="https://cdn.shopify.com/s/files/1/0071/1727/5191/files/Arrow.png?v=1730800298">
                              </a>
                            </div>
                            {% comment %} <div class="variant-selectors text-center myb-[5px] mt-[10px]">
                              {% for option in product.options_with_values %}
                                {% if option.name != 'Title' or option.values[0] != 'Default Title' %}
                                  <label for="option-{{ option.name | handle }}" class="text-[16px] font-semibold">{{ option.name }}</label>
                                  <select class="variant-selector rounded-[10px] p-[5px] min-w-[100px] md:min-w-[200px] mb-[10px] text-center" data-option-index="{{ forloop.index }}">
                                    {% comment %} <option value="" disabled selected>Select {{ option.name }}</option> {% endcomment %}
                                    {% for value in option.values %}
                                      <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                  </select>
                                {% endif %}
                              {% endfor %}
                            </div> {% endcomment %}
                          </div>

                          {% comment %} <div class="bottom-part">
                            <quantity-input class="quantity cart-quantity my-[20px] mx-auto">
                              <button class="quantity__button" name="minus" type="button">
                                {% render 'icon-minus' %}
                              </button>
                              <input
                                class="quantity__input"
                                type="number"
                                value="1"
                                min="1"
                              >
                              <button class="quantity__button" name="plus" type="button">
                                {% render 'icon-plus' %}
                              </button>
                            </quantity-input>
                            <button data-product-id="{{ product.selected_or_first_available_variant.id}}" data-quantity="1"
                              class="js-atc h-[45px] text-[18px] text-white font-semibold rounded-[22px] mb-[12px] bg-[#60c655] w-full"
                          >
                              Add To Cart
                          </button>
                          <a href="{{ product.url }}" class="text-[#60c655] text-center underline font-medium text-[16px] block mt-auto">Learn more</a>

                        </div> {% endcomment %}
                      </div>
                  </article>
                  <script>
                    window.productVariants = window.productVariants || {};
                    window.productVariants[{{ product.id }}] = [
                      {% for variant in product.variants %}
                      {
                        id: '{{ variant.id }}',
                        options: [
                          {% for option in variant.options %}
                          '{{ option | escape }}' {% unless forloop.last %}, {% endunless %}
                          {% endfor %}
                        ]
                      }{% unless forloop.last %}, {% endunless %}
                      {% endfor %}
                    ];
                  </script>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
  </div>
</section>

<script>
    AOS.init();
    document.addEventListener("shopify:section:load", () => {
      AOS.init();
    })
  </script>

<script src="{{ 'section-collections-with-nav.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Collections with nav",
  "settings": [
    {
      "type": "collection_list",
      "label": "Collections",
      "id": "collections"
    }
  ],
  "presets": [
    {
      "name": "Collections with nav"
    }
  ]
}
{% endschema %}