{{ 'section-image-tabs.css' | asset_url | stylesheet_tag }}

{% liquid
  assign reverse_layout = section.settings.reverse_layout
  assign section_title = section.settings.section_title
  assign content_repeater = section.blocks | where: 'type', 'content_repeater'
  assign images_repeater = section.blocks | where: 'type', 'images_repeater'
  assign tabs_repeater = section.blocks | where: 'type', 'tabs_repeater'
%}

<section class="section-image-tabs">
  <div class="content-wrapper">
    {% if section_title != blank %}
      <h2 class="image-tabs__title">{{ section_title }}</h2>
    {% endif %}
    <div class="image-tabs__wrapper{% if reverse_layout %} image-tabs__wrapper--reversed{% endif %}">
      <div class="image-tabs__content">
        <div class="image-tabs__panels">
          {% for block in content_repeater %}
            {% liquid
              assign content_title = block.settings.content_title
              assign content_text = block.settings.content_text
            %}
            <div
              class="image-tabs__panel{% if forloop.index == 1 %} active {% endif %}"
              data-content="{{ forloop.index }}"
            >
              {% if content_title != blank %}
                <h2 class="image-tabs__content-title">{{ content_title }}</h2>
              {% endif %}

              {% if content_text != blank %}
                <p class="image-tabs__content-text">{{ content_text }}</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="image-tabs__actions">
          {% for block in tabs_repeater %}
            {% liquid
              assign tab_icon = block.settings.tab_icon
              assign tab_text = block.settings.tab_text
            %}
            <button
              class="image-tabs__button {% if forloop.index == 1 %} active {% endif %}"
              data-tab="{{ forloop.index }}"
            >
              {% if tab_icon %}
                {% render 'titan-image', image: tab_icon %}
              {% endif %}

              {% if tab_text != blank %}
                <span class="image-tabs__button-label">{{ tab_text }}</span>
              {% endif %}
            </button>
          {% endfor %}
        </div>
      </div>
      <div class="image-tabs__images">
        {% for block in images_repeater %}
          {% liquid
            assign tab_image = block.settings.tab_image
          %}

          <figure data-image="{{ forloop.index }}" class="{% if forloop.index == 1 %} active {% endif %}">
            {% render 'titan-image', image: tab_image %}
          </figure>
        {% endfor %}
        <div class="image-frames">
          <div class="image-frame">&nbsp;</div>
          <div class="image-frame">&nbsp;</div>
          <div class="image-frame">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ 'section-image-tabs.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Images with tabs",
  "settings": [
    {
      "type": "checkbox",
      "id": "reverse_layout",
      "label": "Image left",
      "default": false
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title"
    }
  ],
  "blocks": [
    {
      "type": "content_repeater",
      "name": "Content",
      "settings": [
        {
          "type": "text",
          "id": "content_title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "content_text",
          "label": "Copy"
        }
      ]
    },
    {
      "type": "images_repeater",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "tab_image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "tabs_repeater",
      "name": "Tab",
      "settings": [
        {
          "type": "image_picker",
          "id": "tab_icon",
          "label": "Tab icon"
        },
        {
          "type": "text",
          "id": "tab_text",
          "label": "Tab label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Images with tabs"
    }
  ]
}
{% endschema %}
