{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/> {% endcomment %}
<div class="slider-outer">
  <div class="swiper mySwiper slider-section">
    <div class="product-image__title slider-section__title product-image__title--zig color-black">
        <div class="product-image__title--stars product-template__wrapper--content__review--stars color-titan-yellow font-sans">★ ★ ★ ★ ★ </div>
        {{section.settings.title}}
        <div class="product-image__title--sub color-black">{{section.settings.subtitle}}</div>
    </div>
    <div class="swiper-wrapper">
     {% for block in section.blocks %}
      <div class="swiper-slide">
         <div class="slide-content">
            <div class="slide-content__image">
              <img src="{{block.settings.image | img_url: 'master'}}">
            </div>
            <div class="slide-content__text">
              {% if block.settings.title %}<div class="slide-content__text--product color-black uppercase">{{block.settings.title}}</div>{% endif %}
              <div class="slide-content__text--title color-black">{{block.settings.text}}</div>
              {% if block.settings.name %}<div class="slide-content__text--signature color-black">{{block.settings.name}}</div>{% endif %}
              <div class="product-image__title--teststars product-template__wrapper--content__review--stars color-titan-yellow font-sans">★ ★ ★ ★ ★ </div>
            </div>
         </div>
      </div>
     {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
{% schema %}
{
  "name": "Testimonial Slider",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slider Title",
      "default": "Supercharge Your Lifestyle."
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Slider Title",
      "default": "Loved and trusted by thousands.."
    }
  ],
  "blocks": [
    {
        "type": "slider",
        "name": "Testimonial",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Name"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Testimonial Slider",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
 {% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> {% endcomment %}
<script>
const swiper = new Swiper('.mySwiper', {
  slidesPerView: 1,
  spaceBetween: 30,
  pagination: {
    el: '.swiper-pagination',
    clickable: true
  },
  breakpoints: {
      768: {
        slidesPerView: 2,
      }
},
})
</script>