{% if page.handle == 'black-friday-2024' %}
<link href="{{ 'tracking-bar.css' | asset_url }}" rel="stylesheet" type="text/css">
<div  data-tracking-bar class="tracking-bar-container">
    <div class="tracking-bar-message" data-tracking-bar-message>
        Buy {{ section.blocks[0].settings.item_count }} items, save {{ section.blocks[0].settings.percentage_off }}%.
    </div>
    <div class="tracking-bar-progress">
      <div class="progress-bar" data-progress-bar></div>
    </div>
    <ul class="tracking-bar-blocks" data-tracking-bar-blocks>
      {% for block in section.blocks %}
        <li data-item-count="{{ block.settings.item_count }}" data-percentage-off="{{ block.settings.percentage_off }}">
          {{ block.settings.item_count }} items = {{ block.settings.percentage_off }}% off
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  {% schema %}
  {
    "name": "Tracking Bar",
    "settings": [],
    "blocks": [
      {
        "type": "discount-block",
        "name": "Discount Block",
        "settings": [
          {
            "id": "item_count",
            "type": "number",
            "label": "Number of Items",
            "default": 3
          },
          {
            "id": "percentage_off",
            "type": "number",
            "label": "Percentage Off",
            "default": 10
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tracking Bar",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
